<main id="pDoctor">
  <div class="breadcrumb">
    <div class="container"><a routerLink="/">{{'home' | translate}}</a> /
      <p>{{'find_a_doctor' | translate}}</p></div>
  </div>

  <div class="banner-doctor"
       [style.background]="'url(' + banner.large + ')'"
  >
    <div class="container">
      <div class="ct-banner">
        <img class="banner-careers-mb" src="{{ banner.large }}">
        <div class="copy">
          <h3>{{ banner.Title }}</h3>
          <p>{{ banner.Content }}</p>
        </div>
      </div>
    </div>
  </div>

  <section class="doctor-wrap" *ngIf="page">
    <div class="container">
      <div class="intro-dt">
        <h2>{{ page ? page.name : '' }}</h2>
        <div innerHTML="{{ page.longDesc | decodeHtmlEntities }}"></div>
      </div>
      <div class="op-dt-wrap window">
        <p class="cap"></p>
        <div class="op-dt clearfix">
          <app-doctor-filter-dropdown
            class="sl-wrap"
            [items]="clinics"
            value="value"
            (selected)="handleSelectedClinic($event)"
            placeholder="{{'select_a_specialty' | translate}}">
          </app-doctor-filter-dropdown>
          <app-doctor-filter-dropdown
            class="sl-wrap"
            [items]="filterDoctors"
            value="value"
            isNavigate="true"
            placeholder="{{'select_a_doctor' | translate}}">
          </app-doctor-filter-dropdown>
        </div>
      </div>

      <ul class="list-dt js-append-more">
        <li *ngFor="let doctor of currDoctors">
          <div class="item-doc">
            <div class="img">
              <div [style.background]="'url(' + doctor.picturePath + ')'"></div>
              <img class="img-1366" src="assets/images/dt.gif">
              <img src="assets/images/b.gif">
            </div>
            <div class="tt-doc-crs">
              <h2>{{ doctor.name }}</h2>
              <p>{{ doctor.categoryName }}</p>

            </div>
            <div class="copy">
              <p innerHTML="{{ doctor.shortDesc | decodeHtmlEntities }}"></p>
              <a routerLink="{{ doctor.url }}">
                <span>{{ 'learn_more' | translate }}</span>
              </a>
            </div>
            <a class="link" routerLink="{{ doctor.url }}"></a>
          </div>
        </li>

      </ul>
      <div class="btn-wrap" *ngIf="!hideShowMore">
        <a class="btn-showmore js-btn-loadmore" (click)="loadMore()">{{ 'show_more' | translate }}</a>
      </div>
    </div>
  </section>
</main>
