<main id="pDoctor">
  <div class="breadcrumb">
    <div class="container"><a href="index.html">Home</a> / <p>Find a Doctor</p></div>
  </div>
  <div class="banner-doctor" style="background: url(storage/2018/07/find-doctor1531998534.jpg) no-repeat;">
    <div class="container">
      <div class="ct-banner">
        <div class="copy">
          <h3>MEDICAL SERVICES THAT YOU CAN TRUST</h3>
          <p>Entrust your health to our doctors</p>
        </div>
      </div>
    </div>
  </div>

  <section class="doctor-wrap">
    <div class="container">
      <div class="intro-dt">
        <h2>Meet Our Doctors</h2>
        <p style="text-align: justify;">At AIH, we have developed a team of highly qualified and experienced staff
          working with care and compassion. The team consists of doctors with proven international working experience
          and solid educational background from American and European institutions. Our heads of departments are leading
          Professors, Associate Professors and Doctors, each with more than 20 years of experience in the health
          sector.</p>
        <p style="text-align: justify;">When visiting our doctors, patients at AIH will always be provided with
          sufficient information on health conditions, treatment options and aftercare support. For our medical team,
          being a good doctor requires not only qualifications but also a deep empathy towards patients and families&rsquo;
          desires.</p>
        <p style="text-align: justify;">We understand that clinical research and training are of great value to the
          professional development of a hospital. For that reason, AIH has now established strategic alliances with
          world well-known medical systems in the U.S. The collaboration is intended to enhance existing services and to
          support the expansion of new medical services that would be offered at American International Hospital, by
          leveraging the expertise and resources in clinical excellence, education, and digital innovations.</p>
        <p style="text-align: justify;"><em>- To book an appointment with our doctors, please use the <strong><u>Online
          Booking</u></strong>&nbsp;tool above.<br/></em><em>- To have a closer look at our doctors&rsquo; profile,
          please refer to the list below. Select a specialty first to narrow the list, or if you know the doctor&rsquo;s
          name please select it from the right column below.</em></p>
      </div>
      <div class="op-dt-wrap">
        <p class="cap">

        </p>
        <div class="op-dt clearfix">
          <div class="sl-wrap js-cselect" data-target="department">
            <select class="custom-sl js-change-department" data-href="api/doctor/bydepart.json">
              <option value="hide">Select a specialty</option>
              <option value="1">Obstetrics &amp; Gynecology</option>
              <option value="2">Pediatrics</option>
              <option value="3">General Surgery</option>
              <option value="4">Urology &amp; Andrology</option>
              <option value="5">Gastroenterology - Hepatology</option>
              <option value="6">Oncology</option>
              <option value="7">Ophthalmology</option>
              <option value="10">Orthopedics</option>
              <option value="11">Cardiology</option>
              <option value="12">Physiotherapy - Rehabilitation</option>
              <option value="13">Internal Medicine</option>
              <option value="14">Cosmetic Care</option>
              <option value="16">Otorhinolaryngology (ENT)</option>
              <option value="23">Imaging</option>
              <option value="24">Laboratory</option>
              <option value="25">Outpatient and Health Check-up</option>
              <option value="26">Emergency &amp; ICU</option>
              <option value="27">Anesthesiology</option>
              <option value="28">Nutrition</option>

            </select>
          </div>
          <div class="sl-wrap select-doctor js-cselect" data-target="doctor">
            <select class="custom-sl js-select-doctor">
              <option value="">Select a doctor</option>
              <option value="doctor/detail/23-tran-hong-phuc-md.html">Tran Hong Phuc, MD.</option>
              <option value="doctor/detail/25-nguyen-tan-cuong-md-msc.html">Nguyen Tan Cuong, MD., MSc.</option>
              <option value="doctor/detail/26-nguyen-thanh-tin-md.html">Nguyen Thanh Tin, MD.</option>
              <option value="doctor/detail/28-tran-thi-khue-vy-md.html">Tran Thi Khue Vy, MD.</option>
              <option value="doctor/detail/29-le-thi-thanh-loan-md.html">Le Thi Thanh Loan, MD.</option>
              <option value="doctor/detail/30-nguyen-quang-manh-md.html">Nguyen Quang Manh, MD.</option>
              <option value="doctor/detail/31-truong-da-uyen-md.html">Truong Da Uyen, MD.</option>
              <option value="doctor/detail/32-pham-cong-luan-md-msc.html">Pham Cong Luan, MD., MSc.</option>
              <option value="doctor/detail/33-le-trieu-hai-md-msc.html">Le Trieu Hai, MD., MSc.</option>
              <option value="doctor/detail/35-tran-luc-md">Tran Luc, MD.</option>
              <option value="doctor/detail/36-do-minh-hung-md-msc-phd.html">Do Minh Hung, MD., MSc., PhD.</option>
              <option value="doctor/detail/37-le-huu-dat-md.html">Le Huu Dat, MD.</option>
              <option value="doctor/detail/38-nguyen-quang-dien-md.html">Nguyen Quang Dien, MD.</option>
              <option value="doctor/detail/39-nguyen-nghiem-tuan-md-msc.html">Nguyen Nghiem Tuan, MD., MSc.</option>
              <option value="doctor/detail/40-vo-lam-kha-thu-md-msc.html">Vo Lam Kha Thu, MD., MSc.</option>
              <option value="doctor/detail/41-nguyen-thi-nhu-ai-md.html">Nguyen Thi Nhu Ai, MD.</option>
              <option value="doctor/detail/42-duong-xuan-nguyen-md-msc.html">Duong Xuan Nguyen, MD., MSc.</option>
              <option value="doctor/detail/43-tran-thi-thu-thao-md.html">Tran Thi Thu Thao, MD.</option>
              <option value="doctor/detail/44-bui-thi-thuy-tam-md-msc.html">Bui Thi Thuy Tam, MD., MSc.</option>
              <option value="doctor/detail/45-hoang-tho-khanh-toan-md-msc.html">Hoang Tho Khanh Toan, MD., MSc.</option>
              <option value="doctor/detail/46-nguyen-thi-hong-huyen-md-msc.html">Nguyen Thi Hong Huyen, MD., MSc.
              </option>
              <option value="doctor/detail/47-le-thi-thanh-liem-md-msc.html">Le Thi Thanh Liem, MD., MSc.</option>
              <option value="doctor/detail/48-phan-tuan-trong-md.html">Phan Tuan Trong, MD.</option>
              <option value="doctor/detail/49-tran-thanh-cong-md.html">Tran Thanh Cong, MD.</option>
              <option value="doctor/detail/50-tran-trinh-trung-nam-md-msc.html">Tran Trinh Trung Nam, MD., MSc.</option>
              <option value="doctor/detail/52-nguyen-dinh-my-md.html">Nguyen Dinh My, MD.</option>
              <option value="doctor/detail/55-le-hong-ha-md.html">Le Hong Ha, MD.</option>
              <option value="doctor/detail/56-tran-huu-duy-md-msc.html">Tran Huu Duy, MD., MSc.</option>
              <option value="doctor/detail/57-ho-chau-anh-thu-md.html">Ho Chau Anh Thu, MD.</option>
              <option value="doctor/detail/59-huynh-tan-duc-md.html">Huynh Tan Duc, MD.</option>
              <option value="doctor/detail/60-duong-thuy-lien-md-msc.html">Duong Thuy Lien, MD., MSc.</option>
              <option value="doctor/detail/61-vu-ngoc-chuc-md-msc.html">Vu Ngoc Chuc, MD., MSc.</option>
              <option value="doctor/detail/62-nguyen-ngoc-tien-md-msc-phd.html">Nguyen Ngoc Tien, MD., MSc., PhD.
              </option>
              <option value="doctor/detail/63-to-van-quyen-md.html">To Van Quyen, MD.</option>
              <option value="doctor/detail/64-jean-francois-louis-biset-md.html">Jean-Francois Louis BISET, MD.</option>
              <option value="doctor/detail/65-prof-nguyen-duy-tai-md-phd.html">Prof. Nguyen Duy Tai, MD., PhD.</option>
              <option value="doctor/detail/66-aron-schuftan-md.html">Aron Schuftan, MD.</option>
              <option value="doctor/detail/67-tran-thi-ngoc-chau-msc.html">Tran Thi Ngoc Chau, MSc.</option>
              <option value="doctor/detail/68-le-thi-giao-my-md.html">Le Thi Giao My, MD.</option>
              <option value="doctor/detail/72-nguyen-thi-phuoc-van-md.html">Nguyen Thi Phuoc Van, MD.</option>
              <option value="doctor/detail/73-nguyen-ba-phuoc-md.html">Nguyen Ba Phuoc, MD.</option>
              <option value="doctor/detail/74-vu-viet-van-md.html">Vu Viet Van, MD.</option>
              <option value="doctor/detail/76-nguyen-thi-ngoc-anh-md.html">Nguyen Thi Ngoc Anh, MD.</option>
              <option value="doctor/detail/77-ngo-thanh-mai-md.html">Ngo Thanh Mai, MD.</option>
              <option value="doctor/detail/78-vuong-thuy-huong-md.html">Vuong Thuy Huong, MD.</option>
              <option value="doctor/detail/79-tran-anh-tan-md.html">Tran Anh Tan, MD.</option>
              <option value="doctor/detail/80-tran-thu-phuong-md.html">Tran Thu Phuong, MD.</option>
              <option value="doctor/detail/81-nguyen-thi-thuy-lan-md.html">Nguyen Thi Thuy Lan, MD.</option>
              <option value="doctor/detail/82-la-thi-bach-ly-md-msc.html">La Thi Bach Ly, MD., MSc.,</option>
              <option value="doctor/detail/83-viet-thanh-nha-md-msc.html">Viet Thanh Nha, MD., MSc,</option>
              <option value="doctor/detail/84-huynh-doan-phuong-mai-md-msc.html">Huynh Doan Phuong Mai, MD., MSc.
              </option>
              <option value="doctor/detail/85-vo-trong-hao-md-msc.html">Vo Trong Hao, MD., MSc.</option>
              <option value="doctor/detail/86-doan-chau-quynh-md-msc.html">Doan Chau Quynh, MD., MSc.</option>
              <option value="doctor/detail/87-hoang-thi-thanh-thao-md.html">Hoang Thi Thanh Thao, MD.</option>
              <option value="doctor/detail/88-mai-thanh-cuc-md.html">MAI THANH CUC, MD.</option>

            </select>
          </div>
        </div>
      </div>
      <ul class="list-dt js-append-more">
        <li>
          <div class="item-doc">
            <div class="img">
              <div style="background: url(storage/2018/09/nguyen-ngoc-tien1536984195.png);"></div>
              <img class="img-1366" src="assets/images/dt.gif">
              <img src="assets/images/b.gif">
            </div>
            <div class="tt-doc-crs">
              <h2>Nguyen Ngoc Tien, MD., MSc., PhD.</h2>
              <p>Urology &amp; Andrology</p>

            </div>
            <div class="copy">
              <p>Dr. Nguyen Ngoc Tien is a senior medical executive with nearly 30 years of experience in medical care
                and...</p>
              <a href="doctor/detail/62-nguyen-ngoc-tien-md-msc-phd.html">
                <span>Learn more</span>
              </a>
            </div>
            <a class="link" href="doctor/detail/62-nguyen-ngoc-tien-md-msc-phd.html"></a>
          </div>
        </li>
        <li>
          <div class="item-doc">
            <div class="img">
              <div style="background: url(storage/2018/10/biset1539335466.png);"></div>
              <img class="img-1366" src="assets/images/dt.gif">
              <img src="assets/images/b.gif">
            </div>
            <div class="tt-doc-crs">
              <h2>Jean-Francois Louis BISET, MD.</h2>
              <p>Urology &amp; Andrology</p>

            </div>
            <div class="copy">
              <p>Having professional experience in many countries in the past 27 years, Dr. Jean-Francois Louis BISET,
                an expert...</p>
              <a href="doctor/detail/64-jean-francois-louis-biset-md.html">
                <span>Learn more</span>
              </a>
            </div>
            <a class="link" href="doctor/detail/64-jean-francois-louis-biset-md.html"></a>
          </div>
        </li>
        <li>
          <div class="item-doc">
            <div class="img">
              <div style="background: url(storage/2018/10/aron-schuftan1539848302.png);"></div>
              <img class="img-1366" src="assets/images/dt.gif">
              <img src="assets/images/b.gif">
            </div>
            <div class="tt-doc-crs">
              <h2>Aron Schuftan, MD.</h2>
              <p>Obstetrics &amp; Gynecology</p>

            </div>
            <div class="copy">
              <p>Dr. Aron Schuftan is U.S. Board Certified obstetrician and gynecologist who moved to work in Vietnam 4
                years ago...</p>
              <a href="doctor/detail/66-aron-schuftan-md.html">
                <span>Learn more</span>
              </a>
            </div>
            <a class="link" href="doctor/detail/66-aron-schuftan-md.html"></a>
          </div>
        </li>
        <li>
          <div class="item-doc">
            <div class="img">
              <div style="background: url(storage/2018/10/nguyen-duy-tai1539760874.jpg);"></div>
              <img class="img-1366" src="assets/images/dt.gif">
              <img src="assets/images/b.gif">
            </div>
            <div class="tt-doc-crs">
              <h2>Prof. Nguyen Duy Tai, MD., PhD.</h2>
              <p>Obstetrics &amp; Gynecology</p>

            </div>
            <div class="copy">
              <p>Professor Nguyen Duy Tai is a distinguished and exceptional individual who is widely recognized in her
                field of...</p>
              <a href="doctor/detail/65-prof-nguyen-duy-tai-md-phd.html">
                <span>Learn more</span>
              </a>
            </div>
            <a class="link" href="doctor/detail/65-prof-nguyen-duy-tai-md-phd.html"></a>
          </div>
        </li>
        <li>
          <div class="item-doc">
            <div class="img">
              <div style="background: url(storage/2018/08/le-huu-dat1535521408.jpg);"></div>
              <img class="img-1366" src="assets/images/dt.gif">
              <img src="assets/images/b.gif">
            </div>
            <div class="tt-doc-crs">
              <h2>Le Huu Dat, MD.</h2>
              <p>Anesthesiology</p>

            </div>
            <div class="copy">
              <p>Dr. Le Huu Dat has nearly 30 years working in anesthesiology at Cho Ray Hospital Ho Chi Minh City.
                Being an...</p>
              <a href="doctor/detail/37-le-huu-dat-md.html">
                <span>Learn more</span>
              </a>
            </div>
            <a class="link" href="doctor/detail/37-le-huu-dat-md.html"></a>
          </div>
        </li>
        <li>
          <div class="item-doc">
            <div class="img">
              <div style="background: url(../aih.com.vn/storage/2018/08/do-minh-hung1535521496.jpg);"></div>
              <img class="img-1366" src="assets/images/dt.gif">
              <img src="assets/images/b.gif">
            </div>
            <div class="tt-doc-crs">
              <h2>Do Minh Hung, MD., MSc., PhD.</h2>
              <p>General Surgery</p>

            </div>
            <div class="copy">
              <p>Dr. Hung is widely known as one of the most reputable surgical doctors in Ho Chi Minh City, especially
                for his...</p>
              <a href="doctor/detail/36-do-minh-hung-md-msc-phd.html">
                <span>Learn more</span>
              </a>
            </div>
            <a class="link" href="doctor/detail/36-do-minh-hung-md-msc-phd.html"></a>
          </div>
        </li>
        <li>
          <div class="item-doc">
            <div class="img">
              <div style="background: url(storage/2018/08/pham-cong-luan1535521300.jpg);"></div>
              <img class="img-1366" src="assets/images/dt.gif">
              <img src="assets/images/b.gif">
            </div>
            <div class="tt-doc-crs">
              <h2>Pham Cong Luan, MD., MSc.</h2>
              <p>Pediatrics</p>

            </div>
            <div class="copy">
              <p>Dr. Pham Cong Luan is a pediatrician and a talented specialist. He works with AIH to implement the
                mission of...</p>
              <a href="doctor/detail/32-pham-cong-luan-md-msc.html">
                <span>Learn more</span>
              </a>
            </div>
            <a class="link" href="doctor/detail/32-pham-cong-luan-md-msc.html"></a>
          </div>
        </li>
        <li>
          <div class="item-doc">
            <div class="img">
              <div style="background: url(storage/2018/08/truong-da-uyen1535521593.jpg);"></div>
              <img class="img-1366" src="assets/images/dt.gif">
              <img src="assets/images/b.gif">
            </div>
            <div class="tt-doc-crs">
              <h2>Truong Da Uyen, MD.</h2>
              <p>Outpatient and Health Check-up</p>

            </div>
            <div class="copy">
              <p>Dr. Truong Da Uyen is an endocrinological expert with 20 years of experience in diagnosis, treatment
                and...</p>
              <a href="doctor/detail/31-truong-da-uyen-md.html">
                <span>Learn more</span>
              </a>
            </div>
            <a class="link" href="doctor/detail/31-truong-da-uyen-md.html"></a>
          </div>
        </li>
      </ul>
      <div class="btn-wrap">
        <a class="btn-showmore js-btn-loadmore" data-maxpage="7" data-page="2" href="doctor.html">Show more</a>
      </div>
    </div>
  </section>
</main>
