<div class="item-doc">
	<div class="img">
		<div style="background: url(storage/2018/09/nguyen-ngoc-tien1536984195.png);"></div>
		<img class="img-1366" src="assets/images/dt.gif">
		<img src="assets/images/b.gif">
	</div>
	<div class="tt-doc-crs">
		<h2>TS. BS. Nguyễn Ngọc Tiến</h2>
		<p>Khoa Thận Niệu - Nam khoa</p>
		
	</div>
	<div class="copy">
		<p>Là chuyên gia về niệu khoa được đào tạo tại Việt Nam, Pháp và Bỉ, với gần 30 năm kinh...</p>
		<a href="doctor/detail/62-nguyen-ngoc-tien-md-msc-phd.html">
			<span>Tìm hiểu thêm</span>
		</a>
	</div>
	<a class="link" href="doctor/detail/62-nguyen-ngoc-tien-md-msc-phd.html"></a>
</div>