<div class="tt-item tt-item-doctor" [ngClass]="{ 'active': doctors && doctors.length > 0 }" *ngIf="doctors && doctors.length > 0">
  <div *ngIf="!isDetail">
    <a href="{{ urlService.getUrlByKey('doctor') }}">{{ 'our_doctors' | translate }}</a>
    <h4>{{ 'professionals' | translate }}</h4>
  </div>
  <div *ngIf="isDetail">
    <a href="{{ urlService.getUrlByKey('doctor') }}">{{ 'doctor' | translate }}</a>
  </div>
  <div class="btn-crs" *ngIf="doctors && doctors.length > 4">
    <span class="btn-prev crs-prev" (click)="slickModal.slickPrev()"></span>
    <span class="btn-next crs-next" (click)="slickModal.slickNext()"></span>
  </div>
</div>
<div class="crs-style1" #sliderContainer myMatchHeight="copy-p">
  <ul myMatchHeight="tt-doc-crs">
    <ngx-slick-carousel [config]="slideConfig" #slickModal="slick-carousel" (init)="sliderInit($event)"  (beforeChange)="onBeforeChange($event)" (afterChange)="onAfterChange($event)">
      <li *ngFor="let doctor of doctors;trackBy: trackDoctorId" ngxSlickItem (deferLoad)="doctor.showImg = true">
        <div class="item-doc" *ngIf="doctor.showContent">
          <div class="img">
            <div [style.background]="'url(' + (doctor.showImg ? doctor.picturePath : '') + ')'"></div>
            <img class="img-1366" src="assets/images/dt.gif" />
            <img src="assets/images/b.gif" />
          </div>
          <div class="tt-doc-crs">
            <h2>{{ doctor.name }}</h2>
            <p>{{ doctor.categoryName }}</p>
          </div>
          <div class="copy">
            <p class="copy-p"><span *ngIf="doctor.shortDesc"
                [innerHTML]="doctor.shortDesc | decodeHtmlEntities | safeHtml"></span></p>
            <a routerLink="{{ doctor.url }}">
              <span>{{ 'learn_more' | translate }}</span>
            </a>
          </div>
          <a class="link" routerLink="{{ doctor.url }}"></a>
        </div>
      </li>
    </ngx-slick-carousel>
  </ul>
  <div class="btn-wrap show-mb">
    <a class="btn-showmore" (click)="readMore()" *ngIf="isShowReadMore()">{{ 'show_more' | translate }}</a>
  </div>
</div>
