.news-wrap {
  padding-top: 40px;

  h2 {
    text-align: center;
    font-size: 40px;
    color: #007297;

    span {
      display: inline-block;
      border-bottom: 2px solid #e1115b;
    }
  }
}

@media screen and (max-width:769px) {
  .news-wrap {
    h2 {
      font-size: 30px;
    }
  }
}

@media all and (max-width:769px) and (orientation:portrait) {
  .news-wrap {
    h2 {
      font-size: 25px
    }
  }
}