<main id="pNewsVideo">
  <div class="breadcrumb">
    <div class="container"><a href="index.html">Home</a> / <p>Video</p></div>
  </div>
  <section class="news-wrap" *ngIf="video">
    <div class="container clearfix">
      <h2><span>Video</span></h2>
      <div class="video-banner">
        <div id="videoBn" class="youtube-player">
          <img src="{{ video.thumb }}">
          <div class="play-video js-open-video" datavideo="NOyHViArrLo"></div>
        </div>

        <div class="copy">
          <h3>{{ video.title }}</h3>
        </div>
      </div>
      <div class="list-video-wrap">
        <div class="top-video">
          <h3><span>{{ video.title }}</span></h3>
          <p>{{ video.description }}</p>
        </div>
        <div class="news-list-wrap">
          <ul class="clearfix js-append-more">

            <li *ngFor="let v of videos">
              <div class="item-news">
                <div class="img has-video">
                  <div
                    [style.background]="'url(' + v.thumb + ')'"
                  ></div>
                  <img src="assets/images/b.gif">
                </div>
                <div class="tt-news">
                  <p class="date">October 25, 2018</p>
                </div>
                <div class="copy">
                  <h2>{{ v.title }}</h2>
                  <p>{{ v.description }}</p>
                </div>
                <a class="link-all js-open-video" datavideo="NOyHViArrLo" href="#"></a>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </section>

</main>
