<main id="pNewsVideo">
  <div class="breadcrumb">
    <div class="container"><a href="index.html">Home</a> / <p>Video</p></div>
  </div>
  <section class="news-wrap">
    <div class="container clearfix">
      <h2><span>Video</span></h2>
      <div class="video-banner">
        <div id="videoBn" class="youtube-player">
          <img src="storage/2018/06/bg-video1528281638.jpg">
          <div class="play-video js-open-video" datavideo="NOyHViArrLo"></div>
        </div>

        <div class="copy">
          <h3>EXCELLENT CARE,
            BEYOND YOUR EXPECTATION</h3>
        </div>
      </div>
      <div class="list-video-wrap">
        <div class="top-video">
          <h3><span>WELCOME TO AIH HOSPITAL</span></h3>
          <p>American International Hospital (AIH) is the pioneer international hospital in Vietnam following both JCI
            and American standards in design and construction, in diagnosis and treatment, in operation and management.
            AIH commits to bringing comprehensive American standard healthcare services to patients in Vietnam.</p>
        </div>
        <div class="news-list-wrap">
          <ul class="clearfix js-append-more">
            <li>
              <div class="item-news">
                <div class="img has-video">
                  <div style="background: url(storage/2018/10/video-aih-1000x10001540434877.jpg);"></div>
                  <img src="assets/images/b.gif">
                </div>
                <div class="tt-news">
                  <p class="date">October 25, 2018</p>
                </div>
                <div class="copy">
                  <h2>An introduction to American International Hospital</h2>
                  <p>At AIH, we commit ourselves to providing the excellence in implementing our mission of bringing
                    American standard healthcare services to Vietnam.</p>
                </div>
                <a class="link-all js-open-video" datavideo="NOyHViArrLo" href="#"></a>
              </div>
            </li>
            <li>
              <div class="item-news">
                <div class="img has-video">
                  <div style="background: url(storage/2018/10/video-mc-quoc-khanh-1000x10001540435053.jpg);"></div>
                  <img src="assets/images/b.gif">
                </div>
                <div class="tt-news">
                  <p class="date">October 25, 2018</p>
                </div>
                <div class="copy">
                  <h2>MC Quoc Khanh explores best-in class services at AIH</h2>
                  <p>&quot;For some people this is the place where you can get effective treatments. For me this is a
                    place where hopes happen.&quot;</p>
                </div>
                <a class="link-all js-open-video" datavideo="ZZ08HeA31lE" href="#"></a>
              </div>
            </li>
            <li>
              <div class="item-news">
                <div class="img has-video">
                  <div style="background: url(storage/2018/10/video-the-gift-21540443850.png);"></div>
                  <img src="assets/images/b.gif">
                </div>
                <div class="tt-news">
                  <p class="date">October 25, 2018</p>
                </div>
                <div class="copy">
                  <h2>The gift - Always by your side</h2>
                  <p>Husbands can still be a team player when it comes to pregnancy with their vital role of giving
                    support. AIH&#039;s LDRP room is a special gift to let her know you are her great advocate during
                    delivery.</p>
                </div>
                <a class="link-all js-open-video" datavideo="00lz95U6yTI" href="#"></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

</main>
