@import '../../../../variable';

.doctor-dt-wrap {
  .container {
    .content-dt {
      min-height: 350px;
    }
  }

  .js-submit-page {
    color: $color-white;
    cursor: pointer;
  }
}

.alert-dt.show {
  display: block;
}

.btn-mobile {
  display: none;
}

.btn-desktop {
  display: block;
}

@media (max-width: 1024px) {
  .btn-mobile {
    display: block;
  }

  .btn-desktop {
    display: none;
  }
}
