<main id="pDoctorDetail" *ngIf="doctor">
  <div class="breadcrumb">
    <div class="container"><a routerLink="/">{{'home' | translate}}</a> /
      <a href="{{ urlService.getUrlByKey('doctor') }}">{{'find_a_doctor' | translate}}</a> /
      <p>{{ doctor ? doctor.name : '' }}</p>
    </div>
  </div>
  <section class="doctor-dt-wrap">
    <div class="container">
      <div class="main-info">
        <h2>{{ doctor ? doctor.name : '' }}</h2>
        <p>{{ doctor ? doctor.categoryName : '' }}</p>
      </div>
      <div class="content-dt">
        <div class="sub-info">
          <h3>{{'profile_details' | translate}}</h3>
          <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td>{{'degree' | translate}}</td>
              <td>{{doctor.meta.title}}</td>
            </tr>
            <tr>
              <td width="50%">{{'title' | translate}}</td>
              <td width="50%">{{doctor.meta.position}}</td>
            </tr>
            <tr>
              <td>{{'specialty' | translate}}</td>
              <td>{{doctor.meta.specialist}}</td>
            </tr>
            <tr>
              <td>{{'experience' | translate}}</td>
              <td>{{doctor.meta.experience}}</td>
            </tr>
          </table>
          <div class="btn-wrap">
            <a data-doctor="23" class="btn-page js-submit-page btn-desktop" (click)="bookDoctor()">{{'book_an_appointment' | translate}}</a>
            <a data-doctor="23" class="btn-page js-submit-page btn-mobile" (click)="bookDoctor(true)">{{'book_an_appointment' | translate}}</a>
            <p class="alert-dt  {{ isShowWarning ? 'show' : '' }}">{{'please_continue_your_booking_on_above_booking_funtion' | translate}}</p>
          </div>
        </div>
        <div class="copy content-for-detail">
          <span *ngIf="doctor.longDesc" [innerHTML]="doctor.longDesc | safeHtml"></span>
        </div>
      </div>

      <div class="btn-dt clearfix">
        <a *ngIf="postPrev" class="prev-doctor" routerLink="{{ postPrev.url }}">{{'previous_link' | translate}}
          <br><span>{{ postPrev.name }}</span>
        </a>
        <a *ngIf="postNext" class="next-doctor" routerLink="{{ postNext.url }}">{{'next_link' | translate}}
          <br/><span>{{ postNext.name }}</span>
        </a>
      </div>

    </div>
  </section>

  <app-section-doctor></app-section-doctor>
</main>
