<div [ngClass]="pageClasses">
  <div class="h-wrapper" [ngClass]="{'h-wrapper-show': banners && banners.length}">
    <app-header-home *ngIf="banners && banners.length"></app-header-home>
  </div>
  <main id="pHome">
    <app-banner [banners]="banners"></app-banner>
    <app-section-booking-mb *ngIf="isMobile || isTablet"></app-section-booking-mb>
    <app-section-booking-home *ngIf="isDesktopDevice || isTablet"></app-section-booking-home>
    <app-section-doctor></app-section-doctor>
    <app-section-news></app-section-news>
    <app-section-testimo></app-section-testimo>
    <app-section-partner></app-section-partner>
    <app-section-map></app-section-map>
  </main>
  <app-footer></app-footer>
</div>
