<main id="page-medical" class="page-medical-all" *ngIf="page">
  <section>
    <div class="container">
      <div class="becrum clearfix">
        <a href="#"> Trang chủ</a> <span>/</span>
        <a class="active" href="#">Gói dịch vụ</a>
      </div>
      <div class="medical-content clearfix">
        <div class="box-left">
          <img src="../assets/images/medical.jpg" alt="">
        </div>
        <div class="box-right">
          <h2>{{ page ? page.name : '' }}</h2>
          <p innerHTML="{{ (page ? page.longDesc : '') | decodeHtmlEntities }}"></p>
        </div>
      </div>
      <a (click)="resetFormat()">Trở lại</a>
      <div class="medical-bottom clearfix" *ngIf="currentPackages">
        <div class="box-left">
          <p>CHỌN CHƯƠNG TRÌNH KIỂM TRA SỨC KHỎE TOÀN DIỆN</p>
          <a id="show-hidden-menu" (click)="onExpand()"><img src="../assets/images/icon-rg.png" alt="">Rút gọn</a>
        </div>

        <div class="box-right">
          <div class="box-left">
            <ul>
              <li>{{ currentPackages[0] ? currentPackages[0].name : '' }}</li>
              <li>
                <span *ngIf="currentPackages[0] && currentPackages[0].parentId !== 0">{{ currentPackages[0].meta.price }}</span>
                <span *ngIf="currentPackages[0] && currentPackages[0].parentId === 0"><input (click)="changeFormat(currentPackages[0].id)" type="radio" /></span>
              </li>
            </ul>
          </div>
          <div class="box-right">
            <ul>
              <li>{{ currentPackages[1] ? currentPackages[1].name : '' }}</li>
              <li>
                <span *ngIf="currentPackages[1] && currentPackages[1].parentId !== 0">{{ currentPackages[1].meta.price }}</span>
                <span *ngIf="currentPackages[1] && currentPackages[1].parentId === 0"><input (click)="changeFormat(currentPackages[1].id)" type="radio" /></span>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="medical-bottom medical-all clearfix">
        <div class="box-left"></div>
        <div class="box-right">
          <div class="box-left">
            <p innerHTML="{{ (currentPackages[0] ? currentPackages[0].desc : '') | decodeHtmlEntities }}"></p>
          </div>
          <div class="box-right">
            <p innerHTML="{{ (currentPackages[1] ? currentPackages[1].desc : '') | decodeHtmlEntities }}"></p>
          </div>
        </div>
      </div>

      <div class="box-details-medical {{ isExpand ? 'active': '' }} clearfix">

        <div class="box-table-medical" *ngFor="let currentPackageService of currentPackageServices">
          <div class="box-border-medical">
            <h5><span>{{ currentPackageService.name }}</span></h5>
          </div>
          <table class="table table-hover">
            <tbody>

            <tr *ngFor="let child of currentPackageService.children">
              <td>{{ child.no }}.{{ child.name }}</td>
              <td>
                <img src="../assets/images/check.png" alt="" *ngIf="child.meta.indexOf(currentPackages[0].id)"/>
                <img src="../assets/images/no-check.png" alt="" *ngIf="!child.meta.indexOf(currentPackages[0].id)">
              </td>
              <td>
                <img src="../assets/images/check.png" alt="" *ngIf="child.meta.indexOf(currentPackages[1].id)"/>
                <img src="../assets/images/no-check.png" alt="" *ngIf="!child.meta.indexOf(currentPackages[1].id)">
              </td>
            </tr>

            </tbody>
          </table>
        </div>

      </div>
      <div class="box-btn-medical clearfix">
        <a href="#" class="btn-medical">Đăng ký</a>
      </div>


    </div>
  </section>
</main>
