.pprice {
	color: #007297;
	font-size: 14px
}
.pno, .pname {
	float: left;
}
.pname {
	padding-left: 15px;
}
.medi-text {
	font-size: 16px;
    font-weight: bold;
    color: #007297;
    font-family: utm_avobold;
}

.choose-child-package {
	height: 50px;
    overflow: hidden;
  position: relative;
}

p.haveChildAnimate img{
  position: absolute;
  right: 0;
  top: 22px;
  margin-top:0
}

p span {
	word-break: break-all;
    white-space: nowrap;
    position: relative;
}

p span.animateSpan {
  -webkit-animation: 12s linear infinite moveLeft;
  animation: 12s linear infinite moveLeft
}

p.haveAnimate img{
  position: absolute;
  right: 0;
  top: 11px;
  margin-top:0
}

.box-details-medical {
 display: block;
}

#show-hidden-menu img {
  transform: rotate(0)
}

#show-hidden-menu.active img {
  transform: rotate(180deg)
}

.page-medical-all .medical-bottom .box-left p {
	font-size: 18px;
}

.medical-bottom .box-left p {
	/*text-align: left;*/
	//margin: 0 20px 0 50px;
}

.medical-bottom .box-left p img {
	margin-left: 15px;
	width: 20px;
	margin-top: -6px;
	transition: transform .3s ease;
	transform: rotate(0)
}

.medical-bottom .box-left.active p img {
	transform: rotate(180deg)
}

.medical-bottom .box-right .box-top, .medical-bottom .box-right .box-bottom{
	    width: 100%;
    float: left;
    background: #0199ca;
}

.medical-bottom .box-right .box-bottom {
	background: #0380b0
}

.medical-bottom .box-right .box-bottom {
	overflow: hidden
}

.medical-bottom .box-right .box-bottom p {
  margin-left: 50px;
}

.medical-bottom .box-right .box-bottom ul li {
	height: 50px;
}

.box-chosen {
	position: relative;
	cursor: pointer;
}

.box-top.active .choose-child-package img {
	transform: rotate(180deg)
}
.choose-child-package img {
	margin-left: 15px;
	width: 16px;
	margin-top: -3px;
	transition: transform .3s ease;
	transform: rotate(0)
}
.box-chosen ul {
	position: absolute;
    width: 100%;
    top: 100px;
    z-index: 10;
    background: #fff;
	display: none;
}

.box-chosen.active ul {
	display: block;
}

.box-detail {
	position: relative;
	cursor: pointer;
}

.box-detail ol {
	position: absolute;
    background: #fff;
    width: 100%;
    padding: 0;
	display: none;
	z-index: 10;
}

.box-detail.active ol {
	display: block;
}

.box-detail ol li {
	color: #666666;
	text-align: left;
	    padding-left: 20px;
	    cursor: pointer
}

.box-detail ol li:hover, .box-detail ol li.active {
	background: #cce3ea;
}

.box-chosen ul li {
	font-size: 16px;
	text-transform: uppercase;
	padding: 20px;
	color: #007297;
	cursor: pointer;
}

.box-chosen ul li:hover, .box-chosen ul li.active {
	background: #cce3ea;
	    font-family: utm_avobold;
	color: #007297
}

.box-details-medical .table tbody tr td:nth-child(2) {
	width: 50%
}

@media screen and (max-width: 1600px) and (min-width: 1200px) {
	.page-medical-all .medical-bottom .box-left p {
	    margin-top: 35px;
	}
}

@media (max-width: 1024px) {
	.medical-bottom .box-left p {
		width: 90%;
	}

	.box-detail ol {
		max-height: 175px;
		overflow-y: scroll;
	}

	.box-chosen ul {
		max-height: 175px;
		overflow-y: scroll;
	}
}

@media screen and (max-width: 767px){
	.medical-bottom .box-right .box-top {
	  width: 50%;
	}

	.medical-bottom .box-right .box-top ul {
		border-right: 1px solid #fff;
	}

	.medical-bottom .box-right .box-bottom {
	  width: 50%;
	}

	.medical-bottom .box-right .box-bottom {
		border-left: 1px solid #fff;
	}

	.medical-bottom .box-right .box-bottom ul li {
		height: 52px
	}

	.box-chosen ul {
		top: 50px;
	}

	.medical-bottom .box-right ul .divchild {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}

	.medical-bottom .box-right .box-bottom p {
		margin-left: 20px;
	}

	.box-detail ol {
		width: 200%;
		max-height: 175px;
		overflow-y: scroll;
	}
}

@media screen and (max-width: 480px){
	.page-medical-all .medical-bottom .box-left p {
	    font-size: 14px;
	    margin-top: 14px;
	}
	.medical-bottom  .box-right ul li {
	    font-size: 14px;
	    line-height: 48px;
	}

	.box-chosen ul li {
		font-size: 14px;
	}

	.medical-bottom .box-left p img {
		margin-left: 6px;
	    width: 13px;
	    margin-top: -4px;
	}

	.choose-child-package img {
		    margin-left: 6px;
		    width: 13px;
		    margin-top: -2px;
	}

	.box-chosen ul {
		max-height: 175px;
    	overflow-y: scroll;
	}

	.box-detail ol {
		width: 200%;
		max-height: 175px;
    	overflow-y: scroll;
	}

	.box-detail ol li {
		padding-left: 10px;
	}
}
