<main id="page-medical" class="page-medical-all" *ngIf="page">
  <section>
    <div class="container">
      <div class="becrum clearfix">
        <a routerLink="/"> {{ 'home' | translate }}</a> <span>/</span>
        <a class="active">{{ page ? page.name : '' }}</a>
      </div>
      <div class="medical-content clearfix">
        <div class="box-left">
          <img src="{{ page.picturePath }}" alt="">
        </div>
        <div class="box-right">
          <h2>{{ page ? page.name : '' }}</h2>
          <p innerHTML="{{ (page ? page.longDesc : '') | decodeHtmlEntities }}"></p>
        </div>
      </div>
      
      <div class="medical-bottom clearfix" *ngIf="currentPackages">
        <div class="box-left box-chosen">
          <p class="{{ isExpand ? 'active': '' }}" (click)="onExpand()">CHỌN GÓI DỊCH VỤ <img src="../assets/images/dropdown.png" alt=""></p>
          <a id="show-hidden-menu" ></a>
          <ul>
            <li>Chương trình khám sức khoẻ toàn diện</li>
            <li>Chương trình khám sức khoẻ tiêu chuẩn</li>
            <li>Chương trình sinh</li>
            <li>Chương trình theo dõi và chăm sóc</li>
          </ul>
        </div>

        <div class="box-right">
          <div class="box-top box-detail">
            <ul>
              <li>
                <p>CHỌN CHI TIẾT GÓI <img src="../assets/images/dropdown.png" alt=""></p>
                <ol>
                  <li>Nam</li>
                  <li>Nữ</li>
                </ol>
              </li>
            </ul>
          </div>
          <div class="box-bottom">
            <ul>
              <li>GIÁ DỊCH VỤ</li>
            </ul>
          </div>
        </div>

      </div>

      <div class="medical-bottom medical-all clearfix">
        <div class="box-left"></div>
        <div class="box-right">
          <div class="box-left">
            <p innerHTML="{{ (currentPackages[0] ? currentPackages[0].desc : '') | decodeHtmlEntities }}"></p>
          </div>
          <div class="box-right">
            <p innerHTML="{{ (currentPackages[1] ? currentPackages[1].desc : '') | decodeHtmlEntities }}"></p>
          </div>
        </div>
      </div>

      <div class="box-details-medical {{ isExpand ? 'active': '' }} clearfix">

        <div class="box-table-medical" *ngFor="let currentPackageService of currentPackageServices">
          <div class="box-border-medical">
            <h5><span>{{ currentPackageService.name }}</span></h5>
          </div>
          <table class="table table-hover">
            <tbody>

            <tr *ngFor="let child of currentPackageService.children">
              <td>{{ child.no }}.{{ child.name }}</td>
              <td>
                <img src="../assets/images/check.png" alt="" *ngIf="child.meta.indexOf(currentPackages[0].id)"/>
                <img src="../assets/images/no-check.png" alt="" *ngIf="!child.meta.indexOf(currentPackages[0].id)">
              </td>
              <!-- <td>
                <img src="../assets/images/check.png" alt="" *ngIf="child.meta.indexOf(currentPackages[1].id)"/>
                <img src="../assets/images/no-check.png" alt="" *ngIf="!child.meta.indexOf(currentPackages[1].id)">
              </td> -->
            </tr>

            </tbody>
          </table>
        </div>

      </div>

      <!--<div class="box-btn-medical clearfix">
        <a href="#" class="btn-medical">Đăng ký</a>
      </div>-->


    </div>
  </section>
</main>
