<main id="page-medical" class="page-medical-all" *ngIf="page">
  <section>
    <div class="container">
      <div class="becrum clearfix">
        <a routerLink="/"> {{ 'home' | translate }}</a> <span>/</span>
        <a class="active">{{ page ? page.name : '' }}</a>
      </div>
      <div class="medical-content clearfix">
        <div class="box-left">
          <img src="{{ page.picturePath }}" alt="">
        </div>
        <div class="box-right">
          <h2>{{ page ? page.name : '' }}</h2>
          <p [innerHTML]="(page ? page.longDesc : '') | safeHtml"></p>
        </div>
      </div>
      
      <div class="medical-bottom clearfix" *ngIf="currentPackages" (clickOutside)="onClickOutsideUl($event)">
        <div class="box-left box-chosen {{ isExpand ? 'active': '' }}" >
          <div class="divleft" (click)="onExpand()">
            <p *ngIf="!chosenPackage">{{ 'choose_service_package' | translate }} <img src="../assets/images/dropdown.png" alt=""></p>
            <p *ngIf="chosenPackage" [ngClass]="{'haveAnimate': chosenPackage.name && chosenPackage.name.length > 30 }"><span [ngClass]="{'animateSpan': chosenPackage.name && chosenPackage.name.length > 30 }">{{ chosenPackage.name }}</span> <img src="../assets/images/dropdown.png" alt=""></p>
          </div>

          <a id="show-hidden-menu" ></a>
          <ul >
            <li *ngFor="let currentPackage of currentPackages" (click)="choosePackage(currentPackage)" class="{{ currentPackage.active ? 'active' : '' }}">{{ currentPackage.name }}</li>
          </ul>
        </div>

        <div class="box-right">
          <div class="box-top box-detail {{ isExpandChild ? 'active': '' }}" (clickOutside)="onClickOutsideOl($event)">
            <ul>
              <li>
                <div (click)="onExpandChild()" class="divchild">
                  <p class="choose-child-package" *ngIf="!chosenPackageChild">{{ 'choose_detail_package' | translate }} <img src="../assets/images/dropdown.png" alt=""></p>
                  <p class="choose-child-package" *ngIf="chosenPackageChild" [ngClass]="{'haveChildAnimate': chosenPackageChild.name && chosenPackageChild.name.length > 20 }"><span [ngClass]="{'animateSpan': chosenPackageChild.name && chosenPackageChild.name.length > 20 }">{{ chosenPackageChild.name }}</span> <img src="../assets/images/dropdown.png" alt=""></p>
                </div>
                <ol >
                  <li *ngFor="let child of chosenPackageChilds" (click)="choosePackageChild(child)" class="{{ child.active ? 'active' : '' }}">{{ child.name }}</li>
                </ol>
              </li>
            </ul>
          </div>
          <div class="box-bottom">
            <ul>
              <li *ngIf="!chosenPackageChild"><p>{{ 'choose_detail_package_price' | translate }}</p></li>
              <li *ngIf="chosenPackageChild"><p>{{ chosenPackageChild.meta.price }}</p></li>
            </ul>
          </div>
        </div>

      </div>

      <!--<div class="medical-bottom medical-all clearfix">-->
        <!--<div class="box-left"></div>-->
        <!--<div class="box-right">-->
          <!--<div class="box-left">-->
            <!--<p innerHTML="{{ (currentPackages[0] ? currentPackages[0].desc : '') | decodeHtmlEntities }}"></p>-->
          <!--</div>-->
          <!--<div class="box-right">-->
            <!--<p innerHTML="{{ (currentPackages[1] ? currentPackages[1].desc : '') | decodeHtmlEntities }}"></p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <div class="box-details-medical {{ isExpand ? 'active': '' }} clearfix" *ngIf="chosenPackageChild">

        <div class="box-table-medical" *ngFor="let currentPackageService of currentPackageServices">
          <div *ngIf="chosenPackage && currentPackageService.meta.hasOwnProperty(chosenPackage.id)">
            <div class="box-border-medical">
              <h5><span>{{ currentPackageService.name }}</span></h5>
            </div>
            <table class="table">
              <tbody>

              <ng-container  *ngFor="let child of currentPackageService.children" >     
                <tr *ngIf="child.meta.hasOwnProperty(chosenPackage.id)" >
                  <td>{{ child.no }}.{{ child.name }}</td>
                  <td>
                    <img src="../assets/images/check.png" alt="" *ngIf="child.meta.hasOwnProperty(chosenPackageChild.id) && child.meta[chosenPackageChild.id] === 'x'"/>
                    <img src="../assets/images/no-check.png" alt="" *ngIf="child.meta.hasOwnProperty(chosenPackageChild.id) && child.meta[chosenPackageChild.id] === ''">
                    <span *ngIf="child.meta.hasOwnProperty(chosenPackageChild.id) && child.meta[chosenPackageChild.id] !== '' && child.meta[chosenPackageChild.id] !== 'x'">{{ child.meta[chosenPackageChild.id] }}</span>
                  </td>
                  <!-- <td>
                    <img src="../assets/images/check.png" alt="" *ngIf="child.meta.indexOf(currentPackages[1].id)"/>
                    <img src="../assets/images/no-check.png" alt="" *ngIf="!child.meta.indexOf(currentPackages[1].id)">
                  </td> -->
                </tr>
              </ng-container>

              </tbody>
            </table>
          </div>
        </div>
        <p innerHTML="{{ (chosenPackageChild ? chosenPackageChild.desc : '') | decodeHtmlEntities }}"></p>
      </div>

      <!--<div class="box-btn-medical clearfix">
        <a href="#" class="btn-medical">Đăng ký</a>
      </div>-->


    </div>
  </section>
</main>
