<footer>
	<div class="newsletter js-subscribe">
		<div class="container clearfix">
			<div class="copy">
				<h2>{{'subscribe_to_our_newsletters' | translate}}</h2>
				<p>{{'be_among_the_first_to_receive_healthcare_&_medical_news_from_our_experts' | translate}}</p>
			</div>
			<div class="ip-news">
				<input type="email" name="email" class="js-required js-email form-control" placeholder="{{'your_email_address' | translate}}">
				<input type="hidden" name="_token" value="VRktS3jTtN9lSqGJgCRwF1g6MI6H04c7KjOAS3Lv">
				<input type="submit" value="{{'subscribe' | translate}}" data-href="http://www.aih.com.vn/subscribe">
			</div>
		</div>
	</div>
	<div class="mainfooter">
		<div class="container clearfix">
			<div class="ft-wrap clearfix">
				<div class="item">
					<img src="assets/images/logo-ft.png">
					<p>Bệnh viện Quốc tế Mỹ (AIH) là bệnh viện quốc tế đầu tiên tại Việt Nam theo tiêu chuẩn Mỹ, với sứ mệnh mang lại dịch vụ chăm sóc sức khỏe và điều trị chuẩn Mỹ cho bệnh nhân và gia đình.</p>
				</div>

				<div class="item">
					<h2>Tin tức</h2>
					<ul>
						<li>
							<div class="item-post clearfix">
								<div class="img">
									<div class="lazyload" data-src="http://aih.com.vn/storage/2019/05/684x441-en1559009735.png" style="background-image: url(assets/loader.gif);"></div>
									<img src="assets/images/b.gif">
								</div>
								<div class="copy">
									<p>May 28, 2019</p>
									<p><span>AIH X Kawaii Spa: Đặc Quyền...</span></p>
								</div>
								<a class="link-all" href="news/detail/409-aih-x-kawaii-spa-privilege-promotion-for-pregnant.html"></a>
							</div>
						</li>
						<li>
							<div class="item-post clearfix">
								<div class="img">
									<div class="lazyload" data-src="http://aih.com.vn/storage/2019/05/684-x-441-eng1557375503.png" style="background-image: url(assets/loader.gif);"></div>
									<img src="assets/images/b.gif">
								</div>
								<div class="copy">
									<p>May 09, 2019</p>
									<p><span>TÌM HIỂU CÁC PHƯƠNG PHÁP...</span></p>
								</div>
								<a class="link-all" href="news/detail/403-liver-cancer-diagnosis-and-treatment-information.html"></a>
							</div>
						</li>
						
					</ul>
				</div>
				<div class="item">
					<h2>Dịch vụ y khoa</h2>
					<ul>
						<li>
							<div class="item-post clearfix">
								<div class="img">
									<div class="lazyload" data-src="http://aih.com.vn/storage/2018/11/aih-color-1-52-1-final1543457916.jpg" style="background-image: url(assets/loader.gif);"></div>
									<img src="assets/images/b.gif">
								</div>
								<div class="copy">
									<p>May 25, 2018</p>
									<p><span>Khoa Phụ Sản</span></p>
								</div>
								<a class="link-all" href="patient-services/medical-services.html"></a>
							</div>
						</li>
						<li>
							<div class="item-post clearfix">
								<div class="img">
									<div class="lazyload" data-src="http://aih.com.vn/storage/2018/07/medical-package-pediatrics1531464770.jpg" style="background-image: url(assets/loader.gif);"></div>
									<img src="assets/images/b.gif">
								</div>
								<div class="copy">
									<p>May 25, 2018</p>
									<p><span>Khoa Nhi</span></p>
								</div>
								<a class="link-all" href="patient-services/medical-services.html"></a>
							</div>
						</li>
						
					</ul>
				</div>				
				<div class="item page-fb">
					<h2>Mạng xã hội</h2>
					<div class="fb">
						<div class="fb-page" data-href="https://www.facebook.com/aih.com.vn/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="botfooter">
		<div class="container clearfix">
			<p>© 2018 American International Hospital. All rights reserved.</p>
			<ul>
				<li><a routerLink="/about-us/aih-hospital" routerLinkActive="active">{{'about_us' | translate}}</a></li>
				<li><a class="js_go__down" data="booking-home.html" href="#">{{'book_an_appointment' | translate}}</a></li>
				<li><a routerLink="/patient-services/medical-package" routerLinkActive="active">{{'medical_packages' | translate}}</a></li>
				<li><a routerLink="/news" routerLinkActive="active">{{'news' | translate}}</a></li>
				<li><a routerLink="/career" routerLinkActive="active">{{'careers' || translate}}</a></li>
				<li><a routerLink="/contact" routerLinkActive="active">{{'contact' | translate}}</a></li>
			</ul>
		</div>
	</div>
</footer>