<footer>
	<app-newsletter></app-newsletter>
	<div class="mainfooter">
		<div class="container clearfix">
			<div class="ft-wrap clearfix">
				<div class="item">
					<img src="assets/images/logo-ft.png">
					<p>{{ 'footer_title' | translate }}</p>
				</div>

				<div class="item">
					<h2>{{ 'news' | translate }}</h2>
					<ul>

						<li *ngFor="let blog of blogs" (deferLoad)="blog.showImg = true">
							<div class="item-post clearfix">
								<div class="img">
									<div class="lazyload"  [style.background]="'url(' + (blog.showImg ? blog.picturePath : '') + ')'"></div>
									<img src="assets/images/b.gif">
								</div>
								<div class="copy">
									<p>{{blog.datepublish | date:'dd/MM/yyyy'}}</p>
									<p><span>{{ blog.name }}...</span></p>
								</div>
								<a class="link-all" routerLink="{{ blog.url }}"></a>
							</div>
						</li>

						
					</ul>
				</div>
				<div class="item">
					<h2>{{ 'patient_services' | translate }}</h2>
					<ul>

						<li *ngFor="let clinic of clinics" (deferLoad)="clinic.showImg = true">
							<div class="item-post clearfix">
								<div class="img">
									<div class="lazyload" [style.background]="'url(' + (clinic.showImg ? clinic.picturePath : '') + ')'"></div>
									<img src="assets/images/b.gif">
								</div>
								<div class="copy">
									<p>{{clinic.datepublish | date:'dd/MM/yyyy'}}</p>
									<p><span>{{ clinic.name }}</span></p>
								</div>
								<a class="link-all" routerLink="{{ clinic.url }}"></a>
							</div>
						</li>
						
					</ul>
				</div>				
				<div class="item page-fb">
					<h2>{{ 'social_channels' | translate }}</h2>
					<div class="fb">
						<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Faih.com.vn%2F&tabs&width=260&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="260" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
          </div>
				</div>
			</div>
		</div>
	</div>
	<div class="botfooter">
		<div class="container clearfix">
			<p>{{ '© 2018 '.replace('2018', yearcopy) }} {{ 'american_international_hospital._all_rights_reserved.' | translate }}</p>
			<ul>
				<li><a routerLink="/about-us/aih-hospital" routerLinkActive="active">{{'about_us' | translate}}</a></li>
				<li><a class="js_go__down" data="booking-home.html" href="#">{{'book_an_appointment' | translate}}</a></li>
				<li><a routerLink="/patient-services/medical-package" routerLinkActive="active">{{'medical_packages' | translate}}</a></li>
				<li><a routerLink="/news" routerLinkActive="active">{{'news' | translate}}</a></li>
				<li><a routerLink="/career" routerLinkActive="active">{{'careers' | translate}}</a></li>
				<li><a routerLink="/contact" routerLinkActive="active">{{'contact' | translate}}</a></li>
			</ul>
		</div>
	</div>
	<app-back-to-top></app-back-to-top>


</footer>
<div id="fb-root"></div>
