<footer>
	<div class="newsletter js-subscribe">
		<div class="container clearfix">
			<div class="copy">
				<h2>{{'subscribe_to_our_newsletters' | translate}}</h2>
				<p>{{'be_among_the_first_to_receive_healthcare_&_medical_news_from_our_experts' | translate}}</p>
			</div>
			<div class="ip-news">
				<input type="email" name="email" class="js-required js-email form-control" placeholder="{{'your_email_address' | translate}}">
				<input type="hidden" name="_token" value=""/>
				<input type="submit" value="{{'subscribe' | translate}}" />
			</div>
		</div>
	</div>
	<div class="mainfooter">
		<div class="container clearfix">
			<div class="ft-wrap clearfix">
				<div class="item">
					<img src="assets/images/logo-ft.png">
					<p>{{ 'footer_title' | translate }}</p>
				</div>

				<div class="item">
					<h2>{{ 'news' | translate }}</h2>
					<ul>

						<li *ngFor="let blog of blogs">
							<div class="item-post clearfix">
								<div class="img">
									<div class="lazyload"  [style.background]="'url(' + blog.picturePath + ')'"></div>
									<img src="assets/images/b.gif">
								</div>
								<div class="copy">
									<p>May 28, 2019</p>
									<p><span>{{ blog.name }}...</span></p>
								</div>
								<a class="link-all" routerLink="{{ blog.url }}"></a>
							</div>
						</li>

						
					</ul>
				</div>
				<div class="item">
					<h2>{{ 'patient_services' | translate }}</h2>
					<ul>

						<li *ngFor="let clinic of clinics">
							<div class="item-post clearfix">
								<div class="img">
									<div class="lazyload" [style.background]="'url(' + clinic.picturePath + ')'"></div>
									<img src="assets/images/b.gif">
								</div>
								<div class="copy">
									<p>May 25, 2018</p>
									<p><span>{{ clinic.name }}</span></p>
								</div>
								<a class="link-all" routerLink="{{ clinic.url }}"></a>
							</div>
						</li>
						
					</ul>
				</div>				
				<div class="item page-fb">
					<h2>{{ 'social_channels' | translate }}</h2>
					<div class="fb">
						<div class="fb-page" data-href="https://www.facebook.com/aih.com.vn/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="botfooter">
		<div class="container clearfix">
			<p>{{ '©_2018_american_international_hospital._all_rights_reserved.' | translate }}</p>
			<ul>
				<li><a routerLink="/about-us/aih-hospital" routerLinkActive="active">{{'about_us' | translate}}</a></li>
				<li><a class="js_go__down" data="booking-home.html" href="#">{{'book_an_appointment' | translate}}</a></li>
				<li><a routerLink="/patient-services/medical-package" routerLinkActive="active">{{'medical_packages' | translate}}</a></li>
				<li><a routerLink="/news" routerLinkActive="active">{{'news' | translate}}</a></li>
				<li><a routerLink="/career" routerLinkActive="active">{{'careers' | translate}}</a></li>
				<li><a routerLink="/contact" routerLinkActive="active">{{'contact' | translate}}</a></li>
			</ul>
		</div>
	</div>
</footer>
