<main id="pNews">
  <div class="breadcrumb">
    <div class="container"><a href="index.html">Home</a> / <p>News</p></div>
  </div>
  <section class="news-wrap">
    <div class="container clearfix">
      <h2><span>News &amp; Events</span></h2>
      <div class="list-news">
        <div class="item news-item-style align-left style-1">
          <div>
            <div class="img">
              <div style="background: url(storage/2019/05/684x441-en1559009735.png);"></div>
              <img src="assets/images/news.gif">
            </div>
            <div class="copy">
              <h3>
                <span>News</span><br/>
                AIH X Kawaii Spa: Privilege Promotion For Pregnant
              </h3>
              <hr>
              <p class="date">28/05/2019</p>
              <p>Period of pregnancy is a hard but happy journey for moms-to-be.  Understanding your strenuousness and
                wishing to bring you the best prenatal care...</p>
            </div>
            <a class="link-all" href="news/detail/409-aih-x-kawaii-spa-privilege-promotion-for-pregnant.html"></a>
          </div>
        </div>
        <div class="item news-item-style style-3">
          <div>
            <div datavideo="NOyHViArrLo" class="img has-video js-open-video"
                 style="background-image: url(storage/2018/07/anhbacsi21530418532.jpg);"></div>
          </div>
        </div>
        <div class="item news-item-style align-left style-4">
          <div>
            <div class="img">
              <div style="background: url(storage/2019/05/684-x-441-eng1557375202.png);"></div>
              <img src="assets/images/news.gif">
            </div>
            <div class="copy">
              <h3>
                <span>News</span><br/>
                [WARNING] VIETNAM HAD THE THIRD HIGHEST RATE OF LIVER CANCER IN 2018
              </h3>
              <hr>
              <p class="date">09/05/2019</p>
              <p>According to Globocan, in 2018, Vietnam had the third highest rate of liver cancer in men, after
                Mongolia and Egypt.</p>
            </div>
            <a class="link-all"
               href="news/detail/402-warning-vietnam-had-the-third-highest-rate-of-liver-cancer-in-2018.html"></a>
          </div>
        </div>
        <div class="item event-item-style align-right style-4">
          <div>
            <div class="img">
              <div style="background: url(storage/2019/05/684-x-441-eng1557375503.png);"></div>
              <img src="assets/images/news.gif">
            </div>
            <div class="copy">
              <h3>
                <span>News</span><br/>
                LIVER CANCER DIAGNOSIS AND TREATMENT INFORMATION
              </h3>
              <hr>
              <p class="date">09/05/2019</p>
              <p>Liver cancer can be treated in different ways. Treatment depends on the stage of your cancer. It also
                depends on how healthy your liver is (in other...</p>
            </div>
            <a class="link-all" href="news/detail/403-liver-cancer-diagnosis-and-treatment-information.html"></a>
          </div>
        </div>
        <div class="item news-item-style style-3">
          <div>
            <div class="copy">
              <h3>
                <span>News</span><br/>
                GALLSTONES
              </h3>
              <hr>
              <p class="date">08/05/2019</p>
              <p>Gallstones are solid, pebble-like concretions that form inside the gallbladder. The gallbladder is
                located in the upper right abdomen, under the...</p>
            </div>
            <a class="link-all" href="news/detail/401-gallstones.html"></a>
          </div>
        </div>
        <div class="item news-item-style align-right style-5">
          <div>
            <div class="img">
              <div style="background: url(storage/2019/05/684-x-441-eng1557307080.png);"></div>
              <img src="assets/images/news.gif">
            </div>
            <div class="copy">
              <h3>
                <span>News</span><br/>
                RICKETS AND HOW TO PREVENT IT
              </h3>
              <hr>
              <p class="date">08/05/2019</p>
              <p>Rickets is a condition that affects bone development in children. It causes bone pain, poor growth and
                soft, weak bones that can lead to bone...</p>
            </div>
            <a class="link-all" href="news/detail/399-rickets-and-how-to-prevent-it.html"></a>
          </div>
        </div>
        <div class="item event-item-style align-left style-2">
          <div>
            <div class="img">
              <div style="background: url(storage/2019/05/684-x-441-eng1557307499.png);"></div>
              <img src="assets/images/news.gif">
            </div>
            <div class="copy">
              <h3>
                <span>News</span><br/>
                NEWBORN JAUNDICE - SYMPTOMS AND TREATMENT
              </h3>
              <hr>
              <p class="date">08/05/2019</p>
              <p>Jaundice is not a disease, but rather a sign of an elevated blood bilirubin level. Jaundice is not
                painful, but in some babies, serious conditions...</p>
            </div>
            <a class="link-all" href="news/detail/400-newborn-jaundice-symptoms-and-treatment.html"></a>
          </div>
        </div>
        <div data-append="0" data-parent="" class="paging "><span>1</span><a target="_self" href="news4658.html?page=2">2</a><a
          target="_self" href="news9ba9.html?page=3">3</a><a target="_self" href="newsfdb0.html?page=4">4</a><a
          target="_self" href="news4658.html?page=2" class="next-page"></a></div>
      </div>
    </div>
  </section>
</main>
