<main id="pNews">
  <div class="breadcrumb">
    <div class="container"><a href="#">Home</a> / <p>Blog</p></div>
  </div>
  <section class="news-wrap">
    <div class="container clearfix">
      <h2><span>Blog &amp; Events</span></h2>
      <div class="list-news">

        <div class="item news-item-style align-left style-1" *ngIf="blogs.length && blogs[0]">
          <div>
            <div class="img">
              <div
                [style.background]="'url(' + blogs[0].picturePath + ')'"
              ></div>
              <img src="../assets/images/news.gif">
            </div>
            <div class="copy">
              <h3>
                <span>Blog</span><br/>
                {{ blogs[0] ? blogs[0].name : '' }}
              </h3>
              <hr>
              <p class="date">28/05/2019</p>
              <p>{{ blogs[0] ? blogs[0].shortDesc : '' }}...</p>
            </div>
            <a class="link-all" routerLink="{{ blogs[0].url }}"></a>
          </div>
        </div>
        <div class="item news-item-style style-3" *ngIf="blogs.length && blogs[1]">
          <div>
            <div datavideo="NOyHViArrLo" class="img has-video js-open-video"
                 [style.background]="'url(' + blogs[1].picturePath + ')'"
            ></div>
          </div>
        </div>
        <div class="item news-item-style align-left style-4" *ngIf="blogs.length && blogs[2]">
          <div>
            <div class="img">
              <div
                [style.background]="'url(' + blogs[2].picturePath + ')'"
              ></div>
              <img src="../assets/images/news.gif">
            </div>
            <div class="copy">
              <h3>
                <span>Blog</span><br/>
                {{ blogs[2] ? blogs[2].name : '' }}
              </h3>
              <hr>
              <p class="date">09/05/2019</p>
              <p>{{ blogs[2] ? blogs[2].shortDesc : '' }}</p>
            </div>
            <a class="link-all"
               routerLink="{{ blogs[2].url }}"></a>
          </div>
        </div>
        <div class="item event-item-style align-right style-4" *ngIf="blogs.length && blogs[3]">
          <div>
            <div class="img">
              <div
                [style.background]="'url(' + blogs[3].picturePath + ')'"
              ></div>
              <img src="../assets/images/news.gif">
            </div>
            <div class="copy">
              <h3>
                <span>Blog</span><br/>
                {{ blogs[3] ? blogs[3].name : '' }}
              </h3>
              <hr>
              <p class="date">09/05/2019</p>
              <p>{{ blogs[3] ? blogs[3].shortDesc : '' }}</p>
            </div>
            <a class="link-all" routerLink="{{ blogs[3].url }}"></a>
          </div>
        </div>
        <div class="item news-item-style style-3" *ngIf="blogs.length && blogs[4]">
          <div>
            <div class="copy">
              <h3>
                <span>Blog</span><br/>
                {{ blogs[4] ? blogs[4].name : '' }}
              </h3>
              <hr>
              <p class="date">08/05/2019</p>
              <p>{{ blogs[4] ? blogs[4].shortDesc : '' }}...</p>
            </div>
            <a class="link-all" routerLink="{{ blogs[4].url }}"></a>
          </div>
        </div>
        <div class="item news-item-style align-right style-5" *ngIf="blogs.length && blogs[5]">
          <div>
            <div class="img">
              <div
                [style.background]="'url(' + blogs[4].picturePath + ')'"
              ></div>
              <img src="../assets/images/news.gif">
            </div>
            <div class="copy">
              <h3>
                <span>Blog</span><br/>
                {{ blogs[5] ? blogs[5].name : '' }}
              </h3>
              <hr>
              <p class="date">08/05/2019</p>
              <p>{{ blogs[5] ? blogs[5].shortDesc : '' }}...</p>
            </div>
            <a class="link-all" routerLink="{{ blogs[5].url }}"></a>
          </div>
        </div>
        <div class="item event-item-style align-left style-2" *ngIf="blogs.length && blogs[6]">
          <div>
            <div class="img">
              <div
                [style.background]="'url(' + blogs[4].picturePath + ')'"
              ></div>
              <img src="../assets/images/news.gif">
            </div>
            <div class="copy">
              <h3>
                <span>Blog</span><br/>
                {{ blogs[6] ? blogs[6].name : '' }}
              </h3>
              <hr>
              <p class="date">08/05/2019</p>
              <p>{{ blogs[6] ? blogs[6].shortDesc : '' }}...</p>
            </div>
            <a class="link-all" routerLink="{{ blogs[6].url }}"></a>
          </div>
        </div>

        <div data-append="0" data-parent="" class="paging "><span>1</span><a target="_self" href="news4658.html?page=2">2</a><a
          target="_self" href="news9ba9.html?page=3">3</a><a target="_self" href="newsfdb0.html?page=4">4</a><a
          target="_self" href="news4658.html?page=2" class="next-page"></a></div>

      </div>
    </div>
  </section>
</main>
