<main id="pServiceInsurance" class="page-insurance-membership">
  <div class="breadcrumb">
    <div class="container">
      <a routerLink="/">{{ 'home' | translate }}</a> /
      <p>{{ page ? page.name : '' }}</p></div>
  </div>

  <div class="banner-page" [style.background]="'url(' + banners[0].large + ')'" *ngIf="banners && banners.length">
    <div class="container">
      <div class="ct-banner">
        <div class="copy-ins">
          <h2>{{ banners[0] ? banners[0].Title : '' }}</h2>
          <p>{{ banners[0] ? banners[0].Content : '' }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="insurance-top" id="insurance-top" *ngIf="category">
    <div class="container">
      <div class="heading">{{ category.name }}</div>
      <div class="content" *ngIf="category.shortDesc" [innerHTML]="category.shortDesc | decodeHtmlEntities | safeHtml"></div>
      <div class="content-right">
        <a class="button button-tawk" href="mailto:{{ insuranceService.getEmail() }}">{{ 'send' | translate }}</a>
      </div>
    </div>
  </div>

  <section class="insurance-consulting insurance-consulting-detail clearfix">
    <div class="container">

      <div class="insurance-consulting-content clearfix">

        <div class="box-content" *ngIf="category">
          <div class="heading">{{ category.name }}</div>
          <p *ngIf="category.longDesc" [innerHTML]="category.longDesc | decodeHtmlEntities | safeHtml"></p>
        </div>
      </div>

      <ul class="list-meml" *ngIf="services">

        <li *ngFor="let service of services">
          <div class="box-left">
            <a routerLink="{{ service.url }}"><img src="{{ service.picturePath }}" alt="" /></a>
          </div>
          <div class="box-right">
            <div class="heading">{{ service.name }}</div>
            <div class="sum" *ngIf="service.shortDesc" [innerHTML]="service.shortDesc | decodeHtmlEntities | safeHtml"></div>
            <a routerLink="{{ service.url }}" class="read-more"><span>{{ 'learn_more' | translate }}</span></a>
            <a routerLink="{{ service.url }}" class="link"></a>
          </div>
        </li>

      </ul>

    </div>
  </section>

</main>
