<main id="pCareers" *ngIf="career">
  <div class="breadcrumb"><div class="container"><a href="#">{{ 'home' | translate }}</a> /
    <a href="{{ urlService.getUrlByKey('career') }}">{{ 'careers' | translate }}</a> /
    <p>{{ career.name }}</p></div>
  </div>

  <div class="banner-wrap-car">
    <div class="banner-careers">
      <ngx-slick-carousel
              [config]="slideConfig"
              #slickModal="slick-carousel"
              (init)="sliderInit($event)"
              class="slick-list"
      >
        <div
                ngxSlickItem
                class="item"
                *ngFor="let banner of banners;trackBy: trackBannersFunc"
                [style.background]="'url(' + banner.large + ')'"
        >
          <div class="container">
            <div class="ct-banner">
              <img class="banner-careers-mb" src="{{ banner.large }}" />
              <div class="copy">
                <h3>{{ banner ? banner.Content : '' }}</h3>
                <h2>{{ banner ? banner.Title : '' }}</h2>
                <a class="btn-page" (click)="scrollToForm()">{{
                  'apply_now' | translate
                  }}</a>
              </div>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
      <!-- <ul class="slick-dots" style="display: block;" role="tablist">
        <li class="slick-active" aria-hidden="false" role="presentation" aria-selected="true" aria-controls="navigation00" id="slick-slide00"><button type="button" data-role="none" role="button" tabindex="0">1</button></li>
        <li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation01" id="slick-slide01" class=""><button type="button" data-role="none" role="button" tabindex="0">2</button></li>
      </ul> -->
    </div>
  </div>

  <section class="cr-wrap">
    <div class="container">
      <div class="cr-info-dt">
        <div class="copy">
          <h3>{{ career.name }}</h3>
          <p>{{ career.meta.workplace }}</p>
          <p>{{ career.meta.wage }}</p>

        </div>
        <div class="btn-wrap">
          <a class="btn-b js-scrollForm" (click)="scrollToForm()" >{{ 'apply_now' | translate }}</a>
          <a class="btn-bd" >{{ 'save' | translate }}</a>
        </div>
      </div>
      <div class="detail-cr">
        <h2>{{ 'detail' | translate }}</h2>
        <div class="ct-copy">
          <div class="cr-content content-for-detail"><div [innerHTML]="career.longDesc | safeHtml"></div></div>
          <div class="main-if">
            <p><img src="../assets/images/icon-cr-dt-1.png"> {{ 'date' | translate }}<br/>{{ career.date | date:'dd/MM/yyyy'}}</p>
            <p><img src="../assets/images/icon-cr-dt-2.png"> {{ 'level' | translate }}<br/>{{ career.meta.level }}</p>
            <p><img src="../assets/images/icon-cr-dt-3.png"> {{ 'career' | translate }}<br/>{{ career.meta.career }}</p>
            <p><img src="../assets/images/icon-cr-dt-4.png"> {{ 'skill' | translate }}<br/>{{ career.meta.skill }}</p>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <!--career section -->
      <div id="section-career"><app-career-section></app-career-section></div>
      
      <!--form section -->
      <div id="career-form"><app-career-form #careerForm></app-career-form></div>



    </div>
  </section>
</main>
