<main id="pNews" *ngIf="blog">

  <div class="breadcrumb">
    <div class="container">
      <a routerLink="/">{{'home' | translate}}</a> /
      <a routerLink="/news">{{'news' | translate}}</a> /
      <p>{{ blog ? blog.name : '' }}</p>
    </div>
  </div>

  <section class="news-wrap">
    <div class="container clearfix">
      <div class="news-detail-wrap">
        <div class="ct-dt">
          <h3>{{ blog ? blog.name : '' }}</h3>
          <div class="slider-news-dt">
            <ul>
              <li><img src="{{ blog.picturePath }}"></li>
            </ul>
          </div>
          <div class="tt-news">
            <p class="date">{{blog.datepublish | date:'dd/MM/yyyy'}}</p>
            <span class="cm">{{blog.totalComments}}</span>
            <span class="like">{{blog.totalLikes}}</span>
          </div>
          <div class="copy" [innerHTML]="blog.longDesc | decodeHtmlEntities"></div>

          <div class="btn-dt clearfix">
            <a *ngIf="postPrev" routerLink="{{ postPrev.url }}" class="prev-doctor" >{{ 'previous_link' | translate }} <br><span>{{ postPrev.name }}</span></a>
            <a *ngIf="postNext" routerLink="{{ postNext.url }}" class="next-doctor" >{{ 'next_link' | translate }} <br><span>{{ postNext.name }}</span></a>
          </div>


          <div class="op-news">
            <a *ngIf="!liked" class="link-like like" data-type="votenews" (click)="vote()">{{ 'like' | translate }}</a>
            <a *ngIf="liked" class="link-like liked" data-type="votenews" (click)="vote(true)">{{ 'like' | translate }}</a>

            <a class="link-cm link-cm-comment" (click)="comment()">{{ 'comment' | translate }}</a>
            <a target="_blank"
               href="https://facebook.com/sharer.php?u={{ blog.url }}"
               id="share" class="link-share">{{ 'share' | translate }}</a>
          </div>
        </div>
        <div class="comment-wrap">
          <h3>{{ 'comment' | translate }}</h3>
          <div class="big-ip frmComment" id="comment-area" >
            <div class="ava-cm" style="background: url(../../assets/images/avatar.jpg);"></div>
            <textarea #commentArea name="comment" class="form-control" [(ngModel)]="content"></textarea>
            <div class="btn-wrap">
              <input class="btn-page" type="submit" value="{{ 'send' | translate }}" (click)="sendComment()"/>
            </div>
          </div>
          <div class="list-cm-wrap">
            <ul>
              <li *ngFor="let comment of comments" class="clearfix">
                <div class="box-left avatar">
                  <img *ngIf="!comment.photo" src="../../assets/images/avatar.jpg" alt="">
                  <img *ngIf="comment.photo" src="{{ comment.photo }}" alt="">
                </div>
                <div class="box-right">
                  <div class="header">{{ comment.name }}</div>
                  <div class="content">{{ comment.content }}</div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="side-news">
          <div class="item">
            <h3>{{ 'search' | translate }}</h3>
            <div class="ct-search frmSearch">
              <input type="text" name="keyword" class="form-control"
                     placeholder="{{ 'search' | translate }}..." [(ngModel)]="keyword">
              <input type="submit" name="" value="" (click)="gotoSearch()">
            </div>
          </div>

          <div class="item">
            <h3>{{ 'be_the_first_to_read' | translate }}</h3>
            <div class="ct-tab">
              <span class="active" tab="tab-1"><em>{{ 'latest' | translate }}</em></span>
              <!--<span class="js-tab" tab="tab-2"><em>Phổ biến</em></span>
              <span class="js-tab" tab="tab-3"><em>Bình luận</em></span>-->
            </div>
            <div id="tab-1" class="tab-content">
              <ul>

                <li *ngFor="let blog of blogs">
                  <div class="img">
                    <div [style.background]="'url(' + blog.picturePath + ')'"></div>
                  </div>
                  <div class="copy">
                    <p><span>{{blog.datepublish | date:'dd/MM/yyyy'}}</span></p>
                    <p>{{ blog.name }}</p>
                  </div>
                  <a class="link-all" routerLink="{{ blog.url }}"></a>
                </li>

              </ul>
            </div>
          </div>
          <div class="btn-wrap">
            <a class="btn-page" (click)="booking()">{{ 'book_now' | translate }}</a>
            <p class="alert-dt {{ isShowWarning ? 'show' : '' }}">{{ 'please_continue_your_booking_on_above_booking_funtion' | translate }}</p>
          </div>

        </div>
      </div>
    </div>
  </section>
  <app-section-doctor
    [filterByClinics]="blog.clinicIds"
  ></app-section-doctor>
</main>
