<div class="lang">
	<p class="item" (click)="collapseLang()">
		<span *ngIf="currentLanguage==='vi'"><img src="assets/images/vi.png"/></span>
		<span *ngIf="currentLanguage==='en'"><img src="assets/images/en.png" /></span>
	</p>

	<a href="#" *ngIf="currentLanguage==='vi'" [ngClass]="{'open': isCollapse === true}" (click)="switchLanguage('en')">
		<span><img src="assets/images/en.png" /></span>
		<em> English </em>
	</a>
  <a href="#" *ngIf="currentLanguage==='en'" [ngClass]="{'open': isCollapse === true}" (click)="switchLanguage('vi')">
    <span><img src="assets/images/vi.png" /></span>
    <em> English </em>
  </a>
</div>

