<section class="doctor-home">
	<div class="container">
		<div class="tt-item">
			<a href="#">{{ 'our_doctors' | translate }}</a>
			<h4>{{ 'professionals' | translate }}</h4>
			<div class="btn-crs">
				<span class="btn-prev crs-prev"></span>
				<span class="btn-next crs-next"></span>
			</div>
		</div>
		<div class="crs-style1">
      <app-doctor-item></app-doctor-item>
			<div class="btn-wrap show-mb">
				<a class="btn-showmore" href="#">{{ 'show_more' | translate }}</a>
			</div>
		</div>
	</div>
</section>
