.ar.show {
  opacity: 1;
  bottom: 0;
}
.open {
  overflow: hidden;
  display: block !important;
}

ul {
  li {
    .copy {
      img {
        min-height: 55px;
      }
    }
  }
}

.drop {
  display: block;
}
.copyscroll {
  transition: height .3s ease-in-out;
}
.un-active .copyscroll {
  height: 0;
}