<div class="item-inner" (clickOutside)="onClickOutside($event)">
  <div class="ip ip-doctor" [ngClass]="{'aniAfter': animateAfter, 'has-before': isActive}" (click)="handleInputClick()">
    <input readonly="true" class="js-dropBooking-doctor" type="text" [value]="doctorName"
           placeholder="{{ 'select_a_doctor' | translate }}">
    <em class="ar" [ngClass]="{'show': isActive}"></em>
    <div class="drop drop-doctor {{ !isActive ? 'un-active' : '' }}">
      <div class="copyscroll">
        <div class="nano">
          <div class="nano-content">
            <ul>
              <li *ngFor="let doctor of filteredDoctors" >
                <p class="tt-doc {{ doctor.isExpanded ? 'active' : ''  }}">
                  <em class="js-book-dt" (click)="onChoose(doctor)">{{ doctor.name }}
                  </em>
                  <span *ngIf="doctor.publish" class="toggle_plus js-accor-doc" (click)="handleExpand($event, doctor)"></span>
                </p>
                <div class="copy {{ doctor.isExpanded ? 'open' : ''  }}">
                  <img src='{{ doctor.picturePath }}'>
                  <h4>{{ doctor.name }}</h4>
                  <h4><span>{{ doctor.categoryName }}</span></h4>
                  <p [innerHTML]="doctor.shortDesc | decodeHtmlEntities | safeHtml"></p>
                  <a class="rm" routerLink="{{ doctor.url }}"><span>{{ 'show_more' | translate }}</span></a>
                  <a class="bm js-book-dt" (click)="onChoose(doctor)">{{ 'book' | translate }}</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <input type="hidden" class="js-input" name="doctorid">
  </div>
</div>
