<div class="item-inner">
	<div class="ip ip-doctor">
		<input readonly="true" class="js-dropBooking-doctor" type="text" placeholder="{{'select_a_doctor' | translate}}">
		<em class="ar"></em>
		<div class="drop drop-doctor">
			<div class="copyscroll">
				<div class="nano">
					<div class="nano-content">
						<ul>
							<app-doctor-list-item></app-doctor-list-item>                                          
						</ul>
					</div>
				</div>
			</div>          

		</div>
		<input type="hidden" class="js-input" name="doctorid" data-message="Vui lòng chọn bác sỹ">
	</div>
	<!-- <p class="note note-doctor">* Please select a doctor</p> -->						
</div>