<div class="bookingwrap-hd frmBooking">
	<div class="container clearfix bbase">
		<div class="booking-hd">
			<div class="booking-wrap">

				<div class="item"><app-booking-phone-number></app-booking-phone-number></div>
				<div class="item"><app-booking-specialty></app-booking-specialty></div>
				<div class="item"><app-booking-doctor></app-booking-doctor></div>
				<div class="item"><app-booking-date></app-booking-date></div>
				<div class="item"><app-booking-time></app-booking-time></div>
				
			</div>
			<input class="btn-booking js-booking" type="submit" value="">
		</div>
	</div>
</div>
<a class="btn-booking-mb" href="#">Đặt lịch khám 
	<img src="assets/images/icon-booking.png">
</a>