<div class="booking-wrap">
  <div class="item">
    <h3 *ngIf="useForHome">{{ 'enter_your_mobile' | translate }}</h3>
    <p class="dt-h" *ngIf="useForHome">
      {{ 'please_enter_your_phone_number_to_get_best_support' | translate }}
    </p>
    <app-booking-phone-number
      (chooseCustomer)="handleSelectCustomerId($event)"
      (chooseCustomerPhone)="handleSelectCustomerPhone($event)"
    ></app-booking-phone-number>
    <!-- <p class="note note-phone">* Please select your phone number</p> -->
  </div>
  <div class="item">
    <h3 *ngIf="useForHome">{{ 'specialty' | translate }}</h3>
    <p class="dt-h" *ngIf="useForHome">
      {{ 'scroll_down_below_list_to_select_a_apeciality' | translate }}
    </p>
    <!-- <p class="note note-spec">* Please select a specialty</p> -->
    <app-booking-specialty
      #bookingSpecialty
      (chooseClinic)="handleSelectClinic($event)"
    ></app-booking-specialty>
  </div>
  <div class="item">
    <h3 *ngIf="useForHome">{{ 'doctor' | translate }}</h3>
    <p class="dt-h" *ngIf="useForHome">
      {{ 'scroll_down_below_list_to_select_a_doctor' | translate }}
    </p>
    <!-- <p class="note note-doctor">* Please select a doctor</p> -->
    <app-booking-doctor
      #bookingDoctor
      [doctorIds]="filterAvailableDoctors()"
      (choose)="handleSelectDoctor($event)"
    ></app-booking-doctor>
  </div>
  <div class="item">
    <h3 *ngIf="useForHome">{{ 'date' | translate }}</h3>
    <p class="dt-h" *ngIf="useForHome">
      {{ 'select_your_referred_day_for_appointment' | translate }}
    </p>
    <!-- <p class="note note-day">* Please select an appoitment date</p> -->
    <app-booking-date
      #bookingDate
      [doctorSchedule]="doctorSchedule"
      (changeDate)="handleSelectDate($event)"
    ></app-booking-date>
  </div>
  <div class="item">
    <h3 *ngIf="useForHome">{{ 'time' | translate }}</h3>
    <p class="dt-h" *ngIf="useForHome">
      {{ 'select_the_specific_time_for_appointment' | translate }}
    </p>
    <!-- <p class="note note-time">* Please select the time</p> -->
    <app-booking-time
      (chooseTime)="handleSelectTime($event)"
      [enableTime]="timeBlock"
    ></app-booking-time>
    <input
      *ngIf="useForHome"
      class="re-btn-booking js-booking"
      (click)="handleBooking()"
      type="submit"
      value="{{ 'book_now' | translate }}"
    />
  </div>
</div>
<input
  *ngIf="!useForHome"
  class="btn-booking js-booking"
  type="submit"
  value=""
  (click)="handleBooking()"
/>
