<main id="pAbout">
  <div class="breadcrumb">
    <div class="container">
      <a href="../index.html">{{ 'home' | translate }}</a> /
      <p>{{ 'faqs' | translate }}</p>
    </div>
  </div>
  <div
    class="banner-page"
    style="background: url(../storage/2018/07/about-us1531469333.jpg);"
  >
    <img class="banner-mb" src="../storage/2018/07/about-us-21531469372.jpg" />
    <div class="container">
      <div class="copy">
        <h4>MÔ HÌNH Y TẾ CỦA TƯƠNG LAI</h4>
        <h2>Cho bạn những điều tốt đẹp nhất</h2>
      </div>
    </div>
  </div>

  <section>
    <div class="container">
      <div class="item-top-faq">
        <ul>
          <li>
            <div class="item">
              <img src="../assets/images/item-faq-1.png" />
              <div class="copy">
                <h3>{{ 'call_to_telesales' | translate }}</h3>
                <p>
                  {{
                    'for_enquiries_on_our_medical_services_and_packages'
                      | translate
                  }}
                </p>
              </div>
              <a class="link-all" href="tel:028 3910 9999"></a>
            </div>
          </li>
          <li>
            <div class="item">
              <img src="../assets/images/item-faq-2.png" />
              <div class="copy">
                <h3>{{ 'call_center' | translate }}</h3>
                <p>
                  {{ 'for_any_enquiries_on_customer_services' | translate }}
                </p>
              </div>
              <a class="link-all" href="tel:028 3910 9999"></a>
            </div>
          </li>
          <li>
            <div class="item">
              <img src="../assets/images/item-faq-3.png" />
              <div class="copy">
                <h3>{{ 'other_contacts' | translate }}</h3>
                <p>{{ 'for_other_enquiries' | translate }}</p>
              </div>
              <a class="link-all" href="tel:028 3910 9999"></a>
            </div>
          </li>
        </ul>
      </div>
      <div class="faq-wrap">
        <div class="tt-page">
          <h4>Hỏi đáp</h4>
          <h3 class="text-nor">{{ 'have_some_questions?' | translate }}</h3>
        </div>
        <div class="list-faq clearfix">
          <div class="left">
            <app-faq-item
              *ngFor="let item of getLeftColumnItems()"
              [faq]="item"
            >
            </app-faq-item>
          </div>
          <div class="right">
            <app-faq-item
              *ngFor="let item of getRightColumnItems()"
              [faq]="item"
            >
            </app-faq-item>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
