<li class="doctor-item-23">
	<p class="tt-doc">
		<em data-id="23" data-dayoff="" data-selected="" data-doctor="BS. CKI Trần Hồng Phúc" class="js-book-dt">BS. CKI Trần Hồng Phúc</em>
		<span class="toggle_plus js-accor-doc"></span>
	</p>
	<div class="copy">
		<img src="storage/2018/08/tran-hong-phuc1535521767.jpg">
		<h4>BS. CKI Trần Hồng Phúc</h4>
		<h4><span>Khoa Gây mê hồi sức</span></h4>
		<p>BS. Trần Hồng Phúc là bác sĩ chuyên khoa gây mê hồi sức đã trải qua 20 năm kinh nghiệm ở cả Việt Nam và nước ngoài. Bác sĩ Phúc từng có thời gian được đào tạo về chuyên khoa gây mê tại Đại học Paris V – Rene Descartes và làm bác sĩ gây mê nội trú tại Bệnh viện Beaujon, Paris. Nền tảng chuyên môn tốt, kinh nghiệm quốc tế, có thể sử dụng cả tiếng Pháp và tiếng Anh, BS. Trần Hồng Phúc hiện nay đang là Phó Trưởng khoa Gây mê hồi sức Bệnh viện AIH.</p>
		<a class="rm" href="doctor/detail/23-tran-hong-phuc-md.html"><span>More</span></a>
		<a data-id="23" data-dayoff="" data-selected="" data-doctor="BS. CKI Trần Hồng Phúc" class="bm js-book-dt" href="#">Book</a>
	</div>
</li>    