<ul>
  <li class="doctor-item-23" *ngFor="let doctor of doctors" >
    <p class="tt-doc {{ doctor.isExpanded ? 'active' : ''  }}">
      <em class="js-book-dt" (click)="handleChoose(doctor)">{{ doctor.name }}
      </em>
      <span class="toggle_plus js-accor-doc" (click)="handleExpand($event, doctor)"></span>
    </p>
    <div class="copy {{ doctor.isExpanded ? 'open' : ''  }}">
      <div *ngIf="doctor.isExpanded">
        <img src='{{ doctor.picturePath }}' />
        <h4>{{ doctor.name }}</h4>
        <h4><span>{{ doctor.categoryName }}</span></h4>
        <p [innerHTML]="doctor.shortDesc | decodeHtmlEntities | safeHtml"></p>
        <a class="rm" href="#"><span>{{ 'show_more' | translate }}</span></a>
        <a class="bm js-book-dt" (click)="handleChoose(doctor)">{{ 'book' | translate }}</a>
      </div>
    </div>
  </li>
</ul>
