.copyscroll {
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  /*opacity: .4;*/
}

/* Track */
::-webkit-scrollbar-track {

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(145,145,145,0.4);
  margin: 0 1px;
  border-radius: 3px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /*background: #555;*/
}

.copy img {
  max-width: 100%;
}

.calendar .ngb-dp-header {background: none}
.calendar .ngb-dp-weekdays {border-bottom: none}
.calendar .ngb-dp-day {font-size: 10px}
.calendar .bg-light {background-color: unset!important;}
.calendar ngb-datepicker-navigation-select>.custom-select {
  font-size: .675rem;
  height: 1.65rem;
}

.calendar .ngb-dp-today{
  border: none;
  border-bottom: 1px solid #007297;
  background: url(../images/day-sl.png) top right no-repeat;
  font-weight: 400;
  color: #007297!important;
  margin: 0 1px;
}

.calendar .btn-light:hover,
.calendar .btn-light:not(:disabled):not(.disabled):active,
.calendar .show > .btn-light.dropdown-toggle{
  background: #007297;
  font-weight: 400;
  color: #fff!important;
  border-radius: 0
}


.calendar .btn-light:not(:disabled):not(.disabled).active {
  font-weight: 400;
  color: #fff!important;
  border-radius: 0
}

.calendar .bg-primary {
  background-color: #007297!important;
  border-radius: 0;
}

.calendar .ngb-dp-day {
  border-bottom: 1px solid #007297;
  font-weight: 400;
  color: #007297!important;
}

.calendar .ngb-dp-day.disabled {
  border: none;
  border-bottom: 1px solid #e1115b;
  color: #c7cdd8;
}

.nav-wrap nav li a:hover {
  text-decoration: none;
}

ngb-datepicker {
  border: none!important;
}

.calendar .btn-link{
  color: #007297!important;
}

.calendar .btn-light{
  color: #007297
}

.cr-content h3, .cr-content strong {
  font-size: 15px;
  padding-bottom: 8px;
  color: #007297;
  display: inline-block;
  text-transform: uppercase;
  font-family: utm_avobold;
}


.insurance-top{
  height: 200px;
  background: #007298;
  color: #fff;
}

.insurance-top .heading {
  font-size: 30px;
  text-transform: uppercase;
  font-family: utm_avobold;
  padding: 30px 0;
}

.insurance-top .content {
  line-height: 1.6rem;
}

.insurance-consulting .item-doc .img {
  height: 130px;
}

.insurance-consulting-detail .item-doc .img {
  height: 230px;
}
.insurance-consulting .tt-doc-crs {
  border: none;
  padding: 20px 0;
}

.insurance-consulting .tt-doc-crs h2{
  padding-bottom: 20px;
  border-bottom: 1px solid #d8d7d7;
  text-transform: uppercase;
}

.insurance-consulting .tt-doc-crs p {
  padding: 15px 0;
}

.insurance-consulting .item-doc .copy {
  border: none;
  padding: 0;
}

.insurance-consulting .item-doc .copy p {
  padding-bottom: 0;
}

.insurance-consulting .item-doc:hover .tt-doc-crs {
  background: none;
}

.insurance-consulting .item-doc:hover .tt-doc-crs h2 {
  color: #e1115b;
}

.insurance-consulting-detail  .list-dt li {
  width: 33.33%;
}
