.copyscroll {
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  /*opacity: .4;*/
}

/* Track */
::-webkit-scrollbar-track {

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(145,145,145,0.4);
  margin: 0 1px;
  border-radius: 3px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /*background: #555;*/
}

.copy img {
  max-width: 100%;
}

.calendar .ngb-dp-header {background: none}
.calendar .ngb-dp-weekdays {border-bottom: none}
.calendar .ngb-dp-day {font-size: 10px}
.calendar .bg-light {background-color: unset!important;}

.nav-wrap nav li a:hover {
  text-decoration: none;
}

ngb-datepicker {
  border: none!important;
}

.cr-content h3, .cr-content strong {
  font-size: 15px;
  padding-bottom: 8px;
  color: #007297;
  display: inline-block;
  text-transform: uppercase;
  font-family: utm_avobold;
}