@media screen and (min-width: 1600px){
	header .container{    padding: 0 200px;}	
}

@media screen and (max-width: 1599px) and (min-width: 1281px){
	header .container{    padding: 0 150px;}	
	/*.service-cate-wrap .content-sv {
     padding-left: 0px; 
	}*/
	body .vn .nav-wrap nav li {
		margin: 0 10px;
	}
	body .vn .nav-wrap nav li a {
		font-size: 11px;
	}
}

@media screen and (max-width: 1365px) and (min-width: 1025px){
	body .nav-wrap nav li a {
		padding: 5px 0px;
	}	
}

body .insurance-item {margin-bottom:0px; border-top:0px; padding-bottom:0px;}
body .insurance-item .top-ins > h2 {
    color: #1c4e0f;
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    margin: 0px 0px 0px;
	text-align: left;
	border-bottom:solid 1px #1b8cab;
}
body  .insurance-item .top-ins > h2 span{
	position: relative;
    background: #007298;
    color: #fff;
    padding: 10px 15px 10px 10px;
    display: inline-block;
	border-bottom:0px;
	height:44px;
}
body  .insurance-item .top-ins > h2 span:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 44px 0 0 21px;
    border-color: transparent transparent transparent #007298;
    position: absolute;
    top: 0px;
    right: -21px;
}

body .insurance-item .top-child-ins h2{color:#007298; font-size: 20px;text-align:left;}
body .insurance-item .top-child-ins h2 span{border-bottom:0px; padding: 10px 15px 10px 10px;}

@media screen and (max-width: 991px){
	body .insurance-item .top-ins > h2,
	body .insurance-item .top-child-ins h2{font-size:16px;}
}

@media screen and (max-width: 480px){
	body .insurance-item .top-ins > h2,
	body .insurance-item .top-child-ins h2{font-size:14px;}
	body .insurance-item .top-ins > h2{ line-height: 1.6em;}
	body .insurance-item .top-ins > h2 span{height:auto; width:100%;}
	body .insurance-item .top-ins > h2 span:after{display:none;}
}

.faq-item h3{cursor:pointer;}
.list-persond .logo-persond{ background-position: center center !important; width:auto; position:relative; margin:15px; outline-offset: 15px; outline: 1px solid #d9d9d9;}
body .page-medical-all{padding-bottom: 80px;}

@media screen and (max-width: 1600px) and (min-width: 1200px){
	.page-medical-all .medical-content .box-right {
		padding-left: 20px;
	}
	.page-medical-all .medical-bottom .box-left p {
		margin-top: 10px;
	}
	
}

/*Calendar*/
.calendar .ngb-dp-weekday.small{font-weight:700;font-size: .8em; font-style: normal;color: #3a90af}
.calendar ngb-datepicker-navigation-select>.custom-select{border-radius: 0px; margin: 0px 1px;}

/*End Calendar*/


body .partner-home ul li img{
	filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); 
      opacity: 0.5;
}
body .partner-home ul li div:hover img{
	-webkit-filter: grayscale(0);
  filter: none;
  opacity:1;
}

body .partner-home ul li .hover{
	display:none;
}





