<ul class="clearfix js-list-news js-append-more">
	<li>
		<div class="item-news">
			<div class="img">
				<div class="lazyload" data-src="http://aih.com.vn/storage/2019/05/684x441-en1559009735.png" style="background-image: url(assets/loader.gif);"></div>
				<img src="assets/images/news.gif">
				<img class="show-mb" src="assets/images/b.gif">
			</div>
			<div class="tt-news">
				<p class="date">28/05/2019</p>
				<span class="cm">0</span>
			</div>
			<div class="copy">
				<h2>AIH X Kawaii Spa: Đặc Quyền Ưu Đãi Dành Tặng Mẹ Bầu</h2>
				<p>9 tháng mười ngày mang thai là một hành trình hạnh phúc nhưng cũng nhiều vất vả của mẹ....</p>
				<a href="news/detail/409-aih-x-kawaii-spa-privilege-promotion-for-pregnant.html"><span>Tìm hiểu thêm</span></a>
			</div>
			<a class="link" href="news/detail/409-aih-x-kawaii-spa-privilege-promotion-for-pregnant.html"></a>
		</div>
	</li>			
	<li>
		<div class="item-news">
			<div class="img">
				<div class="lazyload" data-src="http://aih.com.vn/storage/2019/05/684-x-441-eng1557375202.png" style="background-image: url(assets/loader.gif);"></div>
				<img src="assets/images/news.gif">
				<img class="show-mb" src="assets/images/b.gif">
			</div>
			<div class="tt-news">
				<p class="date">09/05/2019</p>
				<span class="cm">0</span>
			</div>
			<div class="copy">
				<h2>[CẢNH BÁO] VIỆT NAM ĐỨNG THỨ 3 THẾ GIỚI VỀ TỶ LỆ...</h2>
				<p>Theo thống kê của Tổ chức Ung thư toàn cầu (GLOBOCAN), trong năm 2018, Việt Nam có tỷ lệ...</p>
				<a href="news/detail/402-warning-vietnam-had-the-third-highest-rate-of-liver-cancer-in-2018.html"><span>Tìm hiểu thêm</span></a>
			</div>
			<a class="link" href="news/detail/402-warning-vietnam-had-the-third-highest-rate-of-liver-cancer-in-2018.html"></a>
		</div>
	</li>			
	<li>
		<div class="item-news">
			<div class="img">
				<div class="lazyload" data-src="http://aih.com.vn/storage/2019/05/684-x-441-eng1557375503.png" style="background-image: url(assets/loader.gif);"></div>
				<img src="assets/images/news.gif">
				<img class="show-mb" src="assets/images/b.gif">
			</div>
			<div class="tt-news">
				<p class="date">09/05/2019</p>
				<span class="cm">0</span>
			</div>
			<div class="copy">
				<h2>TÌM HIỂU CÁC PHƯƠNG PHÁP CHẨN ĐOÁN VÀ ĐIỀU TRỊ UNG...</h2>
				<p>Hiện nay, có nhiều cách để điều trị ung thư gan. Tùy thuộc vào từng giai đoạn phát...</p>
				<a href="news/detail/403-liver-cancer-diagnosis-and-treatment-information.html"><span>Tìm hiểu thêm</span></a>
			</div>
			<a class="link" href="news/detail/403-liver-cancer-diagnosis-and-treatment-information.html"></a>
		</div>
	</li>			
	
</ul>
<div data-append="0" data-parent="js-list-news" class="paging js-paging-ajax">
	<span>1</span>
	<a  target="_self" href="news06c5.html?page=2&amp;item=3">2</a>
	<a  target="_self" href="news7df0.html?page=3&amp;item=3">3</a>
	<a  target="_self" href="news5cee.html?page=4&amp;item=3">4</a>
	<a  target="_self" href="news64e9.html?page=5&amp;item=3">5</a>
	<a  target="_self" href="news06c5.html?page=2&amp;item=3" class="next-page"></a>
</div>