<ul class="clearfix js-list-news js-append-more">
  <app-news-item></app-news-item>
</ul>
<div data-append="0" data-parent="js-list-news" class="paging js-paging-ajax">
	<span>1</span>
	<a  target="_self" href="news06c5.html?page=2&amp;item=3">2</a>
	<a  target="_self" href="news7df0.html?page=3&amp;item=3">3</a>
	<a  target="_self" href="news5cee.html?page=4&amp;item=3">4</a>
	<a  target="_self" href="news64e9.html?page=5&amp;item=3">5</a>
	<a  target="_self" href="news06c5.html?page=2&amp;item=3" class="next-page"></a>
</div>
