<div class="item-inner" (clickOutside)="onClickOutside($event)">
  <div class="ip ip-spec" [ngClass]="{'aniAfter': animateAfter, 'has-before': isActive}" (click)="handleInputClick()">
    <input readonly="true"
           name="deparmentname"
           class="js-dropBooking-spec"
           type="text"
           [value]="clinicName"
           placeholder="{{ 'select_a_specialty' | translate }}"
    >
    <em class="ar" [ngClass]="{'show': isActive}"></em>
    <div *ngIf="isActive" class="drop drop-spec {{ !isActive ? 'un-active' : '' }}">
      <div class="copyscroll">
        <div class="nano">
          <div class="nano-content">
              <ul>
                <li *ngFor="let clinic of clinics" class="dep-item-1"
                    (click)="onChoose(clinic, true)"><span>{{ clinic.name }}</span></li>
              </ul>              
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
