<div class="top-hd">
	<div class="container clearfix">
		<ul class="left-hd">
			<li><a href="about-us/faq.html">Hỏi đáp</a></li>
			<li><a href="patient-services/medical-services.html">Dịch vụ y khoa</a></li>
			<li><a href="contact.html">Liên hệ</a></li>
			<li><a href="mailto:info@aih.com.vn">info@aih.com.vn</a></li>
		</ul>
		<div class="right-hd">
			<a class="phone" href="tel:028 3910 9999">028 3910 9999</a>
			<!-- <a class="lang" href="index.html"><img src="assets/images/en.png"></a> -->
		</div>
	</div>
</div>