<div class="top-hd" id="header-top">
	<div class="container clearfix">
    <div class="right-hd">
      <a class="phone-icon"></a>
      <a class="phone" href="tel:028 3910 9999">028 3910 9999</a>
      <a class="login" href={{loginUrl}}>{{'login' | translate}}</a>
    </div>
		<ul class="left-hd">
      <li><a routerLink="{{ urlService.getUrlByKey('faq') }}">{{'faqs' | translate}}</a></li>
      <li><a href="mailto:info@aih.com.vn">info@aih.com.vn</a></li>
      <li><a href="tel:1155" class='emergancy-area'>{{'emergancy' | translate}}<em class="emergancy">*1155</em></a></li>
		</ul>
	</div>
</div>