<div class="top-hd">
	<div class="container clearfix">
		<ul class="left-hd">
			<li><a routerLink="/about-us/faq">{{'faqs' | translate}}</a></li>
			<li><a routerLink="/patient-services/medical-services">{{'patient_services' | translate}}</a></li>
			<li><a routerLink="/contact">{{'contact' | translate}}</a></li>
			<li><a href="mailto:info@aih.com.vn">info@aih.com.vn</a></li>
		</ul>
		<div class="right-hd">
			<a class="phone" href="tel:028 3910 9999">028 3910 9999</a>
			<!-- <a class="lang" href="index.html"><img src="assets/images/en.png"></a> -->
		</div>
	</div>
</div>