<main id="pAbout">
  <div class="breadcrumb">
    <div class="container">
      <a routerLink="/">{{ 'home' | translate }}</a> /
      <p>{{ page ? page.name : '' }}</p></div>
  </div>

  <div class="banner-quote">
    <div class="item"
         [style.background]="'url(' + banners[0].large + ')'" *ngIf="banners && banners.length"
    >
      <div class="container">
        <div class="ct-banner">
          <img class="banner-home-mb" src="{{ banners[0].small }}" />
        </div>
      </div>
    </div>
  </div>

  <section>
    <div class="container">
      <div class="list-quote" id="testi-area">
        <ul>
          <li *ngFor="let item of testimonials">
            <app-testimonial-item [testimonial]="item"></app-testimonial-item>
          </li>
        </ul>
      </div>
    </div>
  </section>

</main>
