<main id="pAbout">
  <div class="breadcrumb">
    <div class="container"><a href="../index.html">Home</a> / <p>Testimonials</p></div>
  </div>

  <div class="banner-quote">
    <div class="item"
         style="background: url(/assets/storage/2018/07/medical-package-otorhinolaryngology1531465063.jpg) no-repeat;">
      <div class="container">
        <div class="ct-banner">
          <img class="banner-home-mb" src="/assets/storage/2018/07/medical-package-otorhinolaryngology1531465063.jpg">
        </div>
      </div>
    </div>
  </div>


  <section>
    <div class="container">
      <div class="list-quote">
        <ul>
          <li *ngFor="let item of testimonials">
            <div class="item">
              <div class="copy">
                <div class="ava" style="background: url();">
                  <img src="../assets/images/b.gif">
                </div>
                <p datamore="Show more" dataless="Show less" class="text js-text">{{item.logdesc}}</p>
                <div class="info-quote">
                  <h4>{{item.title}}</h4>
                  <span>{{item.description}}</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

</main>
