<main id="page-login">
  <section>
    <div class="container">
      <div class="box-login">
        <div class="box-menu-mobile clearfix">
          <ul>
            <li><a href="#">Đăng Ký</a></li>
            <li class="active"><a href="#">Đăng Nhập</a></li>
          </ul>
        </div>
        <div class="login-form">
          <h3>Đăng nhập</h3>
          <form>
            <div class="form-group clearfix">
              <input type="" class="form-control" id="" placeholder="Số điện thoại">
            </div>
            <div class="form-group clearfix">
              <input type="password" class="form-control" id="" placeholder="Mật khẩu">
            </div>
            <div class="form-group clearfix">
              <div class="box-left">
                <div class="checkbox">
                  <label><input type="checkbox"> Nhớ mật khẩu</label>
                </div>
              </div>
              <div class="box-right">
                <a href="#">Quên mật khẩu</a>
              </div>
            </div>
            <div class="form-group clearfix">
              <button type="submit" class="btn btn-login">Đăng nhập</button>
            </div>
            <div class="form-group clearfix">
              <p class="link-regis">Bạn chưa có tài khoản, đăng ký tại <a href="#">đây</a></p>
            </div>

          </form>
        </div>
      </div>


    </div>
  </section>
</main>
