<div class="item-cr">
    <div class="tt-page">
        <h4>{{ 'careers' | translate }}</h4>
        <h3>{{ 'opportunities' | translate }}</h3>
    </div>
</div>

<div class="item-cr" *ngFor="let careerCategory of careerCategories">
    <div class="list-cr">
        <h3>{{ careerCategory.name }}</h3>
        <ul class="clearfix js-medical-list">

            <li *ngFor="let career of careerCategory.careers">
                <img src="../assets/images/icon-cr-2.png">
                <div class="copy">
                    <h4>{{ career.name }}</h4>
                    <p innerHTML="{{ career.shortDesc | decodeHtmlEntities }}"></p>
                </div>
                <a class="link-all" routerLink="{{ career.url }}"></a>
            </li>

        </ul>
    </div>
</div>