<div class="newsletter js-subscribe">
	<div class="container clearfix">
		<div class="copy">
			<h2>{{'subscribe_to_our_newsletters' | translate}}</h2>
			<p>{{'be_among_the_first_to_receive_healthcare_&_medical_news_from_our_experts' | translate}}</p>
		</div>
		<div class="ip-news">
			<input type="email" name="email" (blur)="validator()" [(ngModel)]='email'  class="js-required js-email form-control {{ errorEmail ? 'error' : '' }}" placeholder="{{'your_email_address' | translate}}">
			<input type="submit" (click)="subsribe()" value="{{'subscribe' | translate}}" />
		</div>
	</div>
</div>