.page-insurance-membership {
  padding-bottom: 30px;
}
.persond-ins {
  opacity: 1;
  .box {
    width: 50%;


    img {
      max-width: 100%;
    }

    .heading {
      font-size: 36px;
      color: #007297;
      font-family: utm_avobold;
      text-transform: uppercase;
      padding: 30px 0;
      border-bottom: 1px solid #b3b3b3;
    }

    .content {
      padding: 30px 0;
    }

  }
  .box-left {
    padding-right: 25px;
    float: left;
  }
  .box-right {
    padding-left: 25px;
    float: right;
  }
}
