<main id="pServiceInsurance" class="page-insurance-membership">
  <div class="breadcrumb">
    <div class="container"><a href="#">{{ 'home' | translate }}</a> /
      <p>{{ page ? page.name : '' }}</p></div>
  </div>

  <div class="banner-page" [style.background]="'url(' + banners[0].large + ')'" *ngIf="banners && banners.length">
    <div class="container">
      <div class="ct-banner">
        <div class="copy-ins">
          <h2>{{ banners[0] ? banners[0].Title : '' }}</h2>
          <p>{{ banners[0] ? banners[0].Content : '' }}</p>
        </div>
      </div>
    </div>
  </div>

  <section class="insurance-mem clearfix">
    <div class="container">

      <div class="persond-ins" *ngIf="categories">

          <div *ngFor="let category of categories; let index=index; let odd=odd; let even=even;" class="box" [ngClass]="{'box-left': odd, 'box-right': even}">
            <div class="img" *ngIf="category.picturePath"><img src="{{ category.picturePath }}" alt="" /></div>
            <div class="heading">{{ category.name }}</div>
            <div class="content" innerHTML="{{ category.shortDesc | decodeHtmlEntities }}"></div>
            <a routerLink="{{ category.url }}" class="read-more"><span>{{ 'learn_more' | translate }}</span></a>
          </div>

      </div>
    </div>
  </section>

</main>
