<section class="testimo-home" *ngIf="feedbacks" (deferLoad)="showTestimo = true">
  <div *ngIf="showTestimo" class="container">

    <div class="tt testimo-home-heading">
      <p><a href="/about-us/testimonial">{{ 'testimonials' | translate }}</a></p>
      <h2><a href="/about-us/testimonial">{{ 'what_our_clients_say' | translate }}</a></h2>
    </div>

    <ngx-slick-carousel
            [config]="slideConfig"
            #slickModal="slick-carousel"
            (init)="slickInit($event)"
            (beforeChange)="onBeforeChange($event)"
            (afterChange)="onAfterChange($event)"
    >

    <div *ngFor="let feedback of feedbacks;"
         class="item"
         ngxSlickItem>

      <a href="/about-us/testimonial?id={{ feedback.id }}">
        <div class="testimo-item">
          <div class="copy-quote">
            <p *ngIf="getLongDesc(feedback)" [innerHTML]="getLongDesc(feedback) | decodeHtmlEntities | safeHtml"></p>
            <div class="info-quote">
              <h4>{{ feedback.title }}</h4>
              <span>{{ feedback.desc }}</span>
            </div>
          </div>
        </div>
      </a>

    </div>

    </ngx-slick-carousel>
  </div>

  <div *ngIf="iframeSrc" class="play-video js-open-video" (click)="handleOpenPopup()"></div>
</section>
<app-video-popup #videoPopup *ngIf="iframeSrc" [iframeSrc]=iframeSrc></app-video-popup>
