<div #bannerHome class="banner-home">
  <ngx-slick-carousel
    [config]="slideConfig"
    #slickModal="slick-carousel"
    (init)="slickInit($event)"
    (beforeChange)="onBeforeChange($event)"
  >
    <div
      *ngFor="let item of banners;trackBy: trackBannerUrl"
      ngxSlickItem
      class="item"
      [ngStyle]="{ background: 'url(' + (item.showContent && (isTablet || isDesktopDevice) ? item.large : '')  + ') no-repeat center' }"
    >
      <a class="desk-link" [href]="item.link" *ngIf="(isTablet || isDesktopDevice)"></a>
      <div class="container" *ngIf="item.showContent && (isMobile || isTablet)">
        <a [href]="item.link"></a>
        <div class="ct-banner">
          <img class="banner-home-mb" [src]="item.small" />
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</div>
