<div #bannerHome class="banner-home">
  <ngx-slick-carousel
    [config]="slideConfig"
    #slickModal="slick-carousel"
    (init)="slickInit($event)"
  >
    <div
      *ngFor="let item of banners;trackBy: trackBannerUrl"
      ngxSlickItem
      class="item"
      [ngStyle]="{ background: 'url(' + item.large + ') no-repeat' }"
    >
      <div class="container">
        <a [href]="item.url"></a>
        <div class="ct-banner">
          <img class="banner-home-mb" [src]="item.small" />
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</div>
