<main id="page-acccount">
  <section>
    <div class="container">
      <div class="box-account clearfix">
        <div class="account-left">
          <div class="box-avatar">
            <div class="avatar-img">
              <img src="" alt="">
            </div>
            <h4>Nguyễn Văn A</h4>
          </div>
          <div class="line-acc"></div>
          <div class="menu-acc">
            <ul>
              <li class="active"><a href="#">Lịch hẹn</a></li>
              <li><a href="#">Đánh giá dịch vụ</a></li>
              <li><a href="#">Lịch sử đặt hẹn</a></li>
              <li><a href="#">Tư vấn trực tuyến</a></li>
              <li><a href="#">Thông báo</a></li>
              <li><a href="#">Thông tin</a></li>
              <li><a href="#">Cài đặt</a></li>
            </ul>
          </div>
        </div>
        <div class="account-right">
          <h3>Hủy hẹn</h3>
          <div class="box-lichhen-right clearfix">
            <div class="box-lichhen clearfix">
              <div class="box-calender-top">
                <div>
                  <h4>Thứ tư, 01/06/2019, 8:40 Am</h4>
                </div>
                <a href="#"><img src="images/calender1.png" alt=""></a>
              </div>
              <div class="box-calender-bottom">
                <div class="box-left">
                  <div>
                    <div>
                      <p>Chuyên khoa</p>
                    </div>
                    <div>
                      <p>Thận Niệu & Nam Khoa</p>
                    </div>
                  </div>
                  <div>
                    <div>
                      <p>Bác sĩ</p>
                    </div>
                    <div>
                      <p>Nguyễn Ngọc Tiến</p>
                    </div>
                  </div>

                </div>
                <div class="box-right">
                  <div class="icon-act">
                    <a href="#"><img class="icon-edit" src="images/edit.png" alt=""></a>
                    <a href="#" class="myBtn-modal"><img class="icon-delete" src="images/delete.png" alt=""></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-lichhen clearfix">
              <div class="box-calender-top">
                <div>
                  <h4>Thứ tư, 01/06/2019, 8:40 Am</h4>
                </div>
                <a href="#"><img src="images/calender2.png" alt=""></a>
              </div>
              <div class="box-calender-bottom">
                <div class="box-left">
                  <div>
                    <div>
                      <p>Chuyên khoa</p>
                    </div>
                    <div>
                      <p>Thận Niệu & Nam Khoa</p>
                    </div>
                  </div>
                  <div>
                    <div>
                      <p>Bác sĩ</p>
                    </div>
                    <div>
                      <p>Nguyễn Ngọc Tiến</p>
                    </div>
                  </div>

                </div>
                <div class="box-right">
                  <div class="icon-act">
                    <a href="#"><img class="icon-edit" src="images/edit1.png" alt=""></a>
                    <a href="#" class="myBtn-modal"><img class="icon-delete" src="images/delete.png" alt=""></a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>


    </div>
  </section>
</main>
