<main id="pServiceCate">
  <div class="breadcrumb">
    <div class="container"><a href="../index.html">Trang chủ</a> / <p>Các chuyên khoa</p></div>
  </div>
  <section class="service-cate-wrap">
    <div class="container">
      <div class="service-drop-mb js-cselect" data-target="medicalService">
        <h3>Chuyên khoa</h3>
        <select class="custom-sl">
          <option value="medical-services.html"> Thông tin chung</option>
          <option value="medical-services/1-obstetrics-gynecology.html">Khoa Phụ Sản</option>
          <option value="medical-services/2-pediatrics.html">Khoa Nhi</option>
          <option value="medical-services/3-general-surgery.html">Khoa Ngoại tổng quát</option>
          <option value="medical-services/4-urology-andrology.html">Khoa Thận Niệu - Nam khoa</option>
          <option value="medical-services/5-gastroenterology-hepatology.html">Khoa Tiêu hóa - Gan mật</option>
          <option value="medical-services/6-oncology.html">Khoa Ung bướu</option>
          <option value="medical-services/7-ophthalmology.html">Khoa Mắt</option>
          <option value="medical-services/10-orthopedics.html">Khoa Chấn thương chỉnh hình</option>
          <option value="medical-services/11-cardiology.html">Khoa Tim mạch</option>
          <option value="medical-services/12-physiotherapy-rehabilitation.html">Khoa Vật lý trị liệu - Phục hồi chức
            năng
          </option>
          <option value="medical-services/13-internal-medicine.html">Khoa Nội tổng quát</option>
          <option value="medical-services/14-cosmetic-care.html">Khoa Thẩm mỹ nội khoa - Chống lão hóa</option>
          <option value="medical-services/16-otorhinolaryngology-ent.html">Khoa Tai Mũi Họng</option>
          <option value="medical-services/23-imaging.html">Khoa Chẩn đoán hình ảnh</option>
          <option value="medical-services/24-laboratory.html">Khoa Xét nghiệm</option>
          <option value="medical-services/25-outpatient-and-health-check-up.html">Khoa Khám bệnh và Kiểm tra sức khỏe
            tổng quát
          </option>
          <option value="medical-services/26-emergency-icu.html">Khoa Hồi sức Cấp cứu</option>
          <option value="medical-services/27-anesthesiology.html">Khoa Gây mê hồi sức</option>
          <option value="medical-services/28-nutrition.html">Khoa Dinh dưỡng</option>

        </select>
      </div>

      <div class="content-sv">
        <div class="service-cate">
          <h3>Chuyên khoa</h3>
          <ul>

            <li><a href="medical-services/1-obstetrics-gynecology.html"><span>Khoa Phụ Sản</span></a></li>

            <li><a href="medical-services/2-pediatrics.html"><span>Khoa Nhi</span></a></li>

            <li><a href="medical-services/3-general-surgery.html"><span>Khoa Ngoại tổng quát</span></a></li>

            <li><a href="medical-services/4-urology-andrology.html"><span>Khoa Thận Niệu - Nam khoa</span></a></li>

            <li><a href="medical-services/5-gastroenterology-hepatology.html"><span>Khoa Tiêu hóa - Gan mật</span></a>
            </li>

            <li><a href="medical-services/6-oncology.html"><span>Khoa Ung bướu</span></a></li>

            <li><a href="medical-services/7-ophthalmology.html"><span>Khoa Mắt</span></a></li>

            <li><a href="medical-services/10-orthopedics.html"><span>Khoa Chấn thương chỉnh hình</span></a></li>

            <li><a href="medical-services/11-cardiology.html"><span>Khoa Tim mạch</span></a></li>

            <li><a href="medical-services/12-physiotherapy-rehabilitation.html"><span>Khoa Vật lý trị liệu - Phục hồi chức năng</span></a>
            </li>

            <li><a href="medical-services/13-internal-medicine.html"><span>Khoa Nội tổng quát</span></a></li>

            <li><a href="medical-services/14-cosmetic-care.html"><span>Khoa Thẩm mỹ nội khoa - Chống lão hóa</span></a>
            </li>

            <li><a href="medical-services/16-otorhinolaryngology-ent.html"><span>Khoa Tai Mũi Họng</span></a></li>

            <li><a href="medical-services/23-imaging.html"><span>Khoa Chẩn đoán hình ảnh</span></a></li>

            <li><a href="medical-services/24-laboratory.html"><span>Khoa Xét nghiệm</span></a></li>

            <li><a href="medical-services/25-outpatient-and-health-check-up.html"><span>Khoa Khám bệnh và Kiểm tra sức khỏe tổng quát</span></a>
            </li>

            <li><a href="medical-services/26-emergency-icu.html"><span>Khoa Hồi sức Cấp cứu</span></a></li>

            <li><a href="medical-services/27-anesthesiology.html"><span>Khoa Gây mê hồi sức</span></a></li>

            <li><a href="medical-services/28-nutrition.html"><span>Khoa Dinh dưỡng</span></a></li>

          </ul>
        </div>
        <div class="copy">
          <div class="banner-pk" style="background: url(../storage/2018/07/medical-package-900x3331531389811.jpg)">
            <img src="../assets/images/pk.gif">
          </div>
          <!-- <p><img src="http://aih.com.vn/storage/2018/07/medical-package-900x3331531389811.jpg"></p> -->
          <p style="text-align: justify;">Bệnh viện Quốc Tế Mỹ (AIH) cam kết mang lại những trải nghiệm dịch vụ y tế
            chất lượng cao tại nhiều chuy&ecirc;n khoa, trong đ&oacute; c&oacute; 5 chuy&ecirc;n khoa mũi nhọn gồm: Khoa
            Phụ Sản, Khoa Nhi, Khoa Ngoại tổng qu&aacute;t, Khoa Thận Niệu &amp; Nam Khoa, v&agrave; Khoa Ti&ecirc;u h&oacute;a
            &ndash; Gan mật.</p>
          <p style="text-align: justify;">Với đội ngũ nh&acirc;n vi&ecirc;n y tế Việt Nam v&agrave; nước ngo&agrave;i
            giỏi chuy&ecirc;n m&ocirc;n, gi&agrave;u kinh nghiệm v&agrave; c&aacute;c trang thiết bị ti&ecirc;n tiến,
            AIH cung cấp c&aacute;c dịch vụ đa dạng đ&aacute;p ứng hầu hết mọi nhu cầu của cả bệnh nh&acirc;n nội tr&uacute;
            v&agrave; ngoại tr&uacute;. Tại AIH, ch&uacute;ng t&ocirc;i kh&ocirc;ng ngừng nỗ lực nhằm mang lại dịch vụ y
            tế theo ti&ecirc;u chuẩn cao nhất tại tất cả c&aacute;c chuy&ecirc;n khoa.</p>
          <p style="text-align: justify;">Đến với AIH, v&igrave; bạn xứng đ&aacute;ng nhận được sự chăm s&oacute;c ho&agrave;n
            hảo nhất.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="doctor-home">
    <div class="container">
      <div class="tt-item">
        <a href="../doctor.html">Bác sĩ</a>
        <div class="btn-crs">
          <span class="btn-prev crs-prev"></span>
          <span class="btn-next crs-next"></span>
        </div>
      </div>
      <div class="crs-style1">
        <ul>
          <li>
            <div class="item-doc">
              <div class="img">
                <div style="background: url(../storage/2018/09/nguyen-ngoc-tien1536984195.png);"></div>
                <img class="img-1366" src="../assets/images/dt.gif">
                <img src="../assets/images/b.gif">
              </div>
              <div class="tt-doc-crs">
                <h2>TS. BS. Nguyễn Ngọc Tiến</h2>
                <p>Khoa Thận Niệu - Nam khoa</p>

              </div>
              <div class="copy">
                <p>Là chuyên gia về niệu khoa được đào tạo tại Việt Nam, Pháp và Bỉ, với gần 30 năm kinh...</p>
                <a href="../doctor/detail/62-nguyen-ngoc-tien-md-msc-phd.html">
                  <span>Tìm hiểu thêm</span>
                </a>
              </div>
              <a class="link" href="../doctor/detail/62-nguyen-ngoc-tien-md-msc-phd.html"></a>
            </div>
          </li>
          <li>
            <div class="item-doc">
              <div class="img">
                <div style="background: url(../storage/2018/10/biset1539335466.png);"></div>
                <img class="img-1366" src="../assets/images/dt.gif">
                <img src="../assets/images/b.gif">
              </div>
              <div class="tt-doc-crs">
                <h2>BS. Jean-Francois Louis BISET</h2>
                <p>Khoa Thận Niệu - Nam khoa</p>

              </div>
              <div class="copy">
                <p>Có kinh nghiệm làm việc tại nhiều quốc gia trong hơn 27 năm qua, BS. Jean-Francois Louis BISET
                  -...</p>
                <a href="../doctor/detail/64-jean-francois-louis-biset-md.html">
                  <span>Tìm hiểu thêm</span>
                </a>
              </div>
              <a class="link" href="../doctor/detail/64-jean-francois-louis-biset-md.html"></a>
            </div>
          </li>
          <li>
            <div class="item-doc">
              <div class="img">
                <div style="background: url(../storage/2018/10/aron-schuftan1539848302.png);"></div>
                <img class="img-1366" src="../assets/images/dt.gif">
                <img src="../assets/images/b.gif">
              </div>
              <div class="tt-doc-crs">
                <h2>BS. Aron Schuftan</h2>
                <p>Khoa Phụ Sản</p>

              </div>
              <div class="copy">
                <p>BS. Aron Schuftan là bác sĩ sản phụ khoa được chứng nhận tại Mỹ đã có thời gian làm...</p>
                <a href="../doctor/detail/66-aron-schuftan-md.html">
                  <span>Tìm hiểu thêm</span>
                </a>
              </div>
              <a class="link" href="../doctor/detail/66-aron-schuftan-md.html"></a>
            </div>
          </li>
          <li>
            <div class="item-doc">
              <div class="img">
                <div style="background: url(../storage/2018/10/nguyen-duy-tai1539760874.jpg);"></div>
                <img class="img-1366" src="../assets/images/dt.gif">
                <img src="../assets/images/b.gif">
              </div>
              <div class="tt-doc-crs">
                <h2>GS. TS. BS. Nguyễn Duy Tài</h2>
                <p>Khoa Phụ Sản</p>

              </div>
              <div class="copy">
                <p>Giáo sư Nguyễn Duy Tài được biết đến như một trong những chuyên gia đầu ngành về sản...</p>
                <a href="../doctor/detail/65-prof-nguyen-duy-tai-md-phd.html">
                  <span>Tìm hiểu thêm</span>
                </a>
              </div>
              <a class="link" href="../doctor/detail/65-prof-nguyen-duy-tai-md-phd.html"></a>
            </div>
          </li>
          <li>
            <div class="item-doc">
              <div class="img">
                <div style="background: url(../storage/2018/08/le-huu-dat1535521408.jpg);"></div>
                <img class="img-1366" src="../assets/images/dt.gif">
                <img src="../assets/images/b.gif">
              </div>
              <div class="tt-doc-crs">
                <h2>BS. CKII Lê Hữu Đạt</h2>
                <p>Khoa Gây mê hồi sức</p>

              </div>
              <div class="copy">
                <p>Là một chuyên gia dày dạn kinh nghiệm với gần 30 năm công tác tại khoa Gây mê hồi sức...</p>
                <a href="../doctor/detail/37-le-huu-dat-md.html">
                  <span>Tìm hiểu thêm</span>
                </a>
              </div>
              <a class="link" href="../doctor/detail/37-le-huu-dat-md.html"></a>
            </div>
          </li>
          <li>
            <div class="item-doc">
              <div class="img">
                <div style="background: url(../../aih.com.vn/storage/2018/08/do-minh-hung1535521496.jpg);"></div>
                <img class="img-1366" src="../assets/images/dt.gif">
                <img src="../assets/images/b.gif">
              </div>
              <div class="tt-doc-crs">
                <h2>TS. BS. Đỗ Minh Hùng</h2>
                <p>Khoa Ngoại tổng quát</p>

              </div>
              <div class="copy">
                <p>Là một trong những bác sĩ ngoại khoa có tiếng tại TP. Hồ Chí Minh được giới chuyên môn...</p>
                <a href="../doctor/detail/36-do-minh-hung-md-msc-phd.html">
                  <span>Tìm hiểu thêm</span>
                </a>
              </div>
              <a class="link" href="../doctor/detail/36-do-minh-hung-md-msc-phd.html"></a>
            </div>
          </li>
          <li>
            <div class="item-doc">
              <div class="img">
                <div style="background: url(../storage/2018/08/pham-cong-luan1535521300.jpg);"></div>
                <img class="img-1366" src="../assets/images/dt.gif">
                <img src="../assets/images/b.gif">
              </div>
              <div class="tt-doc-crs">
                <h2>ThS. BS. Phạm Công Luận</h2>
                <p>Khoa Nhi</p>

              </div>
              <div class="copy">
                <p>Là một trong những tài năng đang góp sức tại Bệnh viện Quốc tế Mỹ để cùng chúng tôi...</p>
                <a href="../doctor/detail/32-pham-cong-luan-md-msc.html">
                  <span>Tìm hiểu thêm</span>
                </a>
              </div>
              <a class="link" href="../doctor/detail/32-pham-cong-luan-md-msc.html"></a>
            </div>
          </li>
          <li>
            <div class="item-doc">
              <div class="img">
                <div style="background: url(../storage/2018/08/truong-da-uyen1535521593.jpg);"></div>
                <img class="img-1366" src="../assets/images/dt.gif">
                <img src="../assets/images/b.gif">
              </div>
              <div class="tt-doc-crs">
                <h2>BS. CKI Trương Dạ Uyên</h2>
                <p>Khoa Khám bệnh và Kiểm tra sức khỏe tổng quát</p>

              </div>
              <div class="copy">
                <p>Là bác sĩ chuyên ngành nội tiết sở hữu 20 năm kinh nghiệm khám, điều trị và nghiên cứu...</p>
                <a href="../doctor/detail/31-truong-da-uyen-md.html">
                  <span>Tìm hiểu thêm</span>
                </a>
              </div>
              <a class="link" href="../doctor/detail/31-truong-da-uyen-md.html"></a>
            </div>
          </li>
          <li>
            <div class="item-doc">
              <div class="img">
                <div style="background: url(../storage/2018/08/nguyen-quang-manh1535521636.jpg);"></div>
                <img class="img-1366" src="../assets/images/dt.gif">
                <img src="../assets/images/b.gif">
              </div>
              <div class="tt-doc-crs">
                <h2>BS. Nguyễn Quang Mạnh</h2>
                <p>Khoa Nội tổng quát</p>

              </div>
              <div class="copy">
                <p>BS. Nguyễn Quang Mạnh là bác sĩ được đào tạo về chuyên ngành nội khoa và hồi sức cấp...</p>
                <a href="../doctor/detail/30-nguyen-quang-manh-md.html">
                  <span>Tìm hiểu thêm</span>
                </a>
              </div>
              <a class="link" href="../doctor/detail/30-nguyen-quang-manh-md.html"></a>
            </div>
          </li>
          <li>
            <div class="item-doc">
              <div class="img">
                <div style="background: url(../storage/2018/12/ngo-thanh-mai1544009611.jpg);"></div>
                <img class="img-1366" src="../assets/images/dt.gif">
                <img src="../assets/images/b.gif">
              </div>
              <div class="tt-doc-crs">
                <h2>BS. CKII Ngô Thanh Mai</h2>
                <p>Khoa Thận Niệu - Nam khoa</p>

              </div>
              <div class="copy">
                <p>BS. CKII Ngô Thanh Mai có 25 năm kinh nghiệm về khám, tư vấn, điều trị và là phẫu thuật...</p>
                <a href="../doctor/detail/77-ngo-thanh-mai-md.html">
                  <span>Tìm hiểu thêm</span>
                </a>
              </div>
              <a class="link" href="../doctor/detail/77-ngo-thanh-mai-md.html"></a>
            </div>
          </li>
          <li>
            <div class="item-doc">
              <div class="img">
                <div style="background: url(../storage/2018/09/duong-thuy-lien1536232426.jpg);"></div>
                <img class="img-1366" src="../assets/images/dt.gif">
                <img src="../assets/images/b.gif">
              </div>
              <div class="tt-doc-crs">
                <h2>ThS. BS. Dương Thúy Liên</h2>
                <p>Khoa Tim mạch</p>

              </div>
              <div class="copy">
                <p>Gần 35 năm kinh nghiệm điều trị các bệnh lý về tim mạch, ThS. BS. Dương Thúy Liên hiện...</p>
                <a href="../doctor/detail/60-duong-thuy-lien-md-msc.html">
                  <span>Tìm hiểu thêm</span>
                </a>
              </div>
              <a class="link" href="../doctor/detail/60-duong-thuy-lien-md-msc.html"></a>
            </div>
          </li>
          <li>
            <div class="item-doc">
              <div class="img">
                <div style="background: url(../storage/2018/08/nguyen-nghiem-tuan1535521544.jpg);"></div>
                <img class="img-1366" src="../assets/images/dt.gif">
                <img src="../assets/images/b.gif">
              </div>
              <div class="tt-doc-crs">
                <h2>ThS. BS. Nguyễn Nghiêm Tuấn</h2>
                <p>Khoa Hồi sức Cấp cứu</p>

              </div>
              <div class="copy">
                <p>Với bề dày kinh nghiệm trong lĩnh vực hồi sức cấp cứu, được đào tạo y khoa từ Đại...</p>
                <a href="../doctor/detail/39-nguyen-nghiem-tuan-md-msc.html">
                  <span>Tìm hiểu thêm</span>
                </a>
              </div>
              <a class="link" href="../doctor/detail/39-nguyen-nghiem-tuan-md-msc.html"></a>
            </div>
          </li>
        </ul>
        <div class="btn-wrap show-mb">
          <a class="btn-showmore" href="../doctor.html">Xem thêm</a>
        </div>
      </div>
    </div>
  </section>
  <section class="news-home">
    <div class="container">
      <div class="tt-item">
        <h3>Tin tức</h3>
      </div>
      <div class="news-list-wrap">
        <ul class="clearfix js-list-news">
          <li>
            <div class="item-news">
              <div class="img">
                <div style="background: url(../storage/2019/05/1000x1000-en1559009747.png);"></div>
                <img src="../assets/images/news.gif">
                <img class="show-mb" src="../assets/images/b.gif">
              </div>
              <div class="tt-news">
                <p class="date">28/05/2019</p>
                <span class="cm">0</span>
              </div>
              <div class="copy">
                <h2>AIH X Kawaii Spa: Đặc Quyền Ưu Đãi Dành Tặng Mẹ Bầu</h2>
                <p>9 tháng mười ngày mang thai là một hành trình hạnh phúc nhưng cũng nhiều vất vả của mẹ....</p>
                <a
                  href="../news/detail/409-aih-x-kawaii-spa-privilege-promotion-for-pregnant.html"><span>Tìm hiểu thêm</span></a>
              </div>
              <a class="link" href="../news/detail/409-aih-x-kawaii-spa-privilege-promotion-for-pregnant.html"></a>
            </div>
          </li>
          <li>
            <div class="item-news">
              <div class="img">
                <div style="background: url(../storage/2018/07/anhbacsi21530418532.jpg);"></div>
                <img src="../assets/images/news.gif">
                <img class="show-mb" src="../assets/images/b.gif">
              </div>
              <div class="tt-news">
                <p class="date">01/07/2018</p>
                <span class="cm">0</span>
              </div>
              <div class="copy">
                <h2>Video American International Hospital</h2>
                <p>As we get older, we often experience normal changes in our sleep patterns, such as early sleepiness,
                  getting up...</p>
                <a href="../news/detail/175-video-american-international-hospital.html"><span>Tìm hiểu thêm</span></a>
              </div>
              <a class="link" href="../news/detail/175-video-american-international-hospital.html"></a>
            </div>
          </li>
          <li>
            <div class="item-news">
              <div class="img">
                <div style="background: url(../storage/2019/05/684-x-441-eng1557375202.png);"></div>
                <img src="../assets/images/news.gif">
                <img class="show-mb" src="../assets/images/b.gif">
              </div>
              <div class="tt-news">
                <p class="date">09/05/2019</p>
                <span class="cm">0</span>
              </div>
              <div class="copy">
                <h2>[CẢNH BÁO] VIỆT NAM ĐỨNG THỨ 3 THẾ GIỚI VỀ TỶ LỆ...</h2>
                <p>Theo thống kê của Tổ chức Ung thư toàn cầu (GLOBOCAN), trong năm 2018, Việt Nam có tỷ lệ...</p>
                <a
                  href="../news/detail/402-warning-vietnam-had-the-third-highest-rate-of-liver-cancer-in-2018.html"><span>Tìm hiểu thêm</span></a>
              </div>
              <a class="link"
                 href="../news/detail/402-warning-vietnam-had-the-third-highest-rate-of-liver-cancer-in-2018.html"></a>
            </div>
          </li>
          <li>
            <div class="item-news">
              <div class="img">
                <div style="background: url(../storage/2019/05/684-x-441-eng1557375503.png);"></div>
                <img src="../assets/images/news.gif">
                <img class="show-mb" src="../assets/images/b.gif">
              </div>
              <div class="tt-news">
                <p class="date">09/05/2019</p>
                <span class="cm">0</span>
              </div>
              <div class="copy">
                <h2>TÌM HIỂU CÁC PHƯƠNG PHÁP CHẨN ĐOÁN VÀ ĐIỀU TRỊ UNG...</h2>
                <p>Hiện nay, có nhiều cách để điều trị ung thư gan. Tùy thuộc vào từng giai đoạn phát...</p>
                <a
                  href="../news/detail/403-liver-cancer-diagnosis-and-treatment-information.html"><span>Tìm hiểu thêm</span></a>
              </div>
              <a class="link" href="../news/detail/403-liver-cancer-diagnosis-and-treatment-information.html"></a>
            </div>
          </li>

        </ul>
        <div data-append="0" data-parent="js-list-news" class="paging js-paging-ajax"><span>1</span><a target="_self"
                                                                                                       href="../newse075.html?page=2&amp;item=4">2</a><a
          target="_self" href="../news0657.html?page=3&amp;item=4">3</a><a target="_self"
                                                                           href="../newsd85a.html?page=4&amp;item=4">4</a><a
          target="_self" href="../news6d30.html?page=5&amp;item=4">5</a><a target="_self"
                                                                           href="../newse075.html?page=2&amp;item=4"
                                                                           class="next-page"></a></div>
        <div class="btn-wrap show-mb">
          <a class="btn-showmore" href="../news.html">Xem thêm</a>
        </div>
      </div>
    </div>
  </section>
</main>
