<main id="pServiceCate">
  <div class="breadcrumb">
    <div class="container">
      <a routerLink="/">{{ 'home' | translate }}</a> /
      <p>{{ page ? page.name : '' }}</p></div>
  </div>
  <section class="service-cate-wrap">
    <div class="container">
      <app-service-drop-mb></app-service-drop-mb>

      <div class="content-sv" myMatchHeight="copy-text"  *ngIf="page">
        <div class="copy-text service-cate">
          <h3>{{ 'our_departments' | translate }}</h3>
          <app-sidebar></app-sidebar>
        </div>
        <div class="copy-text copy" innerHTML="{{ page.longDesc | decodeHtmlEntities }}"></div>
      </div>
    </div>
  </section>

  <app-section-doctor></app-section-doctor>
  <section class="news-home">
    <div class="container">
      <div class="tt-item">
        <h3>{{ 'news' | translate }}</h3>
      </div>
      <app-news-item></app-news-item>
    </div>
  </section>
</main>
