<div id="choosen-wrap-w" class="choosen-wrap" (clickOutside)="onClickOutside($event)">
	<h2>{{ 'please_choose' | translate }}<br/> {{ 'please_choose_our_medical_packages' | translate }}</h2>
	<ul>
		<li>
			<div class="drop-pk js-package-home" >
				<p *ngIf="!chosenPackage" (click)="handleInputClick()">{{ 'medical_packages' | translate }}</p>
				<p *ngIf="chosenPackage" (click)="handleInputClick()"><span class="animateSpan">{{ chosenPackage.name }}</span></p>
				<div class="dropdown-list {{ isActive ? 'active' : '' }}">
					<div class="copyscroll">
						<div class="nano">
							<div class="nano-content">
								<span *ngFor="let package of currentPackages" (click)="chooseParent(package)">{{ package.name }}</span>
							</div>
						</div>
					</div>	        																				
				</div>
			</div>
		</li>
		<li>
			<div class="drop-pk js-package-home" (clickOutside)="onClickOutsideChild($event)">
				<p *ngIf="!chosenPackageChild" (click)="handleInputChildClick()">{{ 'medical_packages_detail' | translate }}</p>
				<p *ngIf="chosenPackageChild" (click)="handleInputChildClick()"><span class="animateSpan">{{ chosenPackageChild.name }}</span></p>
				<div class="dropdown-list {{ isActiveChild ? 'active' : '' }}">
					<div class="copyscroll">
						<div class="nano">
							<div class="nano-content">
								<span *ngFor="let childPackage of chosenPackageChilds" (click)="chooseChild(childPackage)">{{ childPackage.name }}</span>
							</div>
						</div>
					</div>	        																				
				</div>
			</div>
		</li>
		<li>
			<div class="item-pk">
				<p>{{ 'price' | translate }} <span class="vl-usd" *ngIf="chosenPackageChild">{{ chosenPackageChild.meta.price }}</span></p>
			</div>
		</li>
		<li>
			<a class="btn-choose-package" (click)="gotoDetail()" >{{ 'detail' | translate }}</a>
		</li>
	</ul>
</div>