<div class="choosen-wrap">
	<h2>VUI LÒNG CHỌN<br/> GÓI DỊCH VỤ</h2>
	<ul>
		<li>
			<div class="drop-pk js-package-home">
				<p>Gói dịch vụ</p>
				<div class="dropdown-list">
					<div class="copyscroll">
						<div class="nano">
							<div class="nano-content">
								<span data-id="317" datavnd="3.834.000" datausd="165">Gói khám sức khỏe tổng quát tiêu chuẩn dành cho nữ</span>
								<span data-id="318" datavnd="9.318.000" datausd="400">Gói khám sức khỏe tổng quát toàn diện dành cho nữ dưới 40 tuổi</span>
								<span data-id="319" datavnd="12.102.000" datausd="519">Gói khám sức khỏe tổng quát toàn diện dành cho nữ trên 40 tuổi</span>
								<span data-id="320" datavnd="8.496.000" datausd="365">Gói khám sức khỏe tổng quát toàn diện dành cho nam trên 50 tuổi</span>
								<span data-id="321" datavnd="7.356.000" datausd="316">Gói khám sức khỏe tổng quát toàn diện dành cho nam dưới 50 tuổi</span>
								<span data-id="66" datavnd="2.250.000" datausd="97">Gói khám sức khỏe tổng quát tiêu chuẩn dành cho nam</span>
								<span data-id="322" datavnd="4.584.000" datausd="197">Gói khám tiền hôn nhân dành cho nam</span>
								<span data-id="323" datavnd="6.864.000" datausd="295">Gói khám tiền hôn nhân dành cho nữ</span>
								<span data-id="380" datavnd="37.900.000" datausd="1.627">Chương trình sinh trọn gói  (Sinh Mổ Trên Sản Phụ Có Vết Mổ Cũ - Lần 1)</span>
								<span data-id="381" datavnd="41.900.000" datausd="1.798">Chương trình sinh trọn gói  (Sinh Mổ Trên Sản Phụ Có Vết Mổ Cũ - Lần 2)</span>
								<span data-id="382" datavnd="42.900.000" datausd="1.841">Chương trình sinh trọn gói  (Sinh Mổ Trên Sản Phụ Có Vết Mổ Cũ - Lần 3)</span>
								<span data-id="383" datavnd="24.900.000" datausd="1.069">Chương trình sinh trọn gói (Sinh Thường Đơn Thai - Phòng Sinh 4 Trong 1)</span>
								<span data-id="384" datavnd="37.000.000" datausd="1.588">Chương trình sinh trọn gói (Sinh Thường Đa Thai - Phòng Sinh 4 Trong 1)</span>
								<span data-id="385" datavnd="38.900.000" datausd="1.669">Chương trình sinh trọn gói  (Sinh Mổ từ Sinh Thường Không Thành Công)</span>
								<span data-id="386" datavnd="41.900.000" datausd="1.798">Chương trình sinh trọn gói  (Sinh Mổ Cấp Cứu)</span>
								<span data-id="387" datavnd="4.100.000" datausd="176">Chi Phí cho bé</span>
								<span data-id="388" datavnd="4.600.000" datausd="197">Nâng Cấp Lên Phòng Suite - 1 ngày</span>
								<span data-id="389" datavnd="4.400.000" datausd="189">Gây Tê Ngoài Màng Cứng</span>
								<span data-id="390" datavnd="45.900.000" datausd="1.970">Chương trình sinh trọn gói (Sinh Mổ Vì Nhau Tiền Đạo)</span>
								<span data-id="64" datavnd="1.038.000" datausd="45">Gói khám sơ sinh</span>
								<span data-id="63" datavnd="1.536.000" datausd="66">Gói khám sức khỏe tổng quát cho trẻ em (12 - 24 tháng tuổi)</span>
								<span data-id="215" datavnd="1.770.000" datausd="76">Gói khám sức khỏe tổng quát cho trẻ em (24 - 48 tháng tuổi)</span>
								<span data-id="216" datavnd="1.656.000" datausd="71">Gói khám sức khỏe tổng quát cho trẻ em (4 - 8 tuổi)</span>
								<span data-id="217" datavnd="2.112.000" datausd="91">Gói khám sức khỏe tổng quát cho trẻ em (9 - 15 tuổi)</span>
								<span data-id="208" datavnd="21.900.000" datausd="940">Chương trình sinh trọn gói (Sinh thường - Thai đơn)</span>
								<span data-id="209" datavnd="34.000.000" datausd="1459">Chương trình sinh trọn gói (Sinh thường - Đa thai)</span>
								<span data-id="210" datavnd="32.900.000" datausd="1.412">Chương trình sinh trọn gói (Sinh Mổ Đơn Thai)</span>
								<span data-id="213" datavnd="43.900.000" datausd="1.884">Chương trình sinh trọn gói (Sinh Mổ Đa Thai)</span>
								<span data-id="202" datavnd="8.127.000" datausd="349">Chương trình theo dõi thai sản 40 tuần (tuần 6 - 13)</span>
								<span data-id="203" datavnd="4.307.100" datausd="185">Chương trình theo dõi thai sản 40 tuần (tuần 14 - 28)</span>
								<span data-id="204" datavnd="14.014.000" datausd="601">Chương trình theo dõi thai sản 40 tuần (tuần 29 - 40)</span>
								<span data-id="205" datavnd="26.448.100" datausd="1,135">Chương trình theo dõi thai sản 40 tuần (tuần 6 - 40)</span>
								<span data-id="206" datavnd="18.321.100" datausd="786">Chương trình theo dõi thai sản 40 tuần (tuần 14 - 40)</span>
								<span data-id="207" datavnd="11.774.000" datausd="505">Chương trình theo dõi thai sản 40 tuần (tuần 36 - 40)</span>
								
							</div>
						</div>
					</div>	        																				
				</div>
			</div>
		</li>
		<li>
			<div class="item-pk">
				<p>VND <span class="vl-vnd"></span></p>
			</div>
		</li>
		<li>
			<div class="item-pk">
				<p>USD <span class="vl-usd"></span></p>
			</div>
		</li>
		<li>
			<a data-href="http://www.aih.com.vn/patient-services/medical-package" class="js-package-detail" href="patient-services/medical-package.html">Chi tiết</a>
		</li>
	</ul>
</div>