<div class="choosen-wrap">
	<h2>{{ 'please_choose_our_medical_packages' | translate }}</h2>
	<ul>
		<li>
			<div class="drop-pk js-package-home">
				<p>{{ 'medical_packages' | translate }}</p>
				<div class="dropdown-list">
					<div class="copyscroll">
						<div class="nano">
							<div class="nano-content">
								<span data-id="317" datavnd="3.834.000" datausd="165">Gói khám sức khỏe tổng quát tiêu chuẩn dành cho nữ</span>
							</div>
						</div>
					</div>	        																				
				</div>
			</div>
		</li>
		<li>
			<div class="item-pk">
				<p>VND <span class="vl-vnd"></span></p>
			</div>
		</li>
		<li>
			<div class="item-pk">
				<p>USD <span class="vl-usd"></span></p>
			</div>
		</li>
		<li>
			<a data-href="#">{{ 'detail' | translate }}</a>
		</li>
	</ul>
</div>