.dropdown-list {
  display: block;
  overflow: hidden;
}

.dropdown-list.active .copyscroll {
  height: 164px;
}

.drop-pk {
  cursor: pointer;
}

.btn-choose-package {
  color: #e1115b !important;
  cursor: pointer;
}

.btn-choose-package:hover {
  color: #ffffff !important;
}

.drop-pk p {
	width: 100%;
}
.js-package-home p, .js-package-home .dropdown-list {
  z-index: 3;
  overflow: hidden;
}

.drop-pk.js-package-home:after {
  z-index: 0 !important;
}

.js-package-home-child p {
	z-index: 1;
}

.text-desktop {
  display: block;
}

.text-mobile {
  display: none;
}

@media (max-width: 769px) {
  .text-desktop {
    display: none;
  }

  .text-mobile {
    display: block;
  }
}
