.dropdown-list {
	display: block	
}

.dropdown-list .copyscroll {
	height: 0;
}

.dropdown-list.active .copyscroll {
	height: 164px;
}

.drop-pk {
	cursor: pointer
}

.btn-choose-package {
	color: #e1115b!important;
	cursor: pointer
}

.btn-choose-package:hover {
	color: #ffffff!important;
}