<div *ngIf="showTitle" class="tt-item">
  <h3>{{ 'news' | translate }}</h3>
</div>
<div class="news-list-wrap">
  <ul class="clearfix js-list-news js-append-more" myMatchHeight="blog-title">
    <li *ngFor="let blog of blogs" (deferLoad)="blog.showImg = true">
      <div class="item-news" [ngStyle]="{'min-height.px': minHeight}">
        <div class="img">
          <div
            class="lazyload"
            data-src=""
            [style.background]="'url(' + (blog.showImg ? blog.picturePath : '') + ')'"
          ></div>
          <img src="../assets/images/news.gif" />
          <img class="show-mb" src="../assets/images/b.gif" />
        </div>
        <div class="tt-news">
          <p class="date">{{blog.datepublish | date:'dd/MM/yyyy'}}</p>
          <span class="cm">{{ blog.comments }}</span>
        </div>
        <div class="copy">
          <h2 *ngIf="blog.name" class="blog-title">{{ blog.name }}</h2>
          <p><span *ngIf="blog.shortDesc" [innerHTML]="blog.shortDesc | decodeHtmlEntities | safeHtml"></span></p>
          <a routerLink="{{ blog.url }}"><span>{{ 'learn_more' | translate }}</span></a
          >
        </div>
        <a class="link" routerLink="{{ blog.url }}"></a>
      </div>
    </li>
  </ul>
  
  <div class="paging js-paging-ajax">
    <a *ngIf="currentPage > 1" class="prev-page" (click)="selectPage(currentPage-1)"></a>
    <ng-template ngFor let-num [ngForOf]="pageNumbers">
      <span *ngIf="num === currentPage || num === '...'">{{ num }}</span>
      <a *ngIf="num !== currentPage && num !== '...'" (click)="selectPage(num)">{{ num }}</a>
    </ng-template>
    <a *ngIf="currentPage < totalPage" class="next-page" (click)="selectPage(currentPage+1)"></a>
  </div>

  <div class="btn-wrap show-mb" *ngIf="!hideReadMore">
    <a *ngIf="!readmore" class="btn-showmore js-btn-loadmore btn-showmore-news" routerLink="/news">{{'show_more' | translate}}</a>
    <a *ngIf="readmore" class="btn-showmore js-btn-loadmore btn-showmore-news" (click)="appendNews()">{{'show_more' | translate}}</a>
  </div>

  <app-choosen-package *ngIf="showChosenPackage" ></app-choosen-package>
  
  
</div>
