<li *ngFor="let blog of blogs">
  <div class="item-news">
    <div class="img">
      <div class="lazyload" data-src='' style="background-image: url(assets/loader.gif);"></div>
      <img src="assets/images/news.gif">
      <img class="show-mb" src="assets/images/b.gif">
    </div>
    <div class="tt-news">
      <p class="date">28/05/2019</p>
      <span class="cm">0</span>
    </div>
    <div class="copy">
      <h2>{{ blog.name }}</h2>
      <p>{{ blog.shortDesc }}....</p>
      <a href="#"><span>Tìm hiểu thêm</span></a>
    </div>
    <a class="link" href="#"></a>
  </div>
</li>
