<section class="modal modalWindow {{ isShowPopup ? 'active' : 'deactive' }}" id="popupOne" >
  <section class="modalWrapper" >
    <div class="box-popup-regis-form form-popup1">
      <p>{{ 'register_note' | translate }}</p>
      <form action="">

        <div class="box-popup-regis-textbox">

          <div class="form-group clearfix">
            <input (blur)="validate()" type="" class="form-control {{ errorLastName ? 'error' : '' }}" name="lastName" [(ngModel)]="form.lastName" placeholder="{{ 'register_lastName' | translate }}">
            <p class="check-must">*</p>
          </div>

          <div class="form-group clearfix">
            <input (blur)="validate()" type="" class="form-control {{ errorFirstName ? 'error' : '' }}" name="firstName" [(ngModel)]="form.firstName" placeholder="{{ 'register_name' | translate }}">
            <p class="check-must">*</p>
          </div>

          <div class="form-group clearfix">
            <input type="" class="form-control {{ errorEmail ? 'error' : '' }}" name="email" [(ngModel)]="form.email" placeholder="{{ 'register_email' | translate }}">
          </div>
          
          <div class="form-group clearfix">
            <input type="" class="form-control" value="{{ form.phone }}" disabled name="phone" placeholder="{{ 'register_phone' | translate }}">
            <p class="check-must">*</p>
          </div>
        </div>

        <div class="box-popup-regis-textbox">
          <div class="form-group clearfix">
            <div class="center">
              <select id="sex" (change)="validate()"  name="sex" [(ngModel)]="form.sex" class="custom-select sources {{ errorSex ? 'error' : '' }}">
                <option value="0">{{ 'register_sex' | translate }}</option>
                <option value="1">{{ 'register_male' | translate }}</option>
                <option value="2">{{ 'register_female' | translate }}</option>
              </select>
            </div>
            <p class="check-must">*</p>
          </div>
          <div class="form-group box-choose-day clearfix">
            <div class="box-choose">
              <div class="clearfix">
                <div class="center">
                  <select (change)="validate()" id="dayBirth" name="dayBirth" [(ngModel)]="form.dayBirth" class="custom-select sources {{ errorDayBirth ? 'error' : '' }}" >
                    <option value="">{{ 'register_dbirth' | translate }}</option>
                    <option *ngFor="let item of days" value="{{ item }}">{{ item }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="box-choose">
              <div class="clearfix">
                <div class="center">
                  <select (change)="validate()" id="monthBirth"  name="monthBirth" [(ngModel)]="form.monthBirth" class="custom-select sources {{ errorMonthBirth ? 'error' : '' }}" >
                    <option value="">{{ 'register_mbirth' | translate }}</option>
                    <option *ngFor="let item of months" value="{{ item }}">{{ item }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="box-choose">
              <div class="clearfix">
                <div class="center">
                  <select (change)="validate()" id="yearBirth"  name="yearBirth" [(ngModel)]="form.yearBirth" class="custom-select sources {{ errorYearBirth ? 'error' : '' }}" >
                    <option value="">{{ 'register_dbirth' | translate }}</option>
                    <option *ngFor="let item of years" value="{{ item }}">{{ item }}</option>
                  </select>
                </div>
              </div>
            </div>
            <p class="check-must">*</p>
          </div>
          <div class="form-group clearfix">
            <div class="center">
              <select id="country" name="country" [(ngModel)]="form.country" class="custom-select sources">
                <option value="">{{ 'register_country' | translate }}</option>
                <option value="{{ country['country_rcd'] }}" *ngFor="let country of countries">{{ country['name_l'] }}</option>
              </select>
            </div>
          </div>
          <div class="form-group clearfix">
            <a class="btn-form-send" (click)="sendForm()">{{ 'register_send' | translate }}</a>
          </div>
        </div>
      </form>

    </div>
  </section>
   <a class="closeBtn" (click)="handleClosePopup()">{{ 'register_close' | translate }} X</a>
</section>
<section class="modal overlay {{ isShowPopup ? 'active' : 'deactive' }}"></section>
