#popupOne.active {
  display: block;
}
.form-popup1 .box-popup-regis-textbox .form-control.error {
  border: 2px solid red;
}

.btn-form-send {
  color: #fff!important;
  cursor: pointer;
}


.custom-select {
  position: relative;
  height: 45px;
}

.custom-select.error {
  border: 2px solid red;
}

.form-popup .box-popup-regis-textbox .form-control {
	height: 45px;
	border: 1px solid #007298;
}