<section class="modal modalWindow {{ isShowPopup ? 'active' : 'deactive' }}" id="popupOne">
  <section class="modalWrapper">
    <div class="box-popup-regis-form">
      <h4>ĐĂNG KÝ CHƯƠNG TRÌNH KIỂM TRA SỨC KHỎE TOÀN DIỆN</h4>
      <p>Vui lòng điền vào thông tin bên dưới</p>
      <form action="">
        <div class="box-popup-regis-textbox">
          <div class="form-group clearfix">
            <input type="" class="form-control" name="firstName" [(ngModel)]="form.firstName" placeholder="Tên">
            <p class="check-must">*</p>
          </div>
          <div class="form-group clearfix">
            <input type="" class="form-control" name="lastName" [(ngModel)]="form.lastName" placeholder="Họ">
            <p class="check-must">*</p>
          </div>
          <div class="form-group clearfix">
            <input type="" class="form-control" name="email" [(ngModel)]="form.email" placeholder="Địa chỉ email">
          </div>
          <div class="form-group clearfix">
            <input type="" class="form-control" name="phone" [(ngModel)]="form.phone" placeholder="Số điện thoại di động">
            <p class="check-must">*</p>
          </div>
        </div>
        <div class="box-popup-regis-textbox">
          <div class="form-group clearfix">
            <div class="center">
              <select id="sex"  name="sex" [(ngModel)]="form.sex" class="custom-select sources" placeholder="Chọn giới tính">
                <option value="1">Nam</option>
                <option value="2">Nữ</option>
              </select>
            </div>
            <p class="check-must">*</p>
          </div>
          <div class="form-group box-choose-day clearfix">
            <div class="box-choose">
              <div class="form-group clearfix">
                <div class="center">
                  <select id="dayBirth" name="dayBirth" [(ngModel)]="form.dayBirth" class="custom-select sources" placeholder="Ngày sinh">
                    <option *ngFor="let item of days" value="{{ item }}">{{ item }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="box-choose">
              <div class="form-group clearfix">
                <div class="center">
                  <select id="monthBirth"  name="monthBirth" [(ngModel)]="form.monthBirth" class="custom-select sources" placeholder="Tháng sinh">
                    <option *ngFor="let item of months" value="{{ item }}">{{ item }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="box-choose">
              <div class="form-group clearfix">
                <div class="center">
                  <select id="yearBirth"  name="yearBirth" [(ngModel)]="form.yearBirth" class="custom-select sources" placeholder="Năm sinh">
                    <option *ngFor="let item of years" value="{{ item }}">{{ item }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group clearfix">
            <div class="center">
              <select name="sources" id="sources" name="country" [(ngModel)]="form.country" class="custom-select sources" placeholder="Việt Nam">
                <option value="country['country_rcd']" *ngFor="let country of countries">{{ country['name_l'] }}</option>
              </select>
            </div>
          </div>
          <div class="form-group clearfix">
            <a class="btn-form-send" (click)="sendForm()">GỬI</a>
          </div>
        </div>
      </form>

    </div>
  </section>
  <a class="closeBtn" (click)="handleClosePopup()">CLOSE X</a>
</section>
<section class="modal overlay"></section>
