<div class="item-inner" (clickOutside)="onClickOutside($event)">
  <div class="ip ip-time" [ngClass]="{'aniAfter': animateAfter, 'has-before': isActive}" (click)="handleInputClick()">
    <input readonly="true" class="js-dropBooking-time" type="text" placeholder="{{ placeholder || ('time' | translate) }}">
    <em class="ar" [ngClass]="{'show': isActive}"></em>
    <div class="drop drop-time {{ !isActive ? 'un-active' : '' }}">
      <!-- <h4>content.TIME</h4> -->

      <div class="block-time">
        <div class="item-time" *ngFor="let blockData of timeBlocks">
          <h5>{{blockData.label}}</h5>
          <ul class="clearfix">
            <li *ngFor="let block of blockData.blocks" [ngClass]="{'disable-time' : block.disabled }">
              <span *ngIf="block.disabled">{{ block.value }}</span>
              <span (click)="handleChoose(block)" *ngIf="!block.disabled">{{ block.value }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
<!--    <input type="hidden" class="js-input" name="bookingtime" data-message="Vui lòng chọn giờ thăm khám">-->
  </div>
  <!-- <p class="note note-time">* Please select the time</p> -->
</div>
