<div class="item-inner">
	<div class="ip ip-time {{ isActive ? 'has-before' : '' }}" (click)="handleInputClick()">
		<input readonly="true" class="js-dropBooking-time" type="text" placeholder="{{'time' | translate}}">
		<em class="ar"></em>
		<div class="drop drop-time {{ isActive ? 'active' : '' }}">
			<!-- <h4>content.TIME</h4> -->
			
			<div class="block-time">
				<div class="item-time">
					<h5>8:00 - 11:40</h5>
					<ul class="clearfix">
						<li ><span data-time="8:00">8:00</span></li>
						<li ><span data-time="8:20">8:20</span></li>
						<li ><span data-time="8:40">8:40</span></li>
						<li ><span data-time="9:00">9:00</span></li>
						<li ><span data-time="9:20">9:20</span></li>
						<li ><span data-time="9:40">9:40</span></li>
						<li ><span data-time="10:00">10:00</span></li>
						<li ><span data-time="10:20">10:20</span></li>
						<li ><span data-time="10:40">10:40</span></li>
						<li ><span data-time="11:00">11:00</span></li>
						<li ><span data-time="11:20">11:20</span></li>
						<li ><span data-time="11:40">11:40</span></li>
						
					</ul>
				</div>
				<div class="item-time">
					<h5>13:00 - 16:40</h5>
					<ul class="clearfix">
						<li ><span data-time="13:00">13:00</span></li>
						<li ><span data-time="13:20">13:20</span></li>
						<li ><span data-time="13:40">13:40</span></li>
						<li ><span data-time="14:00">14:00</span></li>
						<li ><span data-time="14:20">14:20</span></li>
						<li ><span data-time="14:40">14:40</span></li>
						<li ><span data-time="15:00">15:00</span></li>
						<li ><span data-time="15:20">15:20</span></li>
						<li ><span data-time="15:40">15:40</span></li>
						<li ><span data-time="16:00">16:00</span></li>
						<li ><span data-time="16:20">16:20</span></li>
						<li ><span data-time="16:40">16:40</span></li>
						
					</ul>
				</div>
				<div class="item-time">
					<h5>17:00 - 20:40</h5>
					<ul class="clearfix">
						<li ><span data-time="17:00">17:00</span></li>
						<li ><span data-time="17:20">17:20</span></li>
						<li ><span data-time="17:40">17:40</span></li>
						<li ><span data-time="18:00">18:00</span></li>
						<li ><span data-time="18:20">18:20</span></li>
						<li ><span data-time="18:40">18:40</span></li>
						<li ><span data-time="19:00">19:00</span></li>
						<li ><span data-time="19:20">19:20</span></li>
						<li ><span data-time="19:40">19:40</span></li>
						<li ><span data-time="20:00">20:00</span></li>
						<li ><span data-time="20:20">20:20</span></li>
						<li ><span data-time="20:40">20:40</span></li>
						
					</ul>
				</div>
			</div>
		</div>
		<input type="hidden" class="js-input" name="bookingtime" data-message="Vui lòng chọn giờ thăm khám">
	</div>
	<!-- <p class="note note-time">* Please select the time</p> -->												
</div>
