<nav>
  <ul id="nav">
    <li><a href="index.html" class=active><span>Trang chủ</span><em></em></a></li>
    <li class="drop-mn">
      <a href="about-us/aih-hospital.html" ><span>Bệnh viện AIH</span><em></em></a>
      <div class="megadrop clearfix">
        <a href="about-us/aih-hospital.html" >Bệnh viện AIH</a>
        <a href="about-us/faq.html" >Hỏi đáp</a>
        <a href="about-us/testimonial.html" >Ý kiến khách hàng</a>
      </div>
    </li>
    <li class="drop-mn">
      <a href="patient-services/medical-services.html" ><span>Dịch vụ y khoa</span><em></em></a>
      <div class="megadrop clearfix">
        <a href="patient-services/medical-services.html" >Các chuyên khoa</a>
        <a href="patient-services/medical-package.html" >Gói dịch vụ</a>
        <a href="patient-services/insurance.html" >Dịch vụ bảo hiểm</a>
        <a href="patient-services/factsheet.html" >Thông tin nổi bật</a>
      </div>
    </li>
    <li><a href="doctor.html" ><span>Bác sĩ</span><em></em></a></li>
    <li class="drop-mn">
      <a href="news.html" ><span>Tin tức</span><em></em></a>
      <div class="megadrop clearfix">
        <a href="news.html" >Tin tức &amp; Sự kiện</a>
        <a href="videos.html" >Videos</a>
      </div>
    </li>
    <li><a href="career.html" ><span>Tuyển dụng</span><em></em></a></li>              
    <li><a href="contact.html" ><span>Liên hệ</span><em></em></a></li>
  </ul>
</nav>