<nav>
  <ul id="nav">
    <app-nav-item name="{{'menu.home' | translate}}" routeUrl="/" [routeOptions]="{'exact': true}"></app-nav-item>
    <app-nav-item name="{{'about_us' | translate}}" routeUrl="{{ routes.about }}" [hasChild]="true">
      <a routerLink="{{ routes.about }}" routerLinkActive="active">{{'about_us' | translate}}</a>
      <a routerLink="{{ routes.faq }}" routerLinkActive="active">{{'faqs' | translate}}</a>
      <a routerLink="{{ routes.testimonial }}" routerLinkActive="active">{{'testimonials' | translate}}</a>
    </app-nav-item>
    <app-nav-item name="{{'patient_services' | translate}}" routeUrl="{{ routes.mservice }}" [hasChild]="true">
      <a routerLink="{{ routes.mservice }}" routerLinkActive="active">{{'medical_services' | translate}}</a>
      <a routerLink="{{ routes.mpackage }}" routerLinkActive="active">{{'medical_packages' | translate}}</a>
      <a routerLink="{{ routes.factsheet }}" routerLinkActive="active">{{'fact_sheet' | translate}}</a>
    </app-nav-item>
    <app-nav-item name="{{ 'insurance' | translate }}" routeUrl="{{ routes.insmem }}" [hasChild]="true">
		<a routerLink="{{ routes.ins_service_menu }}" routerLinkActive="active">{{'insurance_services' | translate}}</a>
		<a routerLink="{{ routes.cus_service_menu }}" routerLinkActive="active">{{'customer_services' | translate}}</a>
		<a routerLink="{{ routes.mem_service_menu }}" routerLinkActive="active">{{'membership_services' | translate}}</a>
	</app-nav-item>
    <app-nav-item name="{{'find_a_doctor' | translate}}" routeUrl="{{ routes.doctor }}"></app-nav-item>
    <app-nav-item name="{{'news' | translate}}" routeUrl="{{ routes.news }}" [hasChild]="true">
      <a routerLink="{{ routes.news }}" routerLinkActive="active" >{{'news_&_events' | translate}}</a>
      <a routerLink="{{ routes.videos }}" routerLinkActive="active" >{{'videos' | translate}}</a>
    </app-nav-item>
    <app-nav-item name="{{'careers' | translate}}" routeUrl="{{ routes.career }}"></app-nav-item>
    <app-nav-item name="{{'contact' | translate}}" routeUrl="{{ routes.contact }}"></app-nav-item>
    <app-nav-item name="{{'login' | translate}}" outerUrl={{loginUrl}}></app-nav-item>
  </ul>
</nav>
