<nav>
  <ul id="nav">
    <li><a  routerLink="/" routerLinkActive="active"><span>{{'home' | translate}}</span><em></em></a></li>
    <li class="drop-mn">
      <a routerLink="/about-us/aih-hospital" routerLinkActive="active" ><span>{{'about_us' | translate}}</span><em></em></a>
      <div class="megadrop clearfix">
        <a routerLink="/about-us/aih-hospital" routerLinkActive="active">{{'about_us' | translate}}</a>
        <a routerLink="/about-us/faq" routerLinkActive="active">{{'faqs' | translate}}</a>
        <a routerLink="/about-us/testimonial" routerLinkActive="active">{{'testimonials' | translate}}</a>
      </div>
    </li>
    <li class="drop-mn">
      <a routerLink="/patient-services/medical-services" routerLinkActive="active" ><span>{{'patient_services' | translate}}</span><em></em></a>
      <div class="megadrop clearfix">
        <a routerLink="/patient-services/medical-services" routerLinkActive="active">{{'medical_services' | translate}}</a>
        <a routerLink="/patient-services/medical-package" routerLinkActive="active">{{'medical_packages' | translate}}</a>
        <a routerLink="/patient-services/insurance" routerLinkActive="active">{{'insurance' | translate}}</a>
        <a routerLink="/patient-services/factsheet" routerLinkActive="active">{{'fact_sheet' | translate}}</a>
      </div>
    </li>
    <li><a routerLink="/doctor" routerLinkActive="active" ><span>{{'find_a_doctor' | translate}}</span><em></em></a></li>
    <li class="drop-mn">
      <a routerLink="/news" routerLinkActive="active" ><span>{{'news' | translate}}</span><em></em></a>
      <div class="megadrop clearfix">
        <a routerLink="/news" routerLinkActive="active" >{{'news_&_events' | translate}}</a>
        <a routerLink="/videos" routerLinkActive="active" >{{'videos' | translate}}</a>
      </div>
    </li>
    <li><a routerLink="/career" routerLinkActive="active" ><span>{{'careers' | translate}}</span><em></em></a></li>              
    <li><a routerLink="/contact" routerLinkActive="active" ><span>{{'contact' | translate}}</span><em></em></a></li>
  </ul>
</nav>