<main id="page-acccount" class="page-danh-gia">
  <section>
    <div class="container">
      <div class="box-account clearfix">
        <div class="account-left">
          <div class="box-avatar">
            <div class="avatar-img">
              <img src="" alt="">
            </div>
            <h4>Nguyễn Văn A</h4>
          </div>
          <div class="line-acc"></div>
          <div class="menu-acc">
            <ul>
              <li><a href="#">Lịch hẹn</a></li>
              <li class="active"><a href="#">Đánh giá dịch vụ</a></li>
              <li><a href="#">Lịch sử đặt hẹn</a></li>
              <li><a href="#">Tư vấn trực tuyến</a></li>
              <li><a href="#">Thông báo</a></li>
              <li><a href="#">Thông tin</a></li>
              <li><a href="#">Cài đặt</a></li>
            </ul>
          </div>
        </div>
        <div class="account-right">
          <h3>Đánh giá dịch vụ</h3>
          <div class="box-review clearfix">
            <div class="box-review-star clearfix">
              <div class="box-left">
                <p>Chăm sóc khách hàng</p>
              </div>
              <div class="box-right">
                <div class="stars">
                  <div class="rating-stars text-center">
                    <input type="hidden" name="doctor" class="js-required form-control" value="5">
                    <ul class="stars">
                      <li class="star " title="Poor" data-value="1"></li>
                      <li class="star " title="Fair" data-value="2"></li>
                      <li class="star " title="Good" data-value="3"></li>
                      <li class="star " title="Excellent" data-value="4"></li>
                      <li class="star " title="WOW!!!" data-value="5"></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-review-star clearfix">
              <div class="box-left">
                <p>Bác sĩ</p>
              </div>
              <div class="box-right">
                <div class="stars">
                  <div class="rating-stars text-center">
                    <input type="hidden" name="doctor" class="js-required form-control" value="5">
                    <ul class="stars">
                      <li class="star " title="Poor" data-value="1"></li>
                      <li class="star " title="Fair" data-value="2"></li>
                      <li class="star " title="Good" data-value="3"></li>
                      <li class="star " title="Excellent" data-value="4"></li>
                      <li class="star " title="WOW!!!" data-value="5"></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-review-star clearfix">
              <div class="box-left">
                <p>Điều dưỡng</p>
              </div>
              <div class="box-right">
                <div class="stars">
                  <div class="rating-stars text-center">
                    <input type="hidden" name="doctor" class="js-required form-control" value="5">
                    <ul class="stars">
                      <li class="star " title="Poor" data-value="1"></li>
                      <li class="star " title="Fair" data-value="2"></li>
                      <li class="star " title="Good" data-value="3"></li>
                      <li class="star " title="Excellent" data-value="4"></li>
                      <li class="star " title="WOW!!!" data-value="5"></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-review-star clearfix">
              <div class="box-left">
                <p>Cơ sở vật chất</p>
              </div>
              <div class="box-right">
                <div class="stars">
                  <div class="rating-stars text-center">
                    <input type="hidden" name="doctor" class="js-required form-control" value="5">
                    <ul class="stars">
                      <li class="star " title="Poor" data-value="1"></li>
                      <li class="star " title="Fair" data-value="2"></li>
                      <li class="star " title="Good" data-value="3"></li>
                      <li class="star " title="Excellent" data-value="4"></li>
                      <li class="star " title="WOW!!!" data-value="5"></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-review-star clearfix">
              <div class="box-left">
                <p>Giá cả</p>
              </div>
              <div class="box-right">
                <div class="stars">
                  <div class="rating-stars text-center">
                    <input type="hidden" name="doctor" class="js-required form-control" value="5">
                    <ul class="stars">
                      <li class="star " title="Poor" data-value="1"></li>
                      <li class="star " title="Fair" data-value="2"></li>
                      <li class="star " title="Good" data-value="3"></li>
                      <li class="star " title="Excellent" data-value="4"></li>
                      <li class="star " title="WOW!!!" data-value="5"></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-review-star-average">
              <div class="stars">
                <div class="rating-stars text-center">
                  <input type="hidden" name="doctor" class="js-required form-control" value="5">
                  <ul class="stars">
                    <li class="star " title="Poor" data-value="1"></li>
                    <li class="star " title="Fair" data-value="2"></li>
                    <li class="star " title="Good" data-value="3"></li>
                    <li class="star " title="Excellent" data-value="4"></li>
                    <li class="star " title="WOW!!!" data-value="5"></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="box-review-star box-textarea clearfix">
              <div class="box-left">
                <p>Ý kiến khác</p>
              </div>
              <div class="box-right">
                <textarea rows="4" cols="">At w3schools</textarea>
                <button type="submit" class="btn btn-login btn-register">Gửi</button>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </section>
</main>








