<main id="pAbout">
  <div class="breadcrumb">
    <div class="container">
      <a routerLink="/">{{ 'home' | translate }}</a> /
      <p>{{ page ? page.name : '' }}</p>
    </div>
  </div>
  <div class="banner-page"
    [style.background]="'url(' + banners[0].large + ')'" *ngIf="banners && banners.length">
    <img
      class="banner-mb"
      src="{{ banners[0].small }}"
    />
    <div class="container"></div>
  </div>
  <section *ngIf="page">
    <div class="container">
      <div class="intro-wrap">
        <div class="tt-page">
          <h4>{{ 'introduction' | translate }}</h4>
          <h3>{{ 'who_we_are?' | translate }}</h3>
        </div>
        <div class="copy" [innerHTML]="page.longDesc | decodeHtmlEntities | safeHtml"></div>
      </div>

      <div class="service-wrap">
        <div class="tt-page">
          <h4>{{ 'take_a_look_at_our_main_services' | translate }}</h4>
          <h3>{{ 'awesome_services' | translate }}</h3>
        </div>
        <div class="list-sv">
          <div *ngFor="let clinic of clinics; let i = index" class="item-sv item-clinic  {{ i % 2 === 1 ? 'right-align' : 'left-align' }} ">
            <div class="out-content">
              <div
                class="img"
                [style.background]="'url(' + clinic.picturePath + ')'"
              ></div>
            </div>
            <div class="copy-content">
              <h3>{{ clinic.name }}</h3>
              <div [innerHTML]="clinic.shortDesc | decodeHtmlEntities | safeHtml"></div>
              <a
                routerLink="{{ clinic.url }}"
              ><span>{{ 'learn_more' | translate }}</span></a
              >
            </div>
            <a
              class="link-all"
              routerLink="{{ clinic.url }}"
            ></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
