<main id="pAbout">
  <div class="breadcrumb">
    <div class="container">
      <a href="../index.html">Home</a> /
      <p>About AIH</p>
    </div>
  </div>
  <div
    class="banner-page"
    style="background: url(../storage/2018/07/aih-view-1-updated-3-resized1532573157.jpg);"
  >
    <img
      class="banner-mb"
      src="../storage/2018/10/aih-about-mobile1539329268.jpg"
    />
    <div class="container"></div>
  </div>
  <section>
    <div class="container">
      <div class="intro-wrap">
        <div class="tt-page">
          <h4>Introduction</h4>
          <h3>WHO WE ARE?</h3>
        </div>
        <div class="copy">
          <p style="text-align: justify;">
            Located in An Phu neighborhood, District 2, Ho Chi Minh City,
            American International Hospital (AIH) is the pioneer international
            hospital in Vietnam following both JCI and American standards in
            design and construction, diagnosis and treatment, and operations and
            management. AIH commits to bringing comprehensive American standard
            healthcare services to patients in Vietnam.
          </p>
          <p style="text-align: justify;">
            Keeping that in mind, AIH attaches great importance in investing in
            state-of-the-art facilities and equipment, applying the latest
            medical techniques in diagnosis and treatment from the U.S. and
            developing a team of highly qualified and professional staff working
            with accountability, care and compassion.
          </p>
          <p style="text-align: justify;">
            Operating in an 11-story building, AIH provides 120 in-patient beds,
            5 operating rooms and functional rooms. All rooms and services at
            the hospital comply with the new American standard model to ensure
            our customer-centric goal of providing the most safety and
            convenience for patients and their families.
          </p>
          <p style="text-align: justify;">
            AIH provides healthcare services in many specialties including 5
            leading-edge ones: Obstetrics &amp; Gynecology, Pediatrics, General
            Surgery, Urology &amp; Andrology, and Gastroenterology - Hepatology.
            We bring on board a team of highly skilled doctors with proven
            international working experience and solid educational background
            from American and European institutions. AIH is also proud to
            possess a strong workforce of dedicated caregivers and patient
            service staff who have made significant contribution to our success.
          </p>
          <p style="text-align: justify;">
            In the meantime, AIH has fostered close relationships with top-notch
            American medical systems, which allows us to continuously develop
            and enhance our strengths relevant to research and training, medical
            and professional exchange, diagnosis and treatment, as well as
            technology transfer and application of latest medical treatment
            methodologies from the U.S.
          </p>
          <p style="text-align: justify;">
            Aiming to become one of the most trustworthy healthcare providers in
            South East Asia, AIH focuses on the perfection of our healthcare
            services to bring complete satisfaction to patients and their
            families.
          </p>
          <p style="text-align: justify;"><strong>Our Vision</strong></p>
          <p style="text-align: justify;">
            To be one of the most trusted international healthcare providers in
            the South East Asia.
          </p>
          <p style="text-align: justify;"><strong>Our Mission</strong></p>
          <p style="text-align: justify;">
            To bring American standard healthcare services to patients and their
            families.
          </p>
          <p style="text-align: justify;"><strong>Our Core Values</strong></p>
          <p style="text-align: justify;">
            <em>- Patient safety:</em> Patient safety is our top priority<br/><em
          >- Integrity:</em
          >
            We work with honesty and reliability<br/><em>- Team Work:</em> We
            appreciate effective cooperation<br/><em>- Excellent Quality:</em>
            We strive to bring you American standard medical services.
          </p>
        </div>
      </div>
      <div class="service-wrap">
        <div class="tt-page">
          <h4>Take a look at our main services</h4>
          <h3>AWESOME SERVICES</h3>
        </div>
        <div class="list-sv">
          <div class="item-sv  right-align ">
            <div class="out-content">
              <div
                class="img"
                style="background: url(../storage/2018/10/gastro-main-services1539341852.jpg) center;"
              ></div>
            </div>
            <div class="copy-content">
              <h3>GASTRO-ENTEROLOGY - HEPATOLOGY</h3>
              <h4>
                A leading specialty with high focus on accuracy in diagnosis
              </h4>
              <p>
                Specialized in one of our leading specialties,
                Gastro-entero-hepatology Department offers a full range of
                testing, diagnosis and treatment of gastrointestinal diseases.
                Our team consisting of skillful and experienced
                gastroenterologists focuses on giving our patients accurate
                diagnosis and right treatment as soon as possible....
              </p>
              <a
                href="../patient-services/medical-services/5-gastroenterology-hepatology.html"
              ><span>Learn more</span></a
              >
            </div>
            <a
              class="link-all"
              href="../patient-services/medical-services/5-gastroenterology-hepatology.html"
            ></a>
          </div>
          <div class="item-sv  left-align ">
            <div class="out-content">
              <div
                class="img"
                style="background: url(../storage/2018/10/general-surgery-main-services1539341677.jpg) center;"
              ></div>
            </div>
            <div class="copy-content">
              <h3>GENERAL SURGERY</h3>
              <h4>
                An international standard surgical specialty with advanced
                surgical techniques
              </h4>
              <p>
                Being one of the five leading-edge departments at AIH, our
                General Surgery Department provides surgical healthcare in a
                variety of sub-specialties at the highest international
                standard. Our team of certified surgeons is dedicated to meet
                all the needs of patients from consultation to post-surgery
                aftercare. AIH is also applying...
              </p>
              <a
                href="../patient-services/medical-services/3-general-surgery.html"
              ><span>Learn more</span></a
              >
            </div>
            <a
              class="link-all"
              href="../patient-services/medical-services/3-general-surgery.html"
            ></a>
          </div>
          <div class="item-sv  right-align ">
            <div class="out-content">
              <div
                class="img"
                style="background: url(../storage/2018/10/ob-gyn-main-service1539341358.jpg) center;"
              ></div>
            </div>
            <div class="copy-content">
              <h3>OBSTETRICS &amp; GYNECOLOGY</h3>
              <h4>
                A leading-edge specialty featuring American standard LDRP rooms
              </h4>
              <p>
                Understanding that all women are valuable and deserve the best
                in their lives, our experienced and diligent Ob-Gyn doctors and
                medical staffs work with passion and great concern to guarantee
                exceptional care and treatment for their female patients.
                Besides consultancy, diagnosis and treatment services of women
                health related...
              </p>
              <a
                href="../patient-services/medical-services/1-obstetrics-gynecology.html"
              ><span>Learn more</span></a
              >
            </div>
            <a
              class="link-all"
              href="../patient-services/medical-services/1-obstetrics-gynecology.html"
            ></a>
          </div>
          <div class="item-sv  left-align ">
            <div class="out-content">
              <div
                class="img"
                style="background: url(../storage/2018/10/pediatrics-main-services1539342486.jpg) center;"
              ></div>
            </div>
            <div class="copy-content">
              <h3>PEDIATRICS</h3>
              <h4>A place for child care with unconditional love</h4>
              <p>
                We believe that children are our future. Taking care of their
                health and safety is of every family’s top priorities. That is
                why we at AIH are attaching much importance to developing
                Pediatrics as one of our 5 leading specialties. Our qualified
                pediatricians are always available to listen to and care for all
                your children’s...
              </p>
              <a href="../patient-services/medical-services/2-pediatrics.html"
              ><span>Learn more</span></a
              >
            </div>
            <a
              class="link-all"
              href="../patient-services/medical-services/2-pediatrics.html"
            ></a>
          </div>
          <div class="item-sv  right-align ">
            <div class="out-content">
              <div
                class="img"
                style="background: url(../storage/2018/07/doctor-detail-267x1391530715167.jpg) center;"
              ></div>
            </div>
            <div class="copy-content">
              <h3>UROLOGY &amp; ANDROLOGY</h3>
              <h4>
                Focus on giving patients the most comfortable treatment options
              </h4>
              <p>
                Nephrology - Urology &amp; Andrology Department is also one
                among five leading-edge departments at AIH. We are dedicated to
                offer you a wide range of rapid and accurate diagnosis and
                treatment options for disorders and diseases of urological
                system and male reproductive organs. Our medical experts use a
                variety of treatment methods...
              </p>
              <a
                href="../patient-services/medical-services/4-urology-andrology.html"
              ><span>Learn more</span></a
              >
            </div>
            <a
              class="link-all"
              href="../patient-services/medical-services/4-urology-andrology.html"
            ></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
