.list-dt-ins {
  .item-doc:hover .copy {
    background: none;

    a {
      color: #11789b;
      span:after {
        background: url(/assets/images/ar-link-hv.png) no-repeat;
        background-size: 100%;
        right: -10px;
      }
    }
  }
}

.box-content {
  margin: 50px 0 25px;

  .heading {
    color: #007297;
    text-transform: uppercase;
    font-size: 36px;
    font-family: utm_avobold;
    margin-bottom: 40px;
  }
}
.insurance-consulting-detail .list-dt li {
  width: 33.33%;
}

.insurance-consulting-content {
  padding-top: 35px;
}

@media (max-width: 1280px) {

}
@media(max-width: 769px){
  .insurance-consulting-detail .list-dt li {
    width: 100%;
  }
  .insurance-consulting-content {
    padding-top: 20px;
  }
  .box-content {
    margin: 25px 0 25px;

    .heading {
      color: #007297;
      text-transform: uppercase;
      font-size: 25px;
      font-family: utm_avobold;
      margin-bottom: 25px;
    }
  }

  .list-dt-ins {
    .item-doc {
      border: none;
      float: left;
      padding-left: 200px;
      margin-bottom: 20px;
      .img {
        width: 200px;
        height: 116px;
      }
      .copy a span {
        float: right;
        margin-right: 10px;
      }
    }

    .item-doc:hover {
      box-shadow: unset;
    }

    .tt-doc-crs {
      margin-left: 20px;
      padding: 0;
    }
  }
}

@media(max-width: 480px){
  .list-dt-ins {
    .item-doc {
      padding-left: 120px;
      .img {
        width: 120px;
      }
    }

    .tt-doc-crs {
      h2 {
        padding-bottom: 15px;
      }
    }
  }
}
