.content-sv {
  padding-top: 20px;
}

.btn-page {
  color: #fff!important;
  cursor: pointer;
  margin: 0 auto
}

.alert-dt.show {
  display: block;
}


.btn-mobile {
  display: none;
}

.btn-desktop {
  display: block;
}

@media (max-width: 1024px) {
  .btn-mobile {
    display: block;
  }

  .btn-desktop {
    display: none;
  }
}
