<main id="page-acccount" class="page-history">
  <section>
    <div class="container">
      <div class="box-account clearfix">
        <div class="account-left">
          <div class="box-avatar">
            <div class="avatar-img">
              <img src="images/avatar.png" alt="">
            </div>
            <h4>Nguyễn Văn A</h4>
          </div>
          <div class="line-acc"></div>
          <div class="menu-acc">
            <ul>
              <li><a href="dat-lich-hen.html">Lịch hẹn</a></li>
              <li><a href="danh-gia-dich-vu.html">Đánh giá dịch vụ</a></li>
              <li class="active"><a href="lich-su-dat-hen.html">Lịch sử đặt hẹn</a></li>
              <li><a href="tu-van-truc-tuyen.html">Tư vấn trực tuyến</a></li>
              <li><a href="thong-bao.html">Thông báo</a></li>
              <li><a href="thong-tin.html">Thông tin</a></li>
              <li><a href="cai-dat.html">Cài đặt</a></li>
            </ul>
          </div>
        </div>
        <div class="account-right">
          <h3>Lịch sử đặt hẹn</h3>
          <div class="box-his-right clearfix">
            <div class="box-history">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Ngày</th>
                  <th>Chuyên khoa</th>
                  <th>Bác sĩ</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>1/06/2019</td>
                  <td>Thận Niệu & Nam Khoa</td>
                  <td>Nguyễn Ngọc Tiến</td>
                </tr>
                <tr>
                  <td>1/06/2019</td>
                  <td>Thận Niệu & Nam Khoa</td>
                  <td>Nguyễn Ngọc Tiến</td>
                </tr>
                <tr>
                  <td>1/06/2019</td>
                  <td>Thận Niệu & Nam Khoa</td>
                  <td>Nguyễn Ngọc Tiến</td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>


    </div>
  </section>
</main>

