<main id="pServiceInsurance">
  <div class="breadcrumb">
    <div class="container"><a href="../index.html">Home</a> /
      <p>Insurance</p></div>
  </div>
  <div class="banner-page" style="background: url(../storage/2018/07/insurance-683x1951531465784.jpg);">
    <div class="container">
      <div class="ct-banner">
        <div class="copy-ins">
          <h2>EXCELLENT CARE</h2>
          <p>Let us help you make your healthcare experience as convenient as possible</p>
        </div>
      </div>
    </div>
  </div>

  <section class="insurance-item" *ngFor="let insurance of insurances">
    <div class="container" *ngIf="insurance">
      <div class="top-ins">
        <h2><span>{{ insurance ? insurance.name : '' }}</span></h2>
      </div>
      <div class="persond-ins">

        <div class="logo-crs">
          <ul>

            <li *ngFor="let child of insurance['child']">
              <div class="list-persond">

                <div *ngFor="let logo of child">
                  <div class="logo-persond"
                       [style.background]="'url(' + logo + ')'"
                  >
                    <img src="/assets/images/logo.gif">
                  </div>
                </div>

              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </section>

</main>
