<section class="insurance-item" *ngFor="let insurance of insurances">
    <div class="container-fix" *ngIf="insurance">
        <div class="top-ins">
            <h2><span>{{ insurance ? insurance.name : '' }}</span></h2>
        </div>
        <div class="persond-ins">

            <div class="logo-crs">
                <ul>
                    <li >
                        <div class="list-persond">

                            <div *ngFor="let media of insurance['media']">
                                <div class="logo-persond"
                                     [style.background]="'url(' + media.thumb + ')'"
                                >
                                    <img src="../assets/images/logo.gif">
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>

            <div *ngIf="insurance.children">
                <div class="insurance-child-item" *ngFor="let child of insurance.children">
                    <div class="top-child-ins">
                        <h2><span>{{ child ? child.name : '' }}</span></h2>
                    </div>
                    <div class="logo-crs">
                        <ul>
                            <li >
                                <div class="list-persond">

                                    <div *ngFor="let media2 of child['media']">
                                        <div class="logo-persond"
                                             [style.background]="'url(' + media2.thumb + ')'"
                                        >
                                            <img src="../assets/images/logo.gif">
                                        </div>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
