<main id="pServiceInsurance">
  <div class="breadcrumb">
    <div class="container"><a href="../index.html">Home</a> / <p>Insurance</p></div>
  </div>
  <div class="banner-page" style="background: url(../storage/2018/07/insurance-683x1951531465784.jpg);">
    <div class="container">
      <div class="ct-banner">
        <div class="copy-ins">
          <h2>EXCELLENT CARE</h2>
          <p>Let us help you make your healthcare experience as convenient as possible</p>
        </div>
      </div>
    </div>
  </div>

  <section class="insurance-item">
    <div class="container">
      <div class="top-ins">
        <h2><span>Local insurance</span></h2>

      </div>
      <div class="persond-ins">

        <div class="logo-crs">
          <ul>
            <li>
              <div class="list-persond">

                <div>
                  <div class="logo-persond" style="background: url(../storage/2019/01/dai-ichi-life1548736685.gif);">
                    <img src="../assets/images/logo.gif">
                  </div>
                </div>

                <div>
                  <div class="logo-persond" style="background: url(../storage/2019/01/download-2-1548736685.jpg);">
                    <img src="../assets/images/logo.gif">
                  </div>
                </div>

                <div>
                  <div class="logo-persond" style="background: url(../storage/2019/03/manulife1552354046.png);">
                    <img src="../assets/images/logo.gif">
                  </div>
                </div>

                <div>
                  <div class="logo-persond" style="background: url(../storage/2019/03/hung-vuong-hvi1552354290.png);">
                    <img src="../assets/images/logo.gif">
                  </div>
                </div>

                <div>
                  <div class="logo-persond" style="background: url(../storage/2019/03/mb1552354087.png);">
                    <img src="../assets/images/logo.gif">
                  </div>
                </div>

                <div>
                  <div class="logo-persond" style="background: url(../storage/2019/03/sunlife1552354233.png);">
                    <img src="../assets/images/logo.gif">
                  </div>
                </div>

                <div>
                  <div class="logo-persond" style="background: url(../storage/2019/03/hanwa-hwl1552354792.png);">
                    <img src="../assets/images/logo.gif">
                  </div>
                </div>

                <div>
                  <div class="logo-persond" style="background: url(../storage/2019/03/pijico1552354333.png);">
                    <img src="../assets/images/logo.gif">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="list-persond">
                <div>
                  <div class="logo-persond" style="background: url(../storage/2019/03/fwd1552354385.png);">
                    <img src="../assets/images/logo.gif">
                  </div>
                </div>

                <div>
                  <div class="logo-persond" style="background: url(../storage/2019/03/pijico-web-png1552354963.png);">
                    <img src="../assets/images/logo.gif">
                  </div>
                </div>

                <div>
                  <div class="logo-persond" style="background: url(../storage/2019/03/aia1552354422.jpg);">
                    <img src="../assets/images/logo.gif">
                  </div>
                </div>

                <div>
                  <div class="logo-persond" style="background: url(../storage/2019/03/bao-minh1552354866.jpg);">
                    <img src="../assets/images/logo.gif">
                  </div>
                </div>

                <div>
                  <div class="logo-persond" style="background: url(../storage/2019/03/mitsui1552354472.png);">
                    <img src="../assets/images/logo.gif">
                  </div>
                </div>

                <div>
                  <div class="logo-persond" style="background: url(../storage/2019/03/gic1552355073.png);">
                    <img src="../assets/images/logo.gif">
                  </div>
                </div>

                <div>
                  <div class="logo-persond" style="background: url(../storage/2019/03/uic21552355026.png);">
                    <img src="../assets/images/logo.gif">
                  </div>
                </div>

                <div>
                  <div class="logo-persond" style="background: url(../storage/2019/03/phu-hung1552354913.png);">
                    <img src="../assets/images/logo.gif">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="list-persond">
                <div>
                  <div class="logo-persond" style="background: url(../storage/2019/03/fubon1552354192.png);">
                    <img src="../assets/images/logo.gif">
                  </div>
                </div>

                <div>
                  <div class="logo-persond" style="background: url(../storage/2019/03/vni1552354746.jpg);">
                    <img src="../assets/images/logo.gif">
                  </div>
                </div>

                <div>
                  <div class="logo-persond" style="background: url(../storage/2019/03/insmart1552354688.png);">
                    <img src="../assets/images/logo.gif">
                  </div>
                </div>

                <div>
                  <div class="logo-persond" style="background: url(../storage/2019/03/vietin1552354538.png);">
                    <img src="../assets/images/logo.gif">
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="insurance-item">
    <div class="container">
      <div class="top-ins">
        <h2><span>International insurance</span></h2>

      </div>
      <div class="persond-ins">

        <div class="logo-crs">
          <ul>
            <li>
              <div class="list-persond">

                <div>
                  <div class="logo-persond" style="background: url(../storage/2019/03/aetna1552355140.png);">
                    <img src="../assets/images/logo.gif">
                  </div>
                </div>

                <div>
                  <div class="logo-persond" style="background: url(../storage/2019/03/pacific-cross1552355687.png);">
                    <img src="../assets/images/logo.gif">
                  </div>
                </div>

                <div>
                  <div class="logo-persond" style="background: url(../storage/2019/03/tokyomarine1552355502.png);">
                    <img src="../assets/images/logo.gif">
                  </div>
                </div>

                <div>
                  <div class="logo-persond" style="background: url(../storage/2019/03/interglobal1552355571.png);">
                    <img src="../assets/images/logo.gif">
                  </div>
                </div>

                <div>
                  <div class="logo-persond" style="background: url(../storage/2019/03/aplus1552355374.png);">
                    <img src="../assets/images/logo.gif">
                  </div>
                </div>

                <div>
                  <div class="logo-persond" style="background: url(../storage/2019/03/bh1552355252.png);">
                    <img src="../assets/images/logo.gif">
                  </div>
                </div>

                <div>
                  <div class="logo-persond" style="background: url(../storage/2019/03/april-rvb1552355224.png);">
                    <img src="../assets/images/logo.gif">
                  </div>
                </div>

                <div>
                  <div class="logo-persond" style="background: url(../storage/2019/01/download-1-1548736685.png);">
                    <img src="../assets/images/logo.gif">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="list-persond"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>
