<section class="partner-home">
	<div class="container">
		<h2>Đối tác</h2>
		<ul class="clearfix">
			<li>
				<div>
					<img src="storage/2018/07/5a1531383241.png">
					<img class="hover" src="storage/2018/07/51531383251.png">
				</div>
			</li>							
			<li>
				<div>
					<img src="storage/2018/07/4a1531382446.png">
					<img class="hover" src="storage/2018/07/41531382462.png">
				</div>
			</li>							
			<li>
				<div>
					<img src="storage/2018/07/3a1531382253.png">
					<img class="hover" src="storage/2018/07/31531382267.png">
				</div>
			</li>							
			<li>
				<div>
					<img src="storage/2018/07/2a1531381830.png">
					<img class="hover" src="storage/2018/07/21531381860.png">
				</div>
			</li>							
			<li>
				<div>
					<img src="storage/2018/07/1a1531381438.png">
					<img class="hover" src="storage/2018/07/11531381454.png">
				</div>
			</li>							
		</ul>
	</div>
	</section>