<div class="js-cselect" data-target="department">
  <div class="select">
    <div class="select-styled" [ngClass]="{'active': expanded}" (click)="toggleDropdown($event)">{{getDisplayValue()}}</div>
    <div class="select-options" *ngIf="expanded">
      <div class="copyscroll">
        <div class="nano has-scrollbar">
          <div class="nano-content" tabindex="0">
            <p *ngFor="let item of items" (click)="onSelectAnItem(item)">{{getValue(item)}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>