<div class="js-cselect" (clickOutside)="onClickOutside($event)">
  <div class="select">
    <div class="select-styled" [ngClass]="{'active': expanded}" (click)="toggleDropdown($event)">
      <p><span>{{getDisplayValue()}}</span></p>
    </div>
    <div class="select-options" [ngClass]="{'un-active': !expanded}">
      <div class="copyscroll">
        <div class="nano has-scrollbar">
          <div class="nano-content" tabindex="0" *ngIf="!isNavigate">
            <p *ngFor="let item of items" (click)="onSelectAnItem(item)">{{item.name}}</p>
          </div>
          <div class="nano-content" tabindex="0" *ngIf="isNavigate">
            <p *ngFor="let item of items" ><a routerLink="{{ item.url }}">{{item.name}}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>