<div class="main-hd">
	<div class="container clearfix">
		
		<a class="logo" routerLink="/">
      <img src="assets/images/logo.png">
    </a>

		<div class="hamburger-menu" (click)="toggleState()">
			<div class="bar" [ngClass]="{'animate': isMobileNavOpened}"></div>
		</div>
		<div class="right-hd-mb">
			<app-language></app-language>
		</div>
    <div class="nav-wrap"
      [@toggleNav]="currentState"
      (@toggleNav.start)="onAnimation($event)"
      (@toggleNav.done)="onAnimation($event)">

			<app-nav></app-nav>
			<app-search-form></app-search-form>
			<app-language></app-language>
		</div>
	</div>
</div>
