<main id="page-register">
  <section>
    <div class="container">
      <div class="box-login">
        <div class="box-menu-mobile clearfix">
          <ul>
            <li class="active"><a href="#">Đăng Ký</a></li>
            <li><a href="#">Đăng Nhập</a></li>
          </ul>
        </div>
        <div class="login-form register-form">
          <h3>Đăng ký</h3>
          <form>
            <div class="form-group clearfix">
              <input type="" class="form-control" id="" placeholder="Họ và tên">
            </div>
            <div class="form-group clearfix">
              <input type="" class="form-control" id="" placeholder="Số điện thoại">
            </div>
            <div class="form-group clearfix">
              <input type="" class="form-control" id="" placeholder="Email">
            </div>
            <div class="form-group clearfix">
              <input type="password" class="form-control" id="" placeholder="Mật khẩu từ 6 đến 32 ký tự">
            </div>
            <div class="form-group box-gender-log clearfix">
              <ul class="select">
                <li>
                  <input class="select_close" type="radio" name="awesomeness" id="awesomeness-close" value=""/>
                  <span class="select_label select_label-placeholder">Chọn giới tính</span>
                </li>

                <li class="select_items">
                  <input class="select_expand" type="radio" name="awesomeness" id="awesomeness-opener"/>
                  <label class="select_closeLabel" for="awesomeness-close"></label>

                  <ul class="select_options">
                    <li class="select_option">
                      <input class="select_input" type="radio" name="awesomeness" id="awesomeness-ridiculous"/>
                      <label class="select_label" for="awesomeness-ridiculous">Nam</label>
                    </li>

                    <li class="select_option">
                      <input class="select_input" type="radio" name="awesomeness" id="awesomeness-reasonable"/>
                      <label class="select_label" for="awesomeness-reasonable">Nữ</label>
                    </li>
                  </ul>

                  <label class="select_expandLabel" for="awesomeness-opener"></label>
                </li>
              </ul>
            </div>
            <div class="form-group clearfix box-gender-mobile">
              <div class="box-gender-nam">
                <input type="radio" id="huey" name="drone" value="huey" hecked>
                <label for="huey">Nam</label>
              </div>
              <div class="box-gender-nu">
                <input type="radio" id="dewey" name="drone" value="dewey">
                <label for="dewey">Nữ</label>
              </div>


            </div>
            <div class="form-group box-choose-day clearfix">
              <div class="box-choose">
                <input type="" class="form-control" id="" placeholder="Ngày">
              </div>
              <div class="box-choose">
                <input type="" class="form-control" id="" placeholder="Tháng">
              </div>
              <div class="box-choose">
                <input type="" class="form-control" id="" placeholder="Năm">
              </div>
            </div>
            <div class="form-group box-email-send clearfix">

              <div class="checkbox">
                <label><input type="checkbox"> Nhận thông tin và các chương trình ưu đã của Bệnh viện qua email</label>
              </div>
            </div>
            <div class="form-group clearfix">
              <button type="submit" class="btn btn-login btn-register">Đăng Ký</button>
            </div>

          </form>
        </div>
      </div>


    </div>
  </section>
</main>

