.drop-day {
  &.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  transition: all 0.3s ease;
}

.ar {
  &.show {
    opacity: 1;
    bottom: 0;
  }
}

.c-datepicker .ngb-dp-header {
  background: none;
}