<div class="item-inner" (clickOutside)="onClickOutSide($event)">
	<div class="ip ip-day">
		<input value="{{getDateString()}}" readonly="true" class="js-dropBooking-day" type="text" placeholder="{{'date' | translate}}" (click)="toggleExpandDate()">
		<em class="ar" [ngClass]="{'show': expanded}"></em>
		<div class="drop drop-day" [ngClass]="{'show': expanded}">
			<div class="calendar">
        <ngb-datepicker
				class="c-datepicker"
          #datePicker
          [startDate]="selectedDate"
          (select)="onDateSelect($event)"
          [minDate]="getMinDate()"
          [markDisabled]="getMarkDisableDate()"
          outsideDays="visible"
        ></ngb-datepicker>
      </div>
		</div>  
		<div class="block"><input type="hidden" class="js-input" name="bookingdate" data-message="Vui lòng chọn ngày thăm khám"></div>
	</div>
	<!-- <p class="note note-day">* Please select an appoitment date</p> -->						
</div>
