<main id="pContact">
  <div class="breadcrumb">
    <div class="container"><a href="index.html">Trang chủ</a> / <p>Liên hệ</p></div>
  </div>
  <div class="banner-contact" style="background: url(storage/2018/07/contact1531469167.jpg) no-repeat;">
    <div class="container">
      <div class="ct-banner">
        <div class="copy">
          <h3>MÔ HÌNH Y TẾ CỦA TƯƠNG LAI</h3>
          <p>Cho bạn những điều tốt đẹp nhất</p>
        </div>
      </div>
    </div>
  </div>
  <section class="contact-wrap">
    <div class="container clearfix">
      <div class="copy">
        <h3>Gửi câu hỏi của bạn cho chúng tôi</h3>
        <h4>BỆNH VIỆN QUỐC TẾ MỸ</h4>
        <p>
          Địa chỉ: Số 6, Đường Bắc Nam 3 (Lối vào 199 Nguyễn Hoàng), Phường An Phú, Quận 2, Tp.HCM<br/>
          Tel: <a href="tel:028 3910 9999">028 3910 9999</a><br/>
          Fax: <a href="tel:(84-8) 3924 6129 - 3924 6130">(84-8) 3924 6129 - 3924 6130</a><br/>
          Email: <a href="mailto:info@aih.com.vn">info@aih.com.vn</a>
        </p>
      </div>
      <div class="form-ct">
        <ul class="frmContact">
          <li>
            <div>
              <label>Họ tên*</label>
              <input type="text" name="fullname" class="js-required form-control" placeholder="">
            </div>
          </li>
          <li>
            <div>
              <label>Email*</label>
              <input type="text" name="email" class="js-required js-email form-control" placeholder="">
            </div>
          </li>
          <li>
            <div>
              <label>Câu hỏi</label>
              <textarea name="message" class="form-control"></textarea>
            </div>
          </li>
          <li>
            <div class="g-recaptcha" data-sitekey="6LfiNWoUAAAAAD6vpU0zFLh72P2PVR1Xr5zMinpL"></div>
            <input type="hidden" name="_token" value="VRktS3jTtN9lSqGJgCRwF1g6MI6H04c7KjOAS3Lv">
            <input class="btn-page" data-href="http://www.aih.com.vn/contact" type="submit" value="Gửi">
          </li>
        </ul>
      </div>
      <div class="rating">
        <h3>Đánh giá</h3>
        <ul class="frmRating">
          <li>
            <p>Bác sĩ</p>
            <div class="stars">
              <div class='rating-stars text-center'>
                <input type="hidden" name="doctor" class="js-required form-control" value="">
                <ul class='stars'>
                  <li class='star' title='Poor' data-value='1'></li>
                  <li class='star' title='Fair' data-value='2'></li>
                  <li class='star' title='Good' data-value='3'></li>
                  <li class='star' title='Excellent' data-value='4'></li>
                  <li class='star' title='WOW!!!' data-value='5'></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <p>Dịch vụ</p>
            <div class="stars">
              <div class='rating-stars text-center'>
                <input type="hidden" name="service" class="js-required form-control" value="">
                <ul class='stars'>
                  <li class='star' title='Poor' data-value='1'>
                  </li>
                  <li class='star' title='Fair' data-value='2'>
                  </li>
                  <li class='star' title='Good' data-value='3'>
                  </li>
                  <li class='star' title='Excellent' data-value='4'>
                  </li>
                  <li class='star' title='WOW!!!' data-value='5'>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <p>Cơ sở vật chất</p>
            <div class="stars">
              <div class='rating-stars text-center'>
                <input type="hidden" name="facilties" class="js-required form-control">
                <ul class='stars'>
                  <li class='star' title='Poor' data-value='1'>
                  </li>
                  <li class='star' title='Fair' data-value='2'>
                  </li>
                  <li class='star' title='Good' data-value='3'>
                  </li>
                  <li class='star' title='Excellent' data-value='4'>
                  </li>
                  <li class='star' title='WOW!!!' data-value='5'>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <p>Giá</p>
            <div class="stars">
              <div class='rating-stars text-center'>
                <input type="text" name="price" class="js-required form-control">
                <ul class='stars'>
                  <li class='star' title='Poor' data-value='1'>
                  </li>
                  <li class='star' title='Fair' data-value='2'>
                  </li>
                  <li class='star' title='Good' data-value='3'>
                  </li>
                  <li class='star' title='Excellent' data-value='4'>
                  </li>
                  <li class='star' title='WOW!!!' data-value='5'>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <label>Bình luận</label>
            <textarea name="rating_comment" class="form-control"></textarea>
          </li>
          <li>
            <input type="hidden" name="_token" value="VRktS3jTtN9lSqGJgCRwF1g6MI6H04c7KjOAS3Lv">
            <input type="submit" data-message="Vui lòng chọn ít nhất một dịch vụ."
                   data-href="http://www.aih.com.vn/rating" name="" value="Gửi">
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="map-home">
    <div id="mapCanvas"></div>
  </section>
</main>
