<main id="pContact" *ngIf="page">
  <div class="breadcrumb">
    <div class="container">
      <a routerLink="/">{{ 'home' | translate }}</a> /
      <p>{{ page ? page.name : '' }}</p></div>
  </div>

  <div class="banner-contact" *ngIf="banners && banners.length"
       [style.background]="'url(' + banners[0].large + ')'"
  >
    <div class="container">
      <div class="ct-banner">
        <div class="copy">
          <h3>{{ banners[0].Title }}</h3>
          <p>{{ banners[0].Content }}</p>
        </div>
      </div>
    </div>
  </div>

  <section class="contact-wrap">
    <div class="container clearfix">
      <div class="copy">
        <h3>{{ 'send_us_your_questions' | translate }}</h3>
        <h4>{{ page.name }}</h4>
        <div [innerHTML]="page.longDesc | decodeHtmlEntities"></div>
      </div>
      <app-contact-form></app-contact-form>
      <div *ngIf="showVote" class="rating">
        <h3>{{ 'rating' | translate }}</h3>
        <ul class="frmRating">
          <li>
            <p>{{ 'doctor' | translate }}</p>
            <app-rating
               [isReset]="isReset"
              (takePoint)="takePointDoctor($event)"
            ></app-rating>
          </li>
          <li>
            <p>{{ 'service' | translate }}</p>
            <app-rating
                    [isReset]="isReset"
                    (takePoint)="takePointService($event)"
            ></app-rating>
          </li>
          <li>
            <p>{{ 'facilties' | translate }}</p>
            <app-rating
                    [isReset]="isReset"
                    (takePoint)="takePointFaci($event)"
            ></app-rating>
          </li>
          <li>
            <p>{{ 'price' | translate }}</p>
            <app-rating
                    [isReset]="isReset"
                    (takePoint)="takePointPrice($event)"
            ></app-rating>
          </li>
          <li>
            <label>{{ 'comment' | translate }}</label>
            <textarea [(ngModel)]="content" name="rating_comment" class="form-control"></textarea>
          </li>
          <li>
            <input type="submit" name="" value="{{ 'send' | translate }}" (click)="submitRatingForm()">
          </li>
        </ul>
      </div>
    </div>
  </section>

  <app-section-map></app-section-map>
</main>
